<div class="vertical-flex">
    <div class="top-level-tabs">
        <div class="horizontal-flex row-fluid object-nav">
            <div class="flex oh object-breadcrumb">
                <a class="item" href="{{$state.href('external-table.summary')}}">
                    <i class="icon icon-table" style="background-color: #11a9df; color: white"></i>
                    <span class="title ellipsis">{{summary.table.key.name}}</span>
                </a>
            </div>

            <div class="noflex">
                <a class="tab" ng-class="{'enabled': $state.includes('external-table.summary')}"
                   href="{{$state.href('external-table.summary')}}" fw500-width>Summary</a>
                <a class="tab" ng-class="{'enabled': $state.includes('external-table.schema')}"
                   href="{{$state.href('external-table.schema')}}" fw500-width>Schema</a>
                <a class="tab" ng-class="{'enabled': $state.includes('external-table.sample')}"
                   href="{{$state.href('external-table.sample')}}" fw500-width>Sample</a>
                <a class="tab" ng-class="{'enabled': $state.includes('external-table.items')}"
                   href="{{$state.href('external-table.items')}}" fw500-width>{{wl.productShortName}} items</a>
                <div class="tab">
                    <button class="btn btn--primary btn--wide dropdown-toggle manual-caret" data-toggle="dropdown" ng-click="import()" style="vertical-align: baseline">Import</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane">


        <div class="container-fluid page-top-padding vertical-flex dss-page external-table"
             style="padding-top: 20px; padding-bottom: 10px; overflow: auto;">
            <div block-api-error/>
            <div ui-view ng-if="summary" class="h100"></div>
        </div>
    </div>

</div>