<div class="modal modal3">
  <div dku-modal-header modal-title="Navigation and help in DSS" modal-class="has-border"> </div>
  <div class="modal-body " style="text-align: center; padding-bottom: 0;">

    <div style="width:45%; display: inline-block; padding:1em;">
      <h4>
        Explore menu
      </h4>
      <p class="text-center">
        <img style="height: 25px" src="/static/dataiku/images/coachmarks/nav_menu.png"/>
      </p>

    </div>

    <div style="width:45%; display: inline-block; padding:1em; float: right;">
      <h4>
        Get help
      </h4>
      <p class="text-center">
        <img style="height: 25px" src="/static/dataiku/images/coachmarks/help_menu.png"/>
      </p>
    </div>

    <div style="padding-top: 1em;">
      <h4>
        Contextual help
      </h4>

       <p>
         <img style="height: 30px" src="/static/dataiku/images/coachmarks/pulsar.gif"/> Hover to read tooltips!
         <!-- <br>
         <br>
         <br>

        <span style="font-size: 0.8em; color: #666,"> Disable tooltips from the help menu <i class="icon-question-sign" style="opacity: 1; color: rgb(43, 178, 173);"></i> </span> -->
      </p>

    </div>

  </div>
  <div class="modal-footer modal-footer-std-buttons">
    <button type="submit" class="btn btn--text btn--primary" ng-click="setCoachmarkEverSeen();dismiss();">Got it !</button>
  </div>
</div>
