<div class="modal modal3 io-modal" auto-size="false">
    <div class="vertical-flex h100">
        <div dku-modal-header
             modal-class="has-border"
             modal-title="Merge Tags"/>

        <form class="flex dkuform-modal-wrapper dkuform-vertical-larger" name="mergeTagsForm">
            <div>
                <div class="vertical-flex h100">
                    <div block-api-error></div>
                    <div class="modal-body flex recipe-modal-io">
                        <div>
                            <div class="half-pane">
                                <h4 class="header-text" style="border-bottom: none">
                                    &nbsp;Inputs
                                </h4>
                                <div style="padding: 16px 40px 60px 40px" class="tags-settings">
                                    <div class="tags" ng-repeat="item in items">
                                        <div class="tag-row">
                                            <span class="tag-color noflex" style="background-color:{{item.color}}"/>
                                            {{item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="half-pane">
                                <h4 class="header-text" style="border-bottom: none">
                                    &nbsp;Output
                                </h4>
                                <div style="padding: 16px 40px 60px 40px" class="tags-settings">
                                    <div class="tags">
                                        <div class="tag-row">
                                            <span class="tag-color noflex color-picker" colorpicker colorpicker-with-input="true" ng-model="outputTag.color" style="background-color:{{outputTag.color}}"/>
                                            <input type="text" ng-model="outputTag.name" placeholder="Add a tag" style="max-width: 150px"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="noflex modal-footer modal-footer-std-buttons" data-block="buttons">
                        <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
                        <button type="submit"
                                ng-disabled="false"
                                class="btn btn--text btn--primary"
                                ng-click="doMergeTags()">
                            Merge
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>