<div class="coachmark" ng-controller="CoachmarkController">
	<!-- <div coachmark-header title="Click on cell" step-idx="3" nb-steps="5" /> -->
	<div coachmark-header title="Click on cell"/>
	<div class="content">
		<p>
			Contextual actions are also available when clicking on a single cell.
		</p>
		<p class="text-center">
			<img style="width: 60%" src="/static/dataiku/images/coachmarks/shaker-hello-cell-click-v0.gif" />
		</p>

		<p>
			By selecting a portion of the text, you get access to suggestions relevant to your selection.
		</p>
		<p class="text-center">
			<img style="width: 60%" src="/static/dataiku/images/coachmarks/shaker-hello-content-select-v1.gif" />
		</p>

	</div>
	<div coachmark-footer-regular />
</div>
