 <div class="coachmark" ng-controller="CoachmarkController">
 	<!-- <div class="arrow arrow-left-title" /> -->
	<div coachmark-header title="Column header"/>
	<div class="content">
		<p class="text-center">
			<img style="width: 80%" src="/static/dataiku/images/coachmarks/shaker-hello-column-click-v1.gif" />
		</p>
		<p>
			You can find actions by clicking on the header of a column.<br />
			DSS automatically suggests <strong>relevant transformations</strong>.
		</p>
        <p>
			Select <strong>Analyze...</strong> to get more details about a column.
		</p>
	</div>
	<div coachmark-footer-regular />
</div>
