<div>
    <div class="control-group">
        <label for="" class="control-label">Post-connect commands</label>
        <div class="controls">
            <div class="help-inline">
                These statements are run after the connection is created
            </div>
            <div style="height: 100px;">
                <textarea ng-model="connection.params.postConnectStatements" ui-codemirror="codeMirrorSettingService.get('text/x-sql')"></textarea>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label for="" class="control-label">Job post-connect commands</label>
        <div class="controls">
            <div class="help-inline">
                When used in a job context, these additional statements are run after the connection is created
            </div>
            <div style="height: 100px;">
                <textarea ng-model="connection.params.jobOnlyPostConnectStatements" ui-codemirror="codeMirrorSettingService.get('text/x-sql')"></textarea>
            </div>
        </div>
    </div>
</div>          
