<div style="background: white; padding: 10px 10px 0 10px; box-sizing: border-box; border: 1px #ccc solid; margin-top: 20px; margin-bottom:10px">
	<h4>Mass Hive tables import <span style="font-weight: normal">to project</span> {{massImportTargetProjectName}}</h4>
	<form class="dkuform-horizontal">
		<div class="control-group">
			<label for="" class="control-label">Target project</label>
			<div class="controls">
				<select dku-bs-select 
					ng-model="massImportTargetProjectKey" 
					ng-options="project.projectKey as project.name for project in projectsList" />
				<button class="btn btn--primary" ng-click="beginMassImport()" ng-disabled="!canBeginMassImport()">
					<i class="icon-download-alt" />&nbsp;Import tables
				</button>
			</div>
		</div>
	</form>
</div>