<div  class="vertical-flex w100 oh">
    <div ng-show="testing" class="alert alert-info"> <i class="icon-spin icon-spinner" />Please wait, testing connection</div>
    <div ng-show="testResult" class="vertical-flex-container w100 oh">
        <div ng-show="!testResult.connectionOK" class="alert alert-error vertical-flex w100" style="min-height: 100px;"><span summary-of-error="testResult.connectionError" class="vertical-flex oh"  /></div>
        <div ng-show="testResult.connectionOK" class="alert alert-success">
            <i class="icon-success" />Connection OK
            <div ng-show="testResult.testPayload">Test details: {{testResult.testPayload|json}}</div>
        </div>
    </div>
</div>