 <div class="modal modal3 move-copy-modal dku-modal" ng-controller="CopyPageController" auto-size="false">
    <div dku-modal-header modal-class="noflex has-border" modal-title="Copy Slide" />
    <form name="copyPageForm" class="dkuform-modal-wrapper dkuform-modal-horizontal">

        <div class="modal-body">

            <div block-api-error />

            <div class="control-group">
                <label class="control-label" for="copyPageName">Copy slide name</label>
                <div class="controls">
                    <input type="text" ng-model="copyPageName" id="copyPageName" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">To Dashboard</label>
                <div class="controls">
                    <select dku-bs-select="{liveSearch:true}"
                        ng-model="targetedDashboard"
                        ng-options="dashboard as dashboard.name for dashboard in dashboards">
                    </select>
                </div>
            </div>

            <div class="control-group" ng-show="advancedMode">
                <div class="controls">
                    <label>
                        <input type="checkbox" ng-model="pointerMode"/>
                        Create all tiles in the new slide as pointers to the copied slide's insights instead of duplicating them.
                    </label>
                </div>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <div class="advanced-parameters"> <!-- so that it's aligned with the rest of the modal's content -->
                <label>
                    <input type="checkbox" ng-model="advancedMode">&nbsp;Advanced parameters
                </label>
            </div>
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-click="copyPage();">Copy</button>
        </div>

    </form>
</div>
