<div class="dashboard-zone h100" id="qa_dashboard_main-zone">
    <!-- The ng-switch is a quick and dirty way to ensure that the directive will be reinitialized when the pages changes -->
    <div class="dashboard-page-wrapper dashboard-export-page-wrapper fh h100" ng-switch on="dashboard.pages[uiState.currentPageIdx]" ng-if="dashboard.pages[uiState.currentPageIdx]" ng-style="dashboard.pages[uiState.currentPageIdx].backgroundColor && {'background-color':dashboard.pages[uiState.currentPageIdx].backgroundColor}">
        <dashboard-page page="dashboard.pages[uiState.currentPageIdx]"
                        insights-map="insightsMap"
                        access-map="insightAccessMap"
                        editable="editable"
                        selected-tile="uiState.selectedTile"
                        show-grid="dashboard.showGrid"
                        page-idx="uiState.currentPageIdx"
                        dashboard="dashboard"
                        dku-ui-state="uiState"
                        can-edit-dashboard="canEditDashboard(dashboard)"
                        can-moderate-dashboards="canModerateDashboards()"
                        ng-switch-default />
    </div>
</div>
