<div ng-if="! computable.usableAsInput[roleName].usable" class="disabled">
    <a ng-if="computable.localProject">
        <i class="icon-plus"></i>
        <div class="illustration noflex">
			<i ng-if="computable.type == 'DATASET'" class="{{computable.dataset.type | datasetTypeToIcon}}"></i>
            <i ng-if="computable.type == 'MANAGED_FOLDER'" class="icon-box"></i>
            <i ng-if="computable.type == 'MODEL_EVALUATION_STORE'" class="icon-model-evaluation-store"></i>
			<i ng-if="computable.type == 'SAVED_MODEL'" class="icon-machine_learning_regression"></i>
		</div>
        {{computable.label}}
        <small>
            <span ng-bind="computable.usableAsInput[roleName].reason" />
        </small>
    </a>
    <a ng-if="!computable.localProject">
        <i class="icon-plus"></i>
        <div class="illustration noflex">
			<i ng-if="computable.type == 'DATASET'" class="{{computable.dataset.type | datasetTypeToIcon}}"></i>
            <i ng-if="computable.type == 'MANAGED_FOLDER'" class="icon-box"></i>
            <i ng-if="computable.type == 'MODEL_EVALUATION_STORE'" class="icon-model-evaluation-store"></i>
			<i ng-if="computable.type == 'SAVED_MODEL'" class="icon-machine_learning_regression"></i>
		</div>
        {{computable.label}} (from project {{computable.projectKey}})
        <small>
            <span ng-bind="computable.usableAsInput[roleName].reason" />
        </small>
    </a>
</div>

<div ng-if="computable.usableAsInput[roleName].usable">
    <a ng-click="acceptAddInput(computable)" ng-if="computable.localProject">
    	<i class="icon-plus"></i>
        <div class="illustration noflex">
			<i ng-if="computable.type == 'DATASET'" class="{{computable.dataset.type | datasetTypeToIcon}}"></i>
            <i ng-if="computable.type == 'MANAGED_FOLDER'" class="icon-box"></i>
            <i ng-if="computable.type == 'MODEL_EVALUATION_STORE'" class="icon-model-evaluation-store"></i>
			<i ng-if="computable.type == 'SAVED_MODEL'" class="icon-machine_learning_regression"></i>
		</div>
        {{computable.label}}
    </a>
    <a ng-click="acceptAddInput(computable)" ng-if="!computable.localProject">
        <i class="icon-plus"></i>
        <div class="illustration noflex">
			<i ng-if="computable.type == 'DATASET'" class="{{computable.dataset.type | datasetTypeToIcon}}"></i>
            <i ng-if="computable.type == 'MANAGED_FOLDER'" class="icon-box"></i>
            <i ng-if="computable.type == 'MODEL_EVALUATION_STORE'" class="icon-model-evaluation-store"></i>
			<i ng-if="computable.type == 'SAVED_MODEL'" class="icon-machine_learning_regression"></i>
		</div>
        {{computable.label}} (from project {{computable.projectKey}})
    </a>
</div>