<div ng-if="! computable.usableAsInput[role.name].usable" class="disabled">
    <a ng-if="computable.localProject" title="{{computable.label}}">
    	<i class="icon-plus"></i>
        <div class="illustration noflex">
			<i ng-if="computable.type == 'DATASET'" class="{{computable.dataset.type | datasetTypeToIcon}}"></i>
            <i ng-if="computable.type == 'MANAGED_FOLDER'" class="icon-box"></i>
            <i ng-if="computable.type == 'MODEL_EVALUATION_STORE'" class="icon-model-evaluation-store"></i>
			<i ng-if="computable.type == 'SAVED_MODEL'" class="icon-machine_learning_regression"></i>
            <i ng-if="computable.type == 'STREAMING_ENDPOINT'" class="{{computable.streamingEndpoint.type | datasetTypeToIcon}}"></i>
    	</div>
        {{computable.label}}
    </a>
    <a ng-if="!computable.localProject" title="{{computable.label}} (from project {{computable.projectKey}})">
    	<i class="icon-plus"></i>
        <div class="illustration noflex">
			<i ng-if="computable.type == 'DATASET'" class="{{computable.dataset.type | datasetTypeToIcon}}"></i>
            <i ng-if="computable.type == 'MANAGED_FOLDER'" class="icon-box"></i>
            <i ng-if="computable.type == 'MODEL_EVALUATION_STORE'" class="icon-model-evaluation-store"></i>
			<i ng-if="computable.type == 'SAVED_MODEL'" class="icon-machine_learning_regression"></i>
            <i ng-if="computable.type == 'STREAMING_ENDPOINT'" class="{{computable.streamingEndpoint.type | datasetTypeToIcon}}"></i>
		</div>
        {{computable.label}} (from project {{computable.projectKey}})
    </a>
    <small>
		<span ng-bind="computable.usableAsInput[role.name].reason" />
	</small>
</div>

<div ng-if="computable.usableAsInput[role.name].usable">
    <a ng-click="acceptAddInput(computable)" ng-if="computable.localProject" title="{{computable.label}}"> 
        <i class="icon-plus"></i>
        <div class="illustration noflex">
			<i ng-if="computable.type == 'DATASET'" class="{{computable.dataset.type | datasetTypeToIcon}}"></i>
            <i ng-if="computable.type == 'MANAGED_FOLDER'" class="icon-box"></i>
            <i ng-if="computable.type == 'MODEL_EVALUATION_STORE'" class="icon-model-evaluation-store"></i>
			<i ng-if="computable.type == 'SAVED_MODEL'" class="icon-machine_learning_regression"></i>
            <i ng-if="computable.type == 'STREAMING_ENDPOINT'" class="{{computable.streamingEndpoint.type | datasetTypeToIcon}}"></i>
		</div>
        {{computable.label}}
    </a>
    <a ng-click="acceptAddInput(computable)" ng-if="!computable.localProject" title="{{computable.label}} (from project {{computable.projectKey}})">
        <i class="icon-plus"></i>
        <div class="illustration noflex">
			<i ng-if="computable.type == 'DATASET'" class="{{computable.dataset.type | datasetTypeToIcon}}"></i>
            <i ng-if="computable.type == 'MANAGED_FOLDER'" class="icon-box"></i>
            <i ng-if="computable.type == 'MODEL_EVALUATION_STORE'" class="icon-model-evaluation-store"></i>
			<i ng-if="computable.type == 'SAVED_MODEL'" class="icon-machine_learning_regression"></i>
            <i ng-if="computable.type == 'STREAMING_ENDPOINT'" class="{{computable.streamingEndpoint.type | datasetTypeToIcon}}"></i>
		</div>
        {{computable.label}} (from project {{computable.projectKey}})
    </a>
</div>