<div class="modal modal3 recipe-modal-io">
    <div dku-modal-header modal-title="Add an output" modal-class="has-border"/>
    <form class="dkuform-modal-wrapper">
        <div class="modal-body" style="overflow:visible;">
            <div include-no-scope="/templates/recipes/io/visual-recipe-creation-output.html" />
        </div>

        <div class="modal-footer modal-footer-std-buttons" global-keydown="{'enter':'joinIsValid() && addJoin();', 'esc': 'dismiss();' }">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" ng-disabled="formIsValid()" class="btn btn--text btn--primary" ng-click="ok(dismiss)">
                Use dataset
            </button>
        </div>
    </form>
</div>
