<div class="flex">
    <div class="h100">
        <div class="vertical-flex h100">
            <div class="flex">
                <div include-no-scope="/templates/recipes/io/visual-recipe-creation-new-dataset.html" ng-show="io.newOutputTypeRadio == 'create'"/>
                <div ng-show="io.newOutputTypeRadio == 'select'">
                    <div class="suggested-new-output-dataset h100">
                        <form name="forms.newOutputDatasetForm" class="dkuform-vertical-larger">
                            <div class="control-group">
                                <label for="" class="control-label"></label>
                                <div class="controls">
                                    <div dataset-selector="io.existingOutputDataset" available-datasets="availableOutputDatasets" ></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div include-no-scope="/templates/recipes/io/visual-recipe-creation-new-streaming-endpoint.html" ng-show="io.newOutputTypeRadio == 'new-se'"/>
            </div>
            <div class="noflex dku-switches">
                <div style="clear: both;"></div>
                <div ng-show="singleOutputRole.acceptsDataset" style="display: inline-block;">
                    <a ng-click="io.newOutputTypeRadio = 'create';" ng-class="{'selected' : io.newOutputTypeRadio == 'create'}">New dataset</a>
                        |
                </div>
                <a ng-click="io.newOutputTypeRadio = 'select';" ng-class="{'selected' : io.newOutputTypeRadio == 'select'}">Use existing{{singleOutputRole.acceptsStreamingEndpoint ? '' : ' dataset'}}</a>
                <div ng-show="singleOutputRole.acceptsStreamingEndpoint" style="display: inline-block;">
                        |
                    <a ng-click="io.newOutputTypeRadio = 'new-se';" ng-class="{'selected' : io.newOutputTypeRadio == 'new-se'}">New streaming endpoint</a>
                </div>
            </div>
        </div>
    </div>
</div>