<div class="scenario">
    <div class="future-icon">
        <div class="h100 center-children">
            <i class="icon-list universe-color recipe" />
        </div>
    </div>

    <div class="future-body">
        <div class="abort" ng-show="!clusterKernel.aborted"
            ng-click="clusterKernel.confirming = true;"
            ng-mouseenter="clusterKernel.hoverClose = true" ng-mouseleave="clusterKernel.hoverClose = false" ng-class="{hovered : clusterKernel.hoverClose}">
            <span>Abort</span>
            <del>&times;</del>
        </div>
        <div class="aborted" ng-if="clusterKernel.aborted">
            <span>aborted</span>
        </div>
        <div class="name mx-textellipsis">{{clusterKernel.prefix}} validation</div>
        <div class="details">
            <span class="duration" ng-if="!clusterKernel.aborted">
                Idle since {{clusterKernel.lastTouched | friendlyTimeDelta}}
            </span>
        </div>
    </div>
    <div future-abort-confirmation="clusterKernel" abort-msg="'Abort the validation kernel?'" abort-fn="abortKernel(clusterKernel)" ></div>
</div>
