debug {
    display: none;
    position: relative;
    max-height: 400px;
    overflow: auto;
}
debug:after {
    content: attr(data);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.25em 0.5em;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    border-width: 0 0 1px 1px;
    border-radius: 0 0.25em;
    text-transform: capitalize;
}
body.showDebug debug {
    display: block;
}

[json-formater] {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 10px;
    line-height: 12px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
[json-formater] .group {
    display: inline;
}
[json-formater] .group .bracket {
    display: inline;
}
[json-formater] .group ul {
    border-left: 1px dotted rgba(0, 0, 0, 0.1);
}
[json-formater] .group.folded {
    cursor: pointer;
}
[json-formater] .group.folded ul li {
    font-size: 0;
    line-height: 0;
}
[json-formater] .group.folded .bracket.start {
    float: left;
}
[json-formater] .group.folded .bracket.start:after {
    content: '...';
    background: rgba(255, 255, 155, 0.5);
}
[json-formater] .group.hovered > ul {
    background: rgba(255, 255, 155, 0.5);
}
[json-formater] ul {
    line-height: 14px;
    margin: 0;
}
[json-formater] ul li {
    line-height: 14px;
    list-style: none;
    padding-left: 2em;
}
[json-formater] .string {
    color: #090;
}
[json-formater] .number {
    color: blue;
}
[json-formater] .boolean {
    color: red;
}
[json-formater] .undefined,
[json-formater] .null {
    color: #ccc;
}
[json-formater] .key {
    opacity: 0.8;
    float: left;
    margin-right: 0.5em;
    cursor: pointer;
}
[json-formater] .value {
    margin-left: 0.5em;
}
