<div class="empty" ng-if="selection.filteredObjects.length === 0">
    <div>No model matches the filters</div>
    <button type="button" class="btn btn--text btn--primary" ng-if="mlTaskStatus.fullModelIds.length > 0" ng-click="clearModelsListFilters()">Clear filters</button>
</div>
<div class="fh vertical-flex" ng-if="selection.filteredObjects.length>0">
    <div class="models-table__container h100" models-table-data>
        <div fat-table class="h100 models-table"
             headers="displayedTableColumns"
             rows="displayedTableRows"
             column-widths="displayedColumnsWidths"
             cell-template="/templates/analysis/models-table-cell.html"
             header-template="/templates/analysis/models-table-header.html"
             header-height="46"
             row-height="36"
             as="cell"
             digest-child-only="true"
             tabindex="0"
             ng-keydown="multiSelectKeydown($event, true)">
        </div>
    </div>
</div>