<div class="fh models-snippets-view" ng-if="selection.filteredObjects.length>0">
    <div class="fh oa model-snippets"
    	fat-repeat="selection.filteredObjects"
    	as="model"
    	tabindex="0"
    	style="outline:none"
    	ng-keydown="multiSelectKeydown($event)"
    	row-height="220">
        <div class="models-detailed-item" style="width: 1000px; margin: 0 auto; border-left-color: {{model.color}}" model-snippet current-metric="uiState.currentMetric" task-type="mlTasksContext.activeMLTask.taskType" snippet-source="ANALYSIS" snippet-data="model" />
    </div>
</div>
<div class="empty" ng-if="selection.filteredObjects.length===0">
	<div>No model matches the filters</div>
	<button type="button" class="btn btn--text btn--primary" ng-if="mlTaskStatus.fullModelIds.length > 0" ng-click="clearModelsListFilters()">Clear filters</button>
</div>
