<div class="pad16" ng-if="!appConfig.userProfile.mayVisualML" visual-ml-access-check></div>
<div class="ml-task-cards" ng-if="appConfig.userProfile.mayVisualML">
    <section class="ml-task-card" ng-click="newPrediction(undefined, datasetSmartName)">
        <div class="ml-task-card__image">
            <img ng-src="/static/dataiku/images/models/icon-classification-transparent.png">
        </div>
        <h4 class="ml-task-card__title">Prediction</h4>
        <p class="ml-task-card__description">
            Cross-selling, churn, fraud, likeliness to click or to purchase... Understand the drivers of your business and predict what could happen next.
        </p>
    </section>
    <section class="ml-task-card" ng-click="newClustering(datasetSmartName)">
        <div class="ml-task-card__image">
            <img ng-src="/static/dataiku/images/models/icon-clustering-transparent.png">
        </div>
        <h4 class="ml-task-card__title">Clustering</h4>
        <p class="ml-task-card__description">
            Look for hidden patterns and uncover groups of items sharing the same behavior, or find anomalies in your data.
        </p>
    </section>
</div>
