<div class="modal modal3 new-analysis-modal dku-modal" ng-controller="NewAnalysisModalController">
    <div dku-modal-header-with-totem modal-class="noflex" modal-title="New analysis" modal-totem="icon-dku-nav_analysis" />
    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
            <div block-api-error></div>
            <div class="control-group modal-first-cg-clear-totem">
                <label for="" class="control-label">Dataset to analyse</label>
                <div class="controls">
                    <div dataset-selector="newAnalysis.datasetSmartName"
                        available-datasets="availableDatasets" required></div>
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">New analysis name</label>
                <div class="controls">
                    <input type="text" ng-model="newAnalysis.name" required />
                </div>
            </div>
        </div>
        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" ng-disabled="!newAnalysis.datasetSmartName || theform.$invalid" class="btn btn--text btn--primary" ng-click="create()">Create analysis</button>
        </div>
    </form>
</div>
