<div bundle-config-content config-content="contentSummary.configContent" />

<div class="row-fluid recipe-modal-io">
    <div class="span3">
        <h5>Datasets</h5>
        <div ng-if="!contentSummary.includedDatasets.length">No included datasets</div>
        <ul class="chosen">
            <li ng-repeat="idd in contentSummary.includedDatasets">
                <div class="horizontal-flex">
                    <div class="dataset illustration noflex"><i class="{{idd.type|datasetTypeToIcon}}"></i></div>
                    <div class="information flex mx-textellipsis">{{idd.name}}</div>
                    <div class="noflex"><small>{{ idd.size | fileSizeOrNA }}</small></div>
                </div>
            </li>
        </ul>
    </div>

    <div class="span3">
        <h5>Managed folders</h5>
        <div ng-if="!contentSummary.includedManagedFolders.length">No included managed folders</div>
        <ul class="chosen">
            <li ng-repeat="folder in contentSummary.includedManagedFolders">
                <div class="horizontal-flex">
                    <div class="folder illustration noflex"><i class="icon-box"></i></div>
                    <div class="information flex mx-textellipsis">{{folder.name}}</div>
                    <div class="noflex"><small>{{ folder.size | fileSizeOrNA }}</small></div>
                </div>
            </li>
        </ul>
    </div>

    <div class="span3">
        <h5>Saved models</h5>
        <div ng-if="!contentSummary.includedSavedModels.length">No included saved models</div>
        <ul class="chosen">
            <li ng-repeat="model in contentSummary.includedSavedModels">
                <div class="horizontal-flex">
                    <div class="model illustration noflex"><i class="icon-machine_learning_regression"></i></div>
                    <div class="information flex mx-textellipsis">{{model.name}}</div>
                    <div class="noflex"><small>{{ model.size | fileSizeOrNA }}</small></div>
                </div>
            </li>
        </ul>
    </div>

    <div class="span3" ng-if="featureFlagEnabled('model_evaluation_stores') || contentSummary.includedModelEvaluationStores.length > 0">
        <h5>Model evaluation stores</h5>
        <div ng-if="!contentSummary.includedModelEvaluationStores.length">No included model evaluation stores</div>
        <ul class="chosen">
            <li ng-repeat="store in contentSummary.includedModelEvaluationStores">
                <div class="horizontal-flex">
                    <div class="evaluation-store illustration noflex"><i class="icon-model-evaluation-store"></i></div>
                    <div class="information flex mx-textellipsis">{{store.name}}</div>
                    <div class="noflex"><small>{{ store.size | fileSizeOrNA }}</small></div>
                </div>
            </li>
        </ul>
    </div>
</div>