<div class="container-fluid h100 summary-tab page-top-padding fh" ng-if="odb">
    <div block-api-error />
    <div class="row-fluid h100">
        <div class="span9 h100 oa" style="padding-right: 5px">
            <div class="summary"
                editable-summary
                editable="canWriteProject()"
                object="odb"
                object-interest="objectInterest"
                object-type="MANAGED_FOLDER"
                get-tags="getTags"
                tag-color="tagColor">
            </div>
        </div>
        <div class="span3 h100">
            <div object-timeline-with-post
                object-type="'MANAGED_FOLDER'"
                project-key="odb.projectKey"
                object-id="odb.id"
                initial-timeline="objectTimeline"
                class="h100">
            </div>
        </div>
    </div>
</div>