<div class="modal modal3">
    <div dku-modal-header modal-title="Overwrite files" modal-class="has-border" />
<div class="modal-body">
    <div class="row-fluid managed-folder-overwrite">
        <div block-api-error></div>
        <p>Some files are already present on the server. Overwrite?</p>
        
        <label class="checkbox overwrite-list-aligned">
       		<input type="checkbox" ng-model="selectAll"/>Select all
		</label>
        <ul class="overwrite-files-list">
            <li ng-repeat="file in alreadyPresent">
      			<label class="checkbox">
       				<input type="checkbox" ng-model="file.overwrite"/>/{{file.name}}
				</label>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer modal-footer-std-buttons">
    <div class="pull-right">
        <button type="button" class="btn btn--text btn--secondary" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn--text btn--primary" ng-click="confirm()">Upload</button>
    </div>
</div>
</div>