<div class="modal modal3 dku-modal">
    <div dku-modal-header-with-totem modal-title="{{creation ? 'New API Key' : 'Edit API Key'}}" modal-totem="icon-unlock-alt" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">

            <div class="control-group">
                <label class="control-label">Label</label>
                <div class="controls">
                    <input type="text" ng-model="apiKey.label" placeholder="Label" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
                    <input type="text" ng-model="apiKey.description" placeholder="What should this key be used for?" />
                </div>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-click="resolveModal(apiKey)"
                ng-bind="creation ? 'Add' : 'OK'"></button>
        </div>

    </form>
</div>
