<div>
    <select dku-bs-select data-qa-select="{{qa}}" ng-if="accessibleParameterSetDescriptions != null"
            ng-model=$preset.choice ng-required="paramDesc.mandatory" ng-disabled="disabled" options-descriptions="accessibleParameterSetDescriptions">
        <option ng-repeat="preset in accessiblePresets" value="{{preset.name}}" ng-disabled="!preset.usable">{{preset.label || preset.name}}</option>
    </select>
    <div ng-if="model.mode == 'INLINE'" style="margin-top: 10px;">
        <autoconfig-form params="inlinePluginParams"
                         model="model.inlinedPluginConfig"
                         plugin-id="pluginId"
                         component-id="componentId"
                         error-scope="errorScope">
        </autoconfig-form>
        <autoconfig-form params="inlineParams"
                         model="model.inlinedConfig"
                         plugin-id="pluginId"
                         component-id="componentId"
                         error-scope="errorScope">
        </autoconfig-form>
    </div>
</div>
