<div ng-show="tooltip.bullets">
    <ul class="raw-unstyled-ul">
        <li ng-repeat="bullet in tooltip.bullets" ng-show="bullet.text != 'Unknown'">
            <span class="bullet" style="background-color: {{bullet.color}}" /> {{bullet.text | number : fractionSize}} rows
        </li>
    </ul>
    <span ng-show="tooltip.val.countOfRecords.totalValue == -1">
    	Unknown number of rows
	</span>
</div>

<div ng-show="tooltip.val.countOfRecords.lastComputed" style="padding: 5px">
	Last computed <strong>{{tooltip.val.countOfRecords.lastComputed |friendlyDateTime}}</strong>
</div>

<div style="padding: 5px">
    <ul class="raw-unstyled-ul">
        <li ng-show="tooltip.val.autoCompute">
            <i class="icon-refresh" style="color: green; margin-right:10px;" /> Will be automatically computed after build
        </li>
        <li ng-show="tooltip.val.autoCompute === false">
            <i class="icon-refresh" style="color: grey; margin-right:10px;" /> Will not be automatically computed after build
        </li>
    </ul>
</div>