<div style="padding: 5px 10px;">
	<span ng-if="!tool.selectableFields">No selectable fields</span>
	<span ng-if="tool.selectableFields">Select field</span>
	<form class="dkuform-std-vertical" style="margin: 0" ng-if="tool.selectableFields">
		<div class="control-group" style="margin: 0">
			<div class="controls" ng-switch on="tool.selectableFields">
				<select ng-switch-default dku-bs-select="{liveSearch:true}" ng-model="tool.currentSession.options.selectedCustomField" ng-options="cf.name as cf.label for cf in tool.selectableFields"  ng-change="tool.refreshStateLater(true)" />
			</div>
		</div>
	</form>
</div>