<div ng-show="tooltip.bullets">
    <ul class="raw-unstyled-ul">
        <li ng-repeat="bullet in tooltip.bullets" class="break-all">
            <span class="bullet" style="background-color: {{bullet.color}}" />
            <span ng-show="bullet.text != 'Unknown'"> {{bullet.text |filesize}} </span>
            <span ng-show="bullet.text == 'Unknown'"> Unknown </span>
        </li>
    </ul>
</div>

<div ng-show="tooltip.val.size.lastComputed" style="padding: 5px" class="break-all">
	Last computed <strong>{{tooltip.val.size.lastComputed |friendlyDateTime: 'EEEE, d MMMM yyyy'}}</strong>
</div>