<div ng-show="tooltip.bullets || tooltip.bulletsTitle">
	<div class="subtitle" ng-show="tooltip.bulletsTitle" style="padding: 5px">{{tooltip.bulletsTitle}}</div>
	<ul class="raw-unstyled-ul">
		<li ng-repeat="bullet in tooltip.bullets">
            <span class="bullet" style="background-color: {{bullet.color}}" /> {{bullet.text}}
        </li>
	</ul>
</div>

<div style="padding: 5px" ng-show="tooltip.val.variantLabel">
    {{tooltip.val.variantLabel}}
</div>


<div ng-show="tooltip.val.statusWarnLevel == 'ERROR'" style="color: #ce1329; padding: 5px">
	<i class="icon-remove-sign"/>
	This recipe's engine has errors
	<span ng-show="tooltip.val.statusMessage.length">
		: <br />
		{{tooltip.val.statusMessage}}
	</span>
</div>

<div ng-show="tooltip.val.statusWarnLevel == 'WARN'" style="color: #orange; padding: 5px">
	<i class="icon-warning-sign" />
	This recipe's engine has warnings
	<span ng-show="tooltip.val.statusMessage.length">
		: <br />
		{{tooltip.val.statusMessage}}
	</span>

</div>