<div class="modal modal3 modal-w700" auto-size="false">
    <div dku-modal-header-with-totem modal-title="Partitions" modal-totem="icon-code-fork" />
    <form class="dkuform-modal-horizontal build-dataset-form multiple dkuform-modal-wrapper disablable" name="theform">
        <div class="modal-body w100 pad0">
            <div class="computables">
                <div ng-repeat="computable in computables" class="computable">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="horizontal-flex">
                                <i class="{{getIcon(computable)}} icon noflex" />
                                <h4 class="flex mx-textellipsis" show-tooltip-on-text-overflow text-tooltip="computable.name" >{{computable.name}}</h4>
                            </div>
                        </div>
                        <div partition-selector partitioning="computable.partitioning" build-partitions="computable.buildPartitions" bem-modifier="'partition-selector--inline'" class="span6"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="button" class="btn btn--text btn--primary" ng-disabled="theform.$invalid" ng-click="continue()">OK</button>
        </div>
    </form>
</div>