<div class="modal modal3 dku-modal">
    <div dku-modal-header-with-totem modal-title="Add a dashboard" modal-totem="icon-plus" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
          <div class="row-fluid control-group">
              <label class="control-label">Dashboard</label>
              <div class="controls">
                  <select required dku-bs-select="{liveSearch:true,size:'auto'}" ng-model="newDashboard" ng-options="dashboard as (dashboard.name) for dashboard in dashboards"/>
              </div>
          </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="submit" class="btn btn--text btn--primary" ng-disabled="theform.$invalid" ng-click="addToList()">Add</button>
        </div>

    </form>

</div>