<div>
    <div ng-include ="'/templates/scenarios/fragments/step-header.html'"></div>
    <div class="alert alert-info">
        This step creates a new export of a RMarkdown report
    </div>
    <form name="setupForm" class="dkuform-horizontal" >
        <div class="control-group">
            <label class="control-label">RMarkdown report</label>

            <div class="controls">
                <div object-picker="step.params.reportId" type="REPORT" />
            </div>
        </div>
    </form>
    <hr />
    <form name="setupForm" class="dkuform-horizontal" >
        <div class="control-group">
            <label class="control-label">Ignore failure</label>
            <div class="controls">
                <input type="checkbox" ng-model="step.params.proceedOnFailure"></input>
                <span class="help-inline">Don't mark the sceanrio as failed, even if the export fails</span>
            </div>
        </div>
    </form>
    <div ng-include ="'/templates/scenarios/fragments/step-run-condition.html'"></div>
</div>