<div ng-controller="CustomPythonScenarioController">
	<div class="top-level-tabs objecttype-scenario">
		<div class="horizontal-flex row-fluid object-nav">
			<div class="flex oh" std-object-breadcrumb />
			<div class="noflex">
				<a class="tab dku-fw500-width" ng-class="{'enabled': topNav.tab == 'summary'}" ui-sref="projects.project.scenarios.scenario.summary"><span fw500-width>&nbsp;Summary</span></a>
				<a class="tab dku-fw500-width" ng-class="{'enabled': topNav.tab == 'settings'}" ui-sref="projects.project.scenarios.scenario.settings"><span fw500-width>&nbsp;Settings</span></a>
				<a class="tab dku-fw500-width" ng-class="{'enabled': topNav.tab == 'script'}" ui-sref="projects.project.scenarios.scenario.script"><span fw500-width>&nbsp;Script</span></a>
				<a class="tab dku-fw500-width" ng-class="{'enabled': topNav.tab == 'runs'}" ui-sref="projects.project.scenarios.scenario.runs.list"><span fw500-width>&nbsp;Last runs</span></a>
				<a class="tab dku-fw500-width" ng-class="{'enabled': topNav.tab == 'history'}" ui-sref="projects.project.scenarios.scenario.history"><span fw500-width>&nbsp;History</span></a>

				<div class="otherLinks" include-no-scope="/templates/scenarios/fragments/save-scenario-bar.html" />
			</div>
		</div>
	</div>
	<div ui-view class="dss-page"></div>
</div>