<div class="modal modal3 dku-modal" >
    <div dku-modal-header-with-totem modal-title="Edit custom variables code" modal-totem="icon-code_python_recipe" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
		    <textarea ng-model="variablesCode" ui-codemirror="editorOptions" ></textarea>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-click="keep()">OK</button>
        </div>

    </form>

</div>