<div class="modal modal3 dku-modal">
    <div dku-modal-header modal-class="has-border" modal-title="Fake a run" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
          <div class="row-fluid control-group">
              <label class="control-label">Date</label>
              <div class="controls">
                <input type="date" ng-model="$$date" input-date-conversion="date"></input>
                <input type="time" ng-model="$$time" input-time-conversion="time"></input>
              </div>
          </div>
          <div class="row-fluid control-group">
              <label class="control-label">Repeats</label>
              <div class="controls">
                <input type="number" ng-model="repeats" min="1" max="1000" />
              </div>
          </div>
          <div class="row-fluid control-group">
              <label class="control-label">Spacing (in s)</label>
              <div class="controls">
                <input type="number" ng-model="spacing" min="60" />
              </div>
          </div>
          <div class="row-fluid control-group">
              <label class="control-label">Outcome</label>
              <div class="controls">
              	<select dku-bs-select ng-model="outcome" ng-options="o for o in outcomes"></select>
              </div>
          </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-disabled="theform.$invalid" ng-click="run()">Run</button>
        </div>

    </form>

</div>