<div class="vertical-flex">
	<div ng-controller="AutomationOutcomesController">
		<div class="top-level-tabs objecttype-scenario">
			<div class="horizontal-flex row-fluid object-nav">
				<div class="flex oh" std-object-breadcrumb />
				<div class="noflex" ng-show="appConfig.licensedFeatures.temporalTriggerAllowed || appConfig.licensing.ceEntrepriseTrial">
					<a class="tab" ng-class="{'enabled': $state.is('automation.outcomes')}" ui-sref="automation.outcomes" fw500-width>Daily summary</a>
					<a class="tab" ng-class="{'enabled': $state.is('automation.timeline')}" ui-sref="automation.timeline" fw500-width>Timeline</a>
					<a class="tab" ng-class="{'enabled': $state.is('automation.triggers')}" ui-sref="automation.triggers" fw500-width>Triggers</a>
					<a class="tab" ng-class="{'enabled': $state.is('automation.reporters')}" ui-sref="automation.reporters" fw500-width>Reporters</a>
				</div>
			</div>
		</div>
		<div ui-view class="dss-page container-fluid"></div>
		<feature-locked class="dss-page container-fluid" style="margin-top: 10px;" feature-name="'Automation servers and bundles'" ng-if="!(appConfig.licensedFeatures.temporalTriggerAllowed || appConfig.licensing.ceEntrepriseTrial)"></feature-locked>
	</div>
</div>