<div ng-controller="InvalidateCacheStepController">
    <div ng-include ="'/templates/scenarios/fragments/step-header.html'" style="display: inline-block;"></div>
    <div class="alert alert-info">
        This step invalidates some cached data for datasets.
    </div>
    <form name="setupForm" class="dkuform-horizontal" >
		<div class="control-group">
			<step-items-table items="step.params.invalidates" can-dataset="true" can-managed-folder="false" can-saved-model="false" no-partition-selection="true" needs-partitions="false" datasets="datasets" savedmodels="savedmodels" managedfolders="managedfolders"></step-items-table>
		</div>
	</form>
	<hr />
	<div ng-include ="'/templates/scenarios/fragments/step-run-condition.html'"></div>
</div>