<div ng-controller="OutcomesViewController" class="scenario-outcomes h100" >
	<div class="h100 vertical-flex">
        <div block-api-error></div>
		<div class="noflex data-selection-header">
			<div class="horizontal-flex" >
				<div class="noflex">
					<span style="padding: 0 5px;">Range</span>
					<div class="list-daterange-box" style="display: inline-block; line-height: 0;">
						<div daterangepicker class="picker" opens-direction="down" start-date="outcomesRange.from" end-date="outcomesRange.to" format="YYYY-MM-DD" presets-to-end-of-day="true"></div>
						<a ng-click="refreshOutcomes()"><span class="right-add-on">
							<i ng-class="{'icon-refresh': true, 'icon-spin': refreshing}"></i>
						</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="flex">
			<div class="fh" ng-if="outcomes.rows.length > 0">
				<div class="h100" ng-include="'/templates/scenarios/outcomes-graph.html'"></div>
			</div>
            <div class="fh center-children" ng-if="outcomes.rows.length == 0">
                <span class="range-is-empty">No scenario runs in the selected range in any project</span>
            </div>
		</div>

	</div>
</div>
