<div data-extend-template="/templates/dialogs/paste-modal-template.html">
    <span data-block="error-message">
        Invalid steps pasted. Please verify that the steps were copied correctly.
    </span>
    <div data-block="post-paste">
        <div class="scenario-preview">
            <p>The following <strong>{{ uiState.items.length }}</strong> {{ 'step' | plurify: uiState.items.length }} will be added:</p>
            <ul>
                <li ng-repeat="step in uiState.items" class="paste-modal__list-item">
                    <span class="type">{{ getDisplayType(step) }}</span>
                    <span class="name">{{ getDisplayName(step) }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
