<div ng-controller="PrepareLambdaPackageStepController">
	<div ng-include ="'/templates/scenarios/fragments/step-header.html'"></div>
    <div class="alert alert-info">
        This step builds a new version of an API service from the API Designer
    </div>
    
	<form name="setupForm" class="dkuform-horizontal" >
        <div class="control-group">
            <label class="control-label">API Service</label>

            <div class="controls">
                  <select required dku-bs-select="{liveSearch: true}" ng-model="step.params.serviceId" ng-options="service.id as service.id for service in services"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">New version id.</label>
            <div class="controls">
                <input type="text" ng-model="step.params.packageId" />
                <span class="help-inline">
                    Identifier of the new version to create. Note that you can use the option below to make it unique each time you rebuild. Variables expansion is supported.
                </span>
            </div>
        </div>
		<div class="control-group">
			<label class="control-label">Make version id. unique</label>
			<div class="controls">
                <label>
				    <input type="checkbox" ng-model="step.params.transmogrify"></input>
				    <span class="help-inline">Suffixes the version identifier with a number that will make it unique</span>
                </label>
			</div>
		</div>
        <div class="control-group">
            <label class="control-label">Target variable</label>
            <div class="controls">
                <input type="text" ng-model="step.params.targetVariable"></input>
                <span class="help-inline">Name of the variable in which the generated version id will be inserted. The variable has a scenario scope and can be used in subsequent steps</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Publish on Deployer</label>
            <div class="controls">
                <label>
                    <input type="checkbox" ng-model="step.params.publishToAPIDeployer"></input>
                    <span class="help-inline">Should the newly created version be published on Deployer?</span>
                </label>
            </div>
        </div>
        <div class="control-group" ng-if="step.params.publishToAPIDeployer">
            <div>
                <label class="control-label">Target service</label>
            </div>
            <div class="controls">
                <div ng-switch="publishedServices">
                    <select dku-bs-select="{'liveSearch': true, 'noneSelectedText': 'No service selected'}"
                            ng-switch-default
                            ng-model="ui.selectedPublishedService"
                            ng-options="s as (s.createServiceMessage || s.serviceBasicInfo.name) for s in publishedServices"
                            options-annotations="publishedServiceIds" required>
                    </select>
                </div>
            </div>
        </div>
        <div class="control-group" ng-if="step.params.publishToAPIDeployer && ui.selectedPublishedService.createServiceMessage">
            <div>
                <label class="control-label" for="serviceId">New service id</label>
            </div>
            <div class="controls">
                <input id="serviceId" type="text" ng-pattern="/^\w+$/" ng-model="ui.selectedPublishedService.id" required />
                <div class="help-inline">
                    Should be unique
                </div>
            </div>
        </div>
	</form>
    <hr />
    <div ng-include ="'/templates/scenarios/fragments/step-run-condition.html'"></div>
</div>
