<div ng-controller="RefreshChartCacheStepController">
    <div ng-include ="'/templates/scenarios/fragments/step-header.html'" style="display: inline-block;"></div>
    <div class="alert alert-info">
        This step prefills the charts cache for all datasets used on a number of dashboard.
    </div>
	<form name="setupForm" class="dkuform-horizontal" >
		<div class="control-group">
			<label class="control-label">Force refresh</label>
			<div class="controls">
				<input type="checkbox" ng-model="step.params.force"/>
				<span class="help-inline">Refresh the statistics & chart cache even if the data has not changed</span>
			</div>
		</div>
		<div class="control-group">
			<step-dashboards-table items="step.params.dashboards" dashboards="dashboards"></step-dashboards-table>
		</div>
	</form>
	<hr />
	<div ng-include ="'/templates/scenarios/fragments/step-run-condition.html'"></div>


</div>