<div ng-controller="RetrieveActiveModelVersionFromDeploymentController">
    <div ng-include="'/templates/scenarios/fragments/step-header.html'" style="display: inline-block;"></div>
    <div class="alert alert-info">
        This step retrieve the Full Model ID of the active version of a deployed model. If multiple versions are active, the one with the highest probability is picked.
    </div>

    <form name="descriptionForm" class="dkuform-horizontal">
        <div class="control-group">
            <label class="control-label">Deployment</label>
            <div class="controls">
                <input type="text" bs-typeahead="uiState.deploymentsStatusList" ng-model="step.params.deploymentId" placeholder="Start typing a deployment id..." data-min-length="0" next-on-enter required />
                <span class="help-inline">
                    Identifier of the deployment. Variable expansion is supported.
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Endpoint</label>
            <div class="controls">
                <input type="text" bs-typeahead="uiState.currentEndpoints" ng-model="step.params.endpointId" placeholder="Start typing an endpoint id..." data-min-length="0" next-on-enter required />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Scenario variable to set</label>
            <div class="controls">
                <input type="text" ng-model="step.params.variableName">
                <span class="help-inline">Name of the Scenario Variable to set with the ID of the active version of a deployed model.</span>
            </div>
        </div>
    </form>

    <hr/>
    <div ng-include="'/templates/scenarios/fragments/step-run-condition.html'"></div>
</div>