<div ng-controller="UpdateVariablesStepController">
	<div ng-include ="'/templates/scenarios/fragments/step-header.html'"></div>
	<div class="alert alert-info">
        This step runs global variables update code (Jython)
    </div>
    
	<form name="setupForm" class="dkuform-horizontal" >
		<div class="control-group">
			<label class="control-label">Update code</label>
			<span class="help-inline">Leave empty to use the update code defined in DSS's settings</span>
			<div class="controls">
                <textarea ng-model="step.params.updateCode" ui-codemirror="codeMirrorSettingService.get('text/x-python')"></textarea>
			</div>
		</div>
	</form>
	<hr />
	<div ng-include ="'/templates/scenarios/fragments/step-run-condition.html'"></div>
</div>