<div ng-controller="SetProjectVariablesStepController">
    <div ng-include ="'/templates/scenarios/fragments/step-header.html'" style="display: inline-block;"></div>
    <div class="alert alert-info">
    	This step persistently updates the project variables in the project settings
    </div>
    <form name="setupForm" class="dkuform-horizontal" >
		<div include-no-scope="/templates/scenarios/fragments/define-variables-step-config.html" />
		<div class="control-group">
			<label class="control-label">Project key</label>
			<div class="controls">
				<input type="text" ng-model="step.params.projectKey" />
				<span class="help-inline">Empty: use the scenario's project</span>
			</div>
		</div>
	</form>
	<hr />
	<div ng-include ="'/templates/scenarios/fragments/step-run-condition.html'"></div>

</div>