<div ng-controller="SetGlobalVariablesStepController">
    <div ng-include ="'/templates/scenarios/fragments/step-header.html'" style="display: inline-block;"></div>
    <div class="alert alert-info">
        This step persistently updates the global variables in the {{wl.productShortName}} settings.
    </div>
	<form name="setupForm" class="dkuform-horizontal" >
		<div include-no-scope="/templates/scenarios/fragments/define-variables-step-config.html" />
	</form>
	<hr />
	<div ng-include ="'/templates/scenarios/fragments/step-run-condition.html'"></div>

</div>