<div class="modal modal3 dku-modal">

    <div dku-modal-header-with-totem modal-title="Add a continuous activity" modal-totem="icon-plus" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
            <div class="row-fluid control-group">
                <label class="control-label">Continuous activity</label>
                <div class="controls">
                    <select dku-bs-select="{liveSearch:true,size:'auto'}"
                        ng-model="newContinuousActivity"
                        ng-options="c.recipeId as c.recipeId for c in continuousActivities"
                        required
                        />

                </div>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="submit" class="btn btn--text btn--primary" ng-disabled="theform.$invalid" ng-click="addToList()">Add</button>
        </div>
    </form>

</div>