<div ng-controller="StopContinuousActivityStepController">
	<div ng-include ="'/templates/scenarios/fragments/step-header.html'" style="display: inline-block;"></div>
    <div class="alert alert-info">
        This step changes the desired state of continuous activities to 'stopped' and kills their run loop if its running
    </div>

    <form name="setupForm" class="dkuform-horizontal" >
        <div class="control-group">
            <step-continuous-activities-table items="step.params.continuousActivityIds" continuous-activities="continuousActivities" action-verb="to stop"></step-continuous-activities-table>
        </div>
    </form>

    <div ng-include ="'/templates/scenarios/fragments/step-run-condition.html'"></div>

</div>