<div ng-controller="UpdateProjectDeployerDeploymentStepController">
    <div ng-include ="'/templates/scenarios/fragments/step-header.html'"></div>
    <div class="alert alert-info">
        This step updates the project bundle referenced by a Project Deployer deployment, and triggers an update of the deployment so that the new bundle is activated.
    </div>

    <form name="setupForm" class="dkuform-horizontal" >
        <div class="control-group">
            <label class="control-label">Deployment id</label>
            <div class="controls">
                <input type="text" ng-model="step.params.deploymentId" bs-typeahead="deploymentIds" placeholder="Start typing a deployment id..." data-min-length="0" next-on-enter required />
                <span class="help-inline">
                    Identifier of the deployment to update. Variable expansion is supported.
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">New bundle id</label>
            <div class="controls">
                <input type="text" ng-model="step.params.newVersionId" bs-typeahead="bundleIds" placeholder="Start typing a bundle id..." data-min-length="0" next-on-enter required />
                <span class="help-inline">
                    Identifier of the bundle to activate. Variable expansion is supported.
                </span>
            </div>
        </div>
    </form>
    <hr />
    <div ng-include ="'/templates/scenarios/fragments/step-run-condition.html'"></div>
</div>