<div class="modal modal3">
    <form class="dkuform-modal-wrapper" global-keydown="{'esc': 'cancel();' }">
        <!-- Eat the focus so that a dangerous button don't get it -->
        <input type="hidden" autofocus="true" />
        <dku-modal-header modal-title="Abort train" modal-close="dismiss"></dku-modal-header>
        <div class="modal-body tight-body" >
            <p>Are you sure to want to abort?</p>
        </div>
        <div class="modal-footer modal-footer-std-buttons">
            <div class="pull-right">
                <button type="button" class="btn btn--text btn--primary" ng-if="gsModels.length>0" ng-click="finalize();">Suspend optimization</button>
                <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss();">Cancel</button>
                <button type="button" class="btn btn--text btn--danger" ng-click="confirm();">Confirm</button>
            </div>
        </div>
    </form>
</div>
