<div class="modal modal3">
    <div dku-modal-header-with-totem modal-title="Export model to notebook" modal-totem="icon-code_python_recipe" />

    <form name="notebookForm" class="dkuform-modal-horizontal dkuform-modal-wrapper">
        <div block-api-error />
        <div class="top-info-zone has-border large-padding">
            <div class="row-fluid">
                This will create a Python notebook with the code and comments associated with this model, allowing you to customize all aspects of the training.
            </div>
        </div>
        <div class="modal-body tight-body">
            <div class="control-group">
                <label class="control-label">Notebook name</label>
                <div class="controls">
                    <input type="text" class="input-large" ng-model="formData.notebookName" ng-pattern="/^[^#.*/\\]+$/" required/>
                </div>
            </div>
        </div>
        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" ng-click="dismiss()" class="btn btn--text btn--secondary">Cancel</button>
            <button ng-click="createNotebook()" ng-disabled="notebookForm.$invalid" class="btn btn--text btn--primary">Create</button>
        </div>
    </form>
</div>