<option value="NONE">None</option>
<option value="CUSTOM">Custom</option>
<option disabled="disabled">---</option>
<option value="AFRIKAANS">Afrikaans</option>
<option value="ALBANIAN">Albanian</option>
<option value="ARABIC">Arabic</option>
<option value="ARMENIAN">Armenian</option>
<option value="BASQUE">Basque</option>
<option value="BENGALI">Bengali</option>
<option value="BULGARIAN">Bulgarian</option>
<option value="CATALAN">Catalan</option>
<option value="CHINESE">Chinese</option>
<option value="CROATIAN">Croatian</option>
<option value="CZECH">Czech</option>
<option value="DANISH">Danish</option>
<option value="DUTCH">Dutch</option>
<option value="ENGLISH">English (legacy)</option>
<option value="ENGLISH_2021">English</option>
<option value="ESTONIAN">Estonian</option>
<option value="FINNISH">Finnish</option>
<option value="FRENCH">French (legacy)</option>
<option value="FRENCH_2021">French</option>
<option value="GERMAN">German</option>
<option value="GREEK">Greek</option>
<option value="GUJARATI">Gujarati</option>
<option value="HEBREW">Hebrew</option>
<option value="HINDI">Hindi</option>
<option value="HUNGARIAN">Hungarian</option>
<option value="ICELANDIC">Icelandic</option>
<option value="INDONESIAN">Indonesian</option>
<option value="IRISH">Irish</option>
<option value="ITALIAN">Italian</option>
<option value="JAPANESE">Japanese</option>
<option value="KANNADA">Kannada</option>
<option value="KOREAN">Korean</option>
<option value="LATVIAN">Latvian</option>
<option value="LITHUANIAN">Lithuanian</option>
<option value="LUXEMBOURGISH">Luxembourgish</option>
<option value="MACEDONIAN">Macedonian</option>
<option value="MALAYALAM">Malayalam</option>
<option value="MARATHI">Marathi</option>
<option value="NEPALI">Nepali</option>
<option value="NORWEGIAN">Norwegian</option>
<option value="PERSIAN">Persian</option>
<option value="POLISH">Polish</option>
<option value="PORTUGUESE">Portuguese</option>
<option value="ROMANIAN">Romanian</option>
<option value="RUSSIAN">Russian</option>
<option value="SANSKRIT">Sanskrit</option>
<option value="SERBIAN">Serbian</option>
<option value="SINHALA">Sinhala</option>
<option value="SLOVAK">Slovak</option>
<option value="SLOVENIAN">Slovenian</option>
<option value="SPANISH">Spanish</option>
<option value="SWEDISH">Swedish</option>
<option value="TAGALOG">Tagalog</option>
<option value="TAMIL">Tamil</option>
<option value="TATAR">Tatar</option>
<option value="TELUGU">Telugu</option>
<option value="THAI">Thai</option>
<option value="TURKISH">Turkish</option>
<option value="UKRAINIAN">Ukrainian</option>
<option value="URDU">Urdu</option>
<option value="VIETNAMESE">Vietnamese</option>
<option value="YORUBA">Yoruba</option>
