<div class="full-sample-toggling">
    <span class="label">{{prefix}}</span>
    <select dku-bs-select class="partition-select" ng-model="sampleMode" ng-options="s as s.label for s in sampleModes">
    </select>
    <div ng-if="uiState.useFullSampleStatistics" style="display: inline-block;">
        <button ng-click="configureFullSampleStatistics()" class="btn btn--secondary btn--icon"><i class="icon-cog"></i></button>
        <div ng-if="computingFullMetrics == null && column" custom-element-popup cep-position="align-right-bottom" close-on-click="true" style="display: inline-block;">
            <button ng-click="togglePopover()" class="mainzone btn btn--success dropdown-toggle">
                Compute <span class="caret"></span>
            </button>
            <ul class="popover custom-element-popup-popover dropdown-menu">
                <li><a ng-click="doComputeFullMetrics(columnName, true)">on this column</a></li>
                <li><a ng-click="doComputeFullMetrics(null, true)">on all columns</a></li>
            </ul>
        </div>
        <button ng-if="computingFullMetrics == null && column == null" ng-click="doComputeFullMetrics(null, true)" class="btn btn--success">
            Compute
        </button>
        <button ng-if="computingFullMetrics != null" ng-click="abortComputingFullMetrics()" class="btn btn--danger">Abort</button>
        <a ng-if="computingFullMetrics != null" class="computing-link" ng-click="showProgressModal()">Computing&hellip;</a>

        <div ng-show="fatalAPIError && fatalAPIError.errorType" contextual-menu cep-position="align-right-top" ng-click="toggleContextualMenu($event)" class="last-run-result list-control-widget" >
            <span>
                <i class="icon-dku-error" style="color: #b94a48;"></i>
                   Failed to compute <i class="icon-arrow-right "></i>
            </span>
            <div class="contextualMenu oa" ng-show="contextualMenu" style="z-index: 3100;">
                <div block-api-error />
            </div>
        </div>
        <div ng-if="lastComputeResult" contextual-menu cep-position="align-right-top" ng-click="toggleContextualMenu($event)" class="last-run-result list-control-widget" >
            <span>
                <i class="icon-dku-error" style="color: #b94a48;"></i>
                   Last computation results <i class="icon-arrow-right "></i>
            </span>
            <div class="contextualMenu last-metrics-run-results oa" ng-show="contextualMenu" style="z-index: 3100;">
                <div>Started {{lastComputeResult.startTime | date:'yyyy/MM/dd HH:mm'}}, finished {{lastComputeResult.endTime | date:'yyyy/MM/dd HH:mm'}}</div>
                <div ng-repeat="run in lastComputeResult.runs">
                    <div>Run on {{run.engine}}</div>
                    <div ng-if="run.error" class="alert alert-error">
                        <div>

                            <i class="icon-dku-error" />&nbsp;{{run.error.clazz}} : <span class="preserve-eol">{{run.error.message}}</span>
                            <div ng-click="run.expandError = !run.expandError"><i class="icon-eye"></i>&nbsp;Stacktrace</div>
                        </div>
                        <div class="error-info preserve-eol" ng-if="run.expandError" >{{run.error.stack}}</div>
                    </div>
                    <div ng-if="run.logTail != null && run.logTail.lines.length > 0" class="alert alert-info">
                        <div ng-click="run.expandLog = !run.expandLog"><i class="icon-eye"></i>&nbsp;Log</div>
                        <div class="error-info" ng-if="run.expandLog">
                            <div ng-repeat="line in run.logTail.lines track by $index">{{line}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    
    </div>
</div>
