<div class="shaker-cell-value-popup" ng-controller="ShakerCellValuePopupController">
	<div ng-show="jsonEnabled">
		<div class="section">
			<div class="oa" style="max-height: 200px">
				<pre json-formater="jsonValue" />
			</div>
			<div class="bottom">
				<a class="pull-right" ng-click="jsonEnabled = false; $event.stopPropagation()">View raw value</a>
				<div ng-show="jsonDetails.type == 'array'">Array with {{jsonDetails.length}} elements ({{jsonDetails.strLength}} chars)</div>
				<div ng-show="jsonDetails.type == 'object'">Object with {{jsonDetails.nbKeys}} keys ({{jsonDetails.strLength}} chars)</div>
			</div>
		</div>
		
	</div>
	<div ng-show="!jsonEnabled">
		<div class="oa" style="max-height: 200px">
			<pre class="value">{{cellValue}}</pre>
		</div>
	</div>
</div>