<div column-filter class="accordion-group filter-accordion-group">
    <div class="big-filter-heading" ng-class="{'active': ffGroup.active}">
        <span class="ff-info"><span class="ff-column-name" title="{{ffGroup.column}}">{{ffGroup.column}}</span>&nbsp; <span class="ff-value">({{getFilterChipInfo()}})</span></span>
        <span class="disable-switch filter-btn" ng-click="ffGroup.active = !ffGroup.active"><i class="icon-off"></i></span>
        <span class="delete filter-btn" ng-click="removeFFByColumn(ffGroup.column)"> <i class="icon-trash"></i></span>
    </div>
    <div class="separator-wrapper"><hr /></div>
    <div include-no-scope="/templates/shaker/column-filter-panel.html" />
</div>
