<div class="filter-content">
    <div class="simple-filter">
        <form class="dkuform-std-vertical">
            <ul class="processor-field">
                <li class="processor-field">
                    <fieldset>
                        <span class="fieldLabel">Filter values</span></br>
                        <ng2-values-list [(items)]="filter.values"></ng2-values-list>
                    </fieldset>
                </li>
                <li class="processor-field">
                    <fieldset>
                        <span class="fieldLabel">Match mode</span></br>
                        <select ng-model="filter.params.mode" required
                                ng-options="key as label for (key, label) in filterModes"
                                ng-change="changeNormModeIfRegexp()">
                        </select>
                    </fieldset>
                </li>
                <li class="processor-field">
                    <fieldset>
                        <span class="fieldLabel">Normalization mode</span></br>
                        <select ng-model="filter.params.normalization" required
                                ng-options="key as label for (key, label) in filterNormalizations"
                                ng-disabled="filter.params.mode === 'pattern'">
                        </select>
                    </fieldset>
                </li>
            </ul>
        </form>
    </div>
</div>
