<div class="modal modal3 modal-max-height400" auto-size="false" >
    <div dku-modal-header modal-title="Change storage type" modal-class="has-border" />
    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
            <div block-api-error></div>
            <p ng-repeat="warning in warnings">{{warning}}</p>
            
            <p ng-show="extraActions">Additionally, you may want to perform the following operation(s):</p>

            <div ng-repeat="extraAction in extraActions" style="margin-bottom: 10px;">
                <label class="checkbox">
                    <input type="checkbox" ng-model="extraAction.selected">{{extraAction.label}}</input>
                </label>
                <span class="help-inline" style="width: auto; margin-left: 50px;">{{extraAction.comment}}</span>
            </div>
        </div>
        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--danger" ng-click="ok()">OK</button>
        </div>
    </form>
</div>
