<div class="filter-content">
    <div class="validity-filter">
        <div class="validity-repartition ok" style="flex-basis:{{(filterTmpData[filter.column].okPercentage)}}%" ng-class="{'empty-space':isNaN(filterTmpData[filter.column].okPercentage)}"></div>
        <div class="validity-repartition nok" style="flex-basis:{{(filterTmpData[filter.column].nokPercentage)}}%" ng-class="{'empty-space':isNaN(filterTmpData[filter.column].nokPercentage)}"></div>
        <div class="validity-repartition empty" style="flex-basis:{{(filterTmpData[filter.column].emptyPercentage)}}%" ng-class="{'empty-space':isNaN(filterTmpData[filter.column].emptyPercentage)}"></div>
        
    	<span class="btn-group" data-toggle="buttons-radio">
            <button ng-click="toggleAll();" type="button" class="ok" ng-disabled="isAll()"
                    ng-class="{'active':isAll()}"><i ng-class="isAll() ? 'icon-check' : 'icon-check-empty'"></i> All</button>
    		<button ng-click="toggleOk();" type="button" class="ok"
    				ng-class="{'active':filter.params.ok && !isAll()}"><i ng-class="filter.params.ok && !isAll() ? 'icon-check' : 'icon-check-empty'"></i> OK ({{displayValue(filterTmpData[filter.column].okPercentageStr)}})</button>
    		<button ng-click="toggleNok();" type="button" class="nok"
    				ng-class="{'active':filter.params.nok && !isAll()}"><i ng-class="filter.params.nok && !isAll() ? 'icon-check' : 'icon-check-empty'"></i> NOK ({{displayValue(filterTmpData[filter.column].nokPercentageStr)}})</button>
    		<button ng-click="toggleEmpty();" type="button" class="empty"
    				ng-class="{'active':filter.params.empty && !isAll()}"><i ng-class="filter.params.empty && !isAll() ? 'icon-check' : 'icon-check-empty'"></i> Empty ({{displayValue(filterTmpData[filter.column].emptyPercentageStr)}})</button>
    	</span>
    </div>
</div>
