<div class="modal modal3 dku-modal">
    <div dku-modal-header-with-totem modal-title="Warnings" modal-totem="icon-warn" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body warnings-details">
			<div  style="overflow: auto; max-height: 400px;">
				<ul class="warnings">
					<li ng-repeat="(type, data) in table.warnings.warnings" class="warning">
						<h4>{{type}} occurred {{data.count}} times</h4>
						<ul>
							<li ng-repeat="example in data.stored">{{example.message}}</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="submit" ng-click="dismiss()" class="btn btn--text btn--secondary">Close</button>
        </div>
    </form>
</div>