<div class="modal modal3 dku-modal" ng-controller="APIDeployerServiceCreationModalController">
    <div dku-modal-header-with-totem modal-title="New service" modal-totem="icon-plus" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
            <div block-api-error />

            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" required ng-model="newService.name" />
                    <span class="help-inline">Display name (any character authorized)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Unique ID</label>
                <div class="controls">
                    <input type="text" ng-model="newService.id" required ng-pattern="/^[_A-Za-z0-9-]+$/"/>
                    <span class="help-inline">alphanumeric characters, hyphens and underscores</span>
                </div>
            </div>

        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit"
                class="btn btn--text btn--primary"
                ng-disabled="(!newService.id || !newService.name)"
                ng-click="ok()"
                >
                Add
            </button>
        </div>
    </form>
</div>