<form on-any-blur="checkAndRefresh()" name="processorForm" ng-controller="MultiColumnByPrefixFoldController"
	publish-in-parent="processorForm">
	<fieldset>
		<span class="fieldLabel">
			Columns to fold pattern
			<span class="modes">
				<a class="smart-extractor-btn" ng-click="openSmartRegexBuilder()">
					Find with Smart Pattern
				</a>
			</span>
		</span>
		<input type="text" class="submit-on-blur" ng-trim="false" ng-model="step.params.columnNamePattern"
			ng-required="true" next-on-enter required="required">
	</fieldset>
	<fieldset>
		<span class="fieldLabel">Column for fold name</span>
		<input type="text" class="submit-on-blur" ng-trim="false" ng-model="step.params.columnNameColumn"
			ng-required="true" next-on-enter required="required">
	</fieldset>
	<fieldset>
		<span class="fieldLabel">Column for fold value</span>
		<input type="text" class="submit-on-blur" ng-trim="false" ng-model="step.params.columnContentColumn"
			ng-required="true" next-on-enter required="required">
	</fieldset>
	<fieldset>
		<label>
			<input ng-model="step.params.foldRemoveFoldedColumns" type="checkbox" ng-change="checkAndRefresh()"
				class="submit-on-blur">
			Remove folded columns
		</label>
	</fieldset>
</form>