<form ng-controller="ClearOnCustomFormulaController" class="grel-step" name="processorForm" publish-in-grand-grand-parent="processorForm">
	<fieldset>
		<label for="" class="control-label">Expression</label>
		<div class="pull-right">
			<button ng-click="edit()" class="btn btn--primary">Edit</button>
		</div>
		<pre style="border-radius: 0; padding: 10px 0;">{{step.params.expression}}</pre>
	</fieldset>
	 <fieldset on-any-blur="checkAndRefresh()">
        <span class="fieldLabel">Flag column</span>
        <input
            type='text'
            bs-typeahead='step.$stepState.change.columnsBeforeStep'
            autocomplete='off'
            ng-trim="false"
           	required="true"
            data-min-length='0'
            ng-model='step.params.clearColumn'
            class="submit-on-blur"
            />
    </fieldset>
</form>