<form on-any-blur="checkAndRefresh()" name="processorForm" publish-in-grand-grand-parent="processorForm" ng-controller="MeaningTranslateController">
    <div include-no-scope="/templates/shaker/processors/processor-applies-to.html" />

    <fieldset ng-show="step.params.appliesTo == 'SINGLE_COLUMN'">
        <span class="fieldLabel">Output column (empty for in-place)</span>
        <input
                type="text"
                ng-model="step.params.outCol"
                class="submit-on-blur"
                next-on-enter/>
    </fieldset>

    <fieldset>
        <span class="fieldLabel">Meaning</span><br/>
        <select dku-bs-select
                ng-model="step.params.meaningId"
                class="submit-on-blur"
                next-on-enter
                required
                ng-options="meaning.id as meaning.label for meaning in meanings"
                >
        </select>
    </fieldset>
</form>