<div class='fh h100 w100 vertical-flex tile-set tile-rectangle-content'
     ng-class="$ctrl.rowDesc.rowType" filtered-multi-select-rows ng-model="$ctrl.rowDesc.rowSet">

    <home-expanded-header></home-expanded-header>
    <div ng-if="selection.filteredObjects.length==0" class="empty-list-cta" >
        <p>{{$ctrl.noItemsText()}}</p>
    </div>
    <div class="scrollbox" axis="y" drag-scroll fat-repeat="selection.filteredObjects" as="object"  layout-mode="mosaic"
         row-height="$ctrl.rowHeight" col-width="$ctrl.rowWidth" list-padding="$ctrl.fatListPadding">
        <ng-transclude>
        </ng-transclude>
    </div>
</div>