<div class='tile qa_homepage-tile_type-{{ $ctrl.object.tileType }} tile-for--{{$ctrl.object.forTileType || "main"}}' ng-if="$ctrl.object" ng-class="$ctrl.object.tileType" ng-right-click="$ctrl.openContextMenu($event)" full-click contain-click="true">
    <subtile-my-item ng-if="$ctrl.object.tileType=='my-item'" item="$ctrl.object" ></subtile-my-item>
    <subtile-project ng-if="$ctrl.object.tileType=='project'" project="$ctrl.object" ></subtile-project>
    <subtile-app ng-if="$ctrl.object.tileType=='app'" app="$ctrl.object" ></subtile-app>
    <subtile-dashboard ng-if="$ctrl.object.tileType=='dashboard'" dashboard="$ctrl.object" ></subtile-dashboard>
    <subtile-promoted-wiki ng-if="$ctrl.object.tileType=='promoted-wiki'" promoted-wiki="$ctrl.object" is-clickable="$ctrl.isClickable"></subtile-promoted-wiki>
    <subtile-skeleton ng-if="$ctrl.object.tileType=='skeleton'" skeleton="$ctrl.object" ></subtile-skeleton>
    <subtile-project-folder ng-if="$ctrl.object.tileType=='project-folders'" folder="$ctrl.object"></subtile-project-folder>


    <div ng-if="!$ctrl.object.disableStar" class="star">
        <star-interest status="$ctrl.object.starred"
                       on-toggle="$ctrl.starObject(nextStatus)"
        ></star-interest>
    </div>
    <div ng-if="$ctrl.isShowMenuCaret()" class="tile-menu popover-btn qa_homepage-tile_options" ng-click="$ctrl.toggleMenu($event)">
        <i class="compute-cog icon-ellipsis-vertical mainzone cursor-pointer"></i>
    </div>
</div>