<div class="modal modal3 modal-w800" auto-size="false">
    <div dku-modal-header-with-totem modal-title="Commit changes" />

	<div class="modal-body" style="min-height: 250px">
		<div block-api-error />

        <div class="alert alert-info">
            Saving with a commit message allows you to annotate your changes.
            The message will be visible under the "History" tab and in the project changes.
        </div>

        <div style="margin: 20px 20px 0 20px;" class="dku-border code-mirror h200px" autocompletable-textarea no-markdown="true">
            <textarea ng-model="commitData.message" ui-codemirror="editorOptions" ng-if="editorOptions" />
        </div>
    </div>

    <div class="modal-footer modal-footer-std-buttons">
		<button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
		<button type="button" class="btn btn--text btn--primary" ng-click="commit()">Commit</button>
	</div>
</div>