<div class="item-header">
	<div>
		<span ng-click="item.$expanded = !item.$expanded" style="width: 25px; display: inline-block; font-size: 16px;">
			<i ng-class="{'icon-chevron-down' : item.$expanded == true, 'icon-chevron-right' : item.$expanded != true}"></i>
		</span>
		<span class="sort-handle" ng-if="canDrag" style="width: 20px; display: inline-block;">
			<i class="icon-move"></i>
		</span>
		<h4 style="display: inline-block;">{{displayType}}</h4>
		<div class="name">
			<form class="dkuform-horizontal">
				<div ng-if="editingName">
					<div class="control-group">
						<div class="controls">
							<input type="text" ng-model="item.name"
						       dku-local-keypress="{'esc' : 'toggleEditingName()'}"
						       ng-blur="toggleEditingName()"
						       auto-focus="true"></input>
						</div>
					</div>
				</div>
				<div ng-if="!editingName" ng-click="toggleEditingName()" >
					<span ng-if="item.name && item.name.length > 0">{{item.name}}</span>
					<span ng-if="!item.name || item.name.length == 0" class="placeholder">+ add a name</span>
				</div>
			</form>
		</div>
	</div>
	<button type="button" class="close" aria-hidden="true" ng-click="remove()" style="float: none; display: inline-block;">&times;</button>
	<!-- <form class="dkuform-horizontal">
		<div class="control-group">
			<div class="controls" style="margin-left: 0px;">
				<div ng-if="editingDescription">
					<textarea
                            ng-model="item.description"
                            placeholder="short description"
                            dku-local-keypress="{'esc' : 'toggleEditingDescription()'}"
                            ng-blur="toggleEditingDescription()"
                            auto-focus="true">
                        </textarea>
				</div>
				<div ng-if="!editingDescription" ng-click="toggleEditingDescription()" >
					<span ng-if="item.description && item.description.length > 0">{{item.description}}</span>
					<span ng-if="!item.description || item.description.length == 0" class="placeholder">+ add a description</span>
				</div>
			</div>
		</div>
	</form> -->
</div>
