<div block-api-error></div>

<div ng-show="type=='SAVED_MODEL'" select-saved-model-version-form params="params"></div>
<div ng-show="type=='ANALYSIS'" select-analysis-model-form params="params"></div>
<hr/>

<div class="control-group">
    <label class="control-label">Template</label>
    <div class="controls">
        <label>
            <input type="radio" ng-model="params.defaultTemplate" ng-value="true" ng-checked="params.defaultTemplate">
            Use the default template
        </label>
        <label>
            <input type="radio" ng-model="params.defaultTemplate" ng-value="false" ng-checked="!params.defaultTemplate">
            Select a custom template
        </label>
    </div>
</div>
<div ng-show="!params.defaultTemplate" select-mdg-template-form params="params"></div>



