<form name="descriptionForm" class="dkuform-horizontal reporter-header horizontal-flex" >
	<span class="noflex cursor-pointer type-wrapper" ng-click="reporter.$expanded = !reporter.$expanded">
		<span class="expand-button">
			<i ng-class="{'icon-chevron-down' : reporter.$expanded, 'icon-chevron-right' : !reporter.$expanded}"></i>
		</span>
		<span class="type" ng-show="!reporter.messaging.type">Reporter</span>
		<span class="type" ng-show="reporter.messaging.type">{{getIntegrationTypeLabel(reporter.messaging.type)}}</span>
	</span>
	<div class="flex">
		<input class="name" type="text" ng-model="reporter.name" placeholder="Name"></input>
	</div>
	<span class="noflex active">Active</span>
	<label class="noflex dku-toggle" style="margin-right: 30px;">
	    <input type="checkbox" ng-model="reporter.active" />
	    <span/>
	</label>
	<a class="noflex delete" aria-hidden="true" ng-click="removeReporter(reporter)" >&times;</a>
</form>
