<div>
    <span>
        <span ng-if="!scenarioIsDirty()">
            <button disabled class="btn btn--outline btn--primary"> <i class="icon-save" />&nbsp;Saved !
            </button>
        </span>

        <span ng-if="scenarioIsDirty() && projectSummary.commitMode == 'AUTO'">
            <span class="btn-group">
                <button class="btn btn--outline btn--primary qa_generic_save-button" ng-click="saveScenario()" >
                    <i class="icon-save"></i>
                    &nbsp;Save
                </button>
                <button class="btn btn--outline btn--primary btn--icon" data-toggle="dropdown">
                    <i class="icon-caret-down" />
                </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a ng-click="saveScenarioWithCustomCommitMessage()">
                            Save with custom commit message
                        </a>
                    </li>
                </ul>
            </span>
        </span>
        <span ng-if="projectSummary.commitMode != 'AUTO'">
            <span ng-if="scenarioIsDirty()">
                <button class="btn btn--outline btn--primary qa_generic_save-button" ng-click="saveScenario()" >
                    <i class="icon-save"></i>
                    &nbsp;Save
                </button>
            </span>
            <span>
                <button class="btn btn--success" ng-click="commitScenario()">
                    Commit
                </button>
            </span>
        </span>
    </span>
    <span ng-if="canRunScenarios()">
        <span class="btn-group">
            <button class="btn btn--success" ng-click="runNow()">
                <i class="icon-play"></i>
                &nbsp;Run
            </button>
            <button class="btn btn--success btn--icon" data-toggle="dropdown">
                <i class="icon-caret-down" />
            </button>
            <ul class="dropdown-menu pull-right">
                <li>
                     <a ng-click="runWithCustomParams()">
                        Run with custom parameters
                     </a>
                </li>
            </ul>
        </span>
    </span>
    <button class="mainzone btn btn--secondary" id="qa_generic_actions-dropdown" onfocus="this.blur();" ng-click="standardizedSidePanel.toggleTab('actions')">
        Actions
    </button>
</div>