<div ng-controller="ScenarioRunsTimelineController">
    <div class="row-fluid object-nav">
        <div>
            <a class="tab"  ng-class="{'enabled': $state.includes('projects.project.scenarios.scenario.runs.list')}" href="{{$state.href('projects.project.scenarios.scenario.runs.list')}}" >List</a>
            <a class="tab"  ng-class="{'enabled': $state.includes('projects.project.scenarios.scenario.runs.timeline')}" href="{{$state.href('projects.project.scenarios.scenario.runs.timeline')}}" >Graphs</a>
        </div>
    </div>
    
    <div class="main-panel dss-page" ui-view></div>
</div>