<div class="control-group">
    <label class="control-label">Source folder</label>
    <div class="controls">
        <div object-picker="params.sourceFolderId" type="MANAGED_FOLDER"></div>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Template file</label>
    <div class="controls">
        <select dku-bs-select="{'noneSelectedText':'No template selected'}" ng-model="params.templatePath" 
            ng-options="f.path as f.path.substring(1) for f in files">
        </select>
    </div>
</div>
