<li ng-if="!step">
    <a id="qa_scenario_copy-selection" ng-click="copySelectedSteps()">
        <i class="icon-dku-copy-step" /> Copy {{ getNumberOfSteps(selectedSteps) }} {{'step' | plurify: getNumberOfSteps(selectedSteps) }}
    </a>
</li>
<li ng-if="!step">
    <a id="qa_scenario_open-paste-modal-selection" ng-click="openPasteModalFromSelectedSteps()">
        <i class="icon-dku-paste-step" /> Paste after selection
    </a>
</li>
<li ng-if="!step">
    <a id="qa_scenario_disable-selection" ng-click="toggleRunConditionSelectedSteps()">
        <i class="icon-off" /> Toggle enable/disable
    </a>
</li>
<li ng-if="!step">
    <a id="qa_scenario_open-delete-modal-selection" ng-click="deleteSelectedSteps()">
        <i class="icon-trash" /> Delete
    </a>
</li>
 
<li ng-if="step">
    <a class="previewbutton" id="qa_scenario_copy" ng-click="copyData([step]);" title="{{previewTitle()}}">
        <i alt="Copy step" class="icon-dku-copy-step"  /> Copy step
    </a>
</li>
<li ng-if="step">
    <a class="previewbutton" id="qa_scenario_open-paste-modal" ng-click="openPasteModalFromStep(step);" title="{{previewTitle()}}" >
        <i alt="Paste after this step" class="icon-dku-paste-step"  /> Paste after this step
    </a>
</li>
<li ng-if="step">
    <a href="" ng-click="removeOneStep(step);" title="Delete step">
        <i class="icon-trash"></i> Delete step
    </a>
</li>

