<div style="position: relative;">
	<table sort-table class="table table-hover items-table" ng-if="items.length > 0">
		<thead class="items-header">
			<tr>
				<th>Item</th>
				<th class="item-remove"></th>
			</tr>
		</thead>
		<tbody class="items-body">
			<tr ng-repeat="item in items">
				<td class="item-name">
					<span>
						<a href="/projects/{{$stateParams.projectKey}}/continuous-activities/{{item}}/runs">
						  {{item}}
						</a>
					</span>
				</td>

				<td class="align-right item-remove">
					<i ng-click="removeItem($index)" class="icon-trash" />
				</td>
			</tr>
		</tbody>
	</table>
	<div class="items-buttons text-center">
		<button class="btn btn--primary" ng-click="addItem()">
			Add continuous activity {{actionVerb}} 
		</button>
	</div>
</div>