<div ng-init="trigger.graceDelaySettings = trigger.graceDelaySettings || {}">
    <div class="control-group">
        <label class="control-label">Grace delay (seconds)</label>

        <div class="controls">
            <input type="number" ng-model="trigger.graceDelaySettings.delay" min="0" force-integer/>
        </div>
    </div>
    <div class="control-group" ng-if="trigger.graceDelaySettings.delay > 0">
        <label for="recheckCheckbox" class="control-label">Re-check</label>
        <div class="controls">
            <input id="recheckCheckbox" type="checkbox" ng-model="trigger.graceDelaySettings.checkAgainAfterGraceDelay" />
            <span class="help-inline">
                When enabled, the trigger runs once more at the end of the grace delay and launches a scenario if it doesn't fire again
            </span>
        </div>
    </div>
</div>
        