<span class="abort">
    <button type="button" class="close" ng-click="showConfirmationForm();" ng-show="!aborting" aria-hidden="true" >×</button>
    <span class="confirmation" ng-if="aborting">
        <span class="form-wrapper">
            <button type="button" class="btn btn--danger" ng-click="abort();hideConfirmationForm();" >Confirm</button>
            <button type="button" class="btn btn--secondary" ng-click="hideConfirmationForm();" >Cancel</button>
        </span>
        <span class="overlay"></span>
    </span>
</span>