<div class="boxed-next-to-sidebar">
    <div>
        <h1 class="page-title">Achievements</h1>

        <div class="achievement-list row-fluid">
            <div ng-repeat="achievement in profile.achievements.achievements | orderBy:'-wonOn'"
                 class="achievement-item"
                 ng-class="{won: achievement.wonOn != 0, shaky: achievement.wonOn != 0}">
                <h4 class="achievement-title">
                    <i class="dib shaky-content {{achievement.icon}}" />
                    {{achievement.title}}
                </h4>
                <div class="achievement-time" ng-show="achievement.wonOn">
                    {{achievement.wonOn | friendlyTimeDelta}}
                </div>

                <div class="achievement-text">
                    {{achievement.text}}
                </div>
            </div>
        </div>
    </div>
</div>