<div data-extend-template="/templates/profile/community-vs-enterprise.html">
    <div data-block="cta-enterprise">
        <div ng-if="appConfig.licensing.community">
            <button ng-if="!appConfig.licensing.wasCEEntrepriseTrial"
                ng-click="openRequestTrialModal()">Try free for 2 weeks</button>
            <span ng-if="!appConfig.licensing.wasCEEntrepriseTrial">Then rollback to Free Edition</span>
            <button ng-if=" appConfig.licensing.wasCEEntrepriseTrial"
                onclick="location.href='mailto:dss@dataiku.com'">Contact us</button>
        </div>
        <div ng-if="!appConfig.licensing.community">
            <button onclick="location.href='mailto:dss@dataiku.com'">Contact us</button>
            <span>Learn more about other DSS editions</span>
        </div>
    </div>
    <div data-block="cta-vs">
        <a target="_blank" rel="noopener noreferrer" class="features-list" href="https://www.dataiku.com/dss/features">
	        Complete feature list
   		</a>
    </div>
</div>
