<div class="boxed-next-to-sidebar h100">
    <div class="h100 vertical-flex">
        <div block-api-error />

        <h1 class="page-title">Personal credentials</h1>

        <div ng-show="credentials.credentials.length == 0" class="placeholder-block" style="margin-top: 35px;">
            No connection or plugin requires personal credentials
        </div>

        <div ng-show="credentials.credentials.length != 0">

            <div class="alert alert-warning">DSS administrators can decrypt these credentials</div>

            <h2>Connection credentials</h2>

            <div ng-show="connectionCredentials().length == 0" class="placeholder-block" style="margin-top: 35px;">
                No connection requires personal credentials
            </div>

            <table ng-show="connectionCredentials().length != 0" sort-table class="table table-striped table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th sort-col="connectionType">Type</th>
                        <th sort-col="connection">Connection</th>
                        <th sort-col="user">User</th>
                        <th>Credential entered</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="credential in connectionCredentials()">
                        <td>{{credential.connectionType}}</td>
                        <td>{{credential.connection | cleanConnectionName}}</td>
                        <td>
                            <span ng-show="credential.user" ng-bind="credential.user" />

                            <span ng-show="credential.type == 'BASIC' && !credential.user">
                                <em>No credential entered</em>
                            </span>

                            <span ng-show="credential.type === 'AZURE_OAUTH_DEVICECODE' || credential.type === 'OAUTH_REFRESH_TOKEN'">
                                <em>N/A (OAuth2)</em>
                            </span>

                            <span ng-show="credential.type == 'SINGLE_FIELD'">
                                <em>N/A (Single field)</em>
                            </span>
                        </td>
                        <td>
                            <span>
                                <em>{{credential.credentialEntered ? 'Yes' : 'No'}}</em>
                            </span>
                        </td>
                        <td style="font-size: 15px">
                            <a class="link-std text-error" ng-click="editCredential(credential)"> <i class="icon-edit"/></a>

                            <span class="text-error"><a class="link-std text-error" ng-click="deleteConnectionCredential(credential.connection)"> <i class="icon-trash"/></a></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2>Plugin credentials</h2>

            <div ng-show="pluginCredentials().length == 0" class="placeholder-block" style="margin-top: 35px;">
                No plugin requires personal credentials
            </div>

            <table ng-show="pluginCredentials().length != 0" sort-table class="table table-striped table-hover" style="width:100%">
                <thead>
                <tr>
                    <th sort-col="pluginId">Plugin</th>
                    <th sort-col="paramSetId">Parameter set ID</th>
                    <th sort-col="presetId">Preset ID</th>
                    <th sort-col="paramName">Parameter name</th>
                    <th sort-col="user">User</th>
                    <th>Credential entered</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="credential in pluginCredentials()">
                    <td>{{credential.pluginCredentialRequestInfo.pluginId}}</td>
                    <td>{{credential.pluginCredentialRequestInfo.paramSetId}}</td>
                    <td>{{credential.pluginCredentialRequestInfo.presetId}}</td>
                    <td>{{credential.pluginCredentialRequestInfo.paramName}}</td>
                    <td>
                        <span ng-show="credential.user" ng-bind="credential.user" />

                        <span ng-show="credential.type === 'BASIC' && !credential.user">
                            <em>No credential entered</em>
                        </span>

                        <span ng-show="credential.type === 'OAUTH_REFRESH_TOKEN'">
                            <em>N/A (OAuth2)</em>
                        </span>

                        <span ng-show="credential.type === 'SINGLE_FIELD'">
                            <em>N/A (Single field)</em>
                        </span>
                    </td>
                    <td>
                        <span>
                            <em>{{credential.credentialEntered ? 'Yes' : 'No'}}</em>
                        </span>
                    </td>
                    <td style="font-size: 15px">
                        <a class="link-std text-error" ng-click="editCredential(credential)"> <i class="icon-edit"/></a>

                        <span class="text-error"><a class="link-std text-error" ng-click="deletePluginCredential(credential.pluginCredentialRequestInfo)"> <i class="icon-trash"/></a></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>