@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?n7qxb');
    src:    url('fonts/icomoon.eot?n7qxb#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?n7qxb') format('truetype'),
        url('fonts/icomoon.woff?n7qxb') format('woff'),
        url('fonts/icomoon.svg?n7qxb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-iconeGeneralIcons-FontDevelopment_modif_24Logo:before {
    content: "\e617";
}
.icon-GeneralIcons-FontDevelopment_modif_20close:before {
    content: "\e600";
}
.icon-GeneralIcons-FontDevelopment_modif_21expand:before {
    content: "\e601";
}
.icon-GeneralIcons-FontDevelopment_modif_22tutorial:before {
    content: "\e602";
}
.icon-GeneralIcons-FontDevelopment_modif_23plus-add:before {
    content: "\e603";
}
.icon-GeneralIcons-FontDevelopment_modif_16comments:before {
    content: "\e604";
}
.icon-GeneralIcons-FontDevelopment_modif_17add:before {
    content: "\e605";
}
.icon-GeneralIcons-FontDevelopment_modif_18pin-dashboard:before {
    content: "\e606";
}
.icon-GeneralIcons-FontDevelopment_modif_19delete-trash:before {
    content: "\e607";
}
.icon-GeneralIcons-FontDevelopment_modif_11tags:before {
    content: "\e608";
}
.icon-GeneralIcons-FontDevelopment_modif_12filter:before {
    content: "\e609";
}
.icon-GeneralIcons-FontDevelopment_modif_13last_modified_up:before {
    content: "\e60a";
}
.icon-GeneralIcons-FontDevelopment_modif_14last_modified_down:before {
    content: "\e60b";
}
.icon-GeneralIcons-FontDevelopment_modif_15search:before {
    content: "\e60c";
}
.icon-GeneralIcons-FontDevelopment_modif_7workfiles-workbench:before {
    content: "\e60d";
}
.icon-GeneralIcons-FontDevelopment_modif_8flow:before {
    content: "\e60e";
}
.icon-GeneralIcons-FontDevelopment_modif_9jobs:before {
    content: "\e60f";
}
.icon-GeneralIcons-FontDevelopment_modif_10dashboard:before {
    content: "\e610";
}
.icon-GeneralIcons-FontDevelopment_modif_3help_button:before {
    content: "\e611";
}
.icon-GeneralIcons-FontDevelopment_modif_4help_button_2:before {
    content: "\e612";
}
.icon-GeneralIcons-FontDevelopment_modif_5project_home:before {
    content: "\e613";
}
.icon-GeneralIcons-FontDevelopment_modif_6dataset:before {
    content: "\e614";
}
.icon-GeneralIcons-FontDevelopment_modif_1more_options:before {
    content: "\e615";
}
.icon-GeneralIcons-FontDevelopment_modif_2empty_avatar:before {
    content: "\e616";
}
.icon-DKU_ICON_quick_go_input:before {
    content: "\e618";
}
.icon-DKU_ICON_quick_go_output:before {
    content: "\e619";
}
.icon-DKU_ellipsis_vertical:before {
    content: "\e620";
}
.icon-joinIcons__advanced_join:before {
    content: "\e900";
}
.icon-joinIcons__cross_join:before {
    content: "\e901";
}
.icon-joinIcons__inner_join:before {
    content: "\e902";
}
.icon-joinIcons__left_join:before {
    content: "\e903";
}
.icon-joinIcons__outer_join:before {
    content: "\e904";
}
.icon-joinIcons__right_join:before {
    content: "\e905";
}
.icon-DKU_lightbulb_tipstricks:before {
    content: "\e906";
}
.icon-DKU_news:before {
    content: "\e907";
}

