 <div class="coachmark" ng-controller="CoachmarkController">
 	<!-- <div class="arrow arrow-top-left" /> -->
 	<div coachmark-header title="Go further"/>
 	<div class="content">
 		<p>Once you have made some steps to process your data, you can:</p>

 		<ul>
 			<li>Use the <strong>charts</strong> to visualize your transformed data</li>
 			<li>Create Machine Learning <strong>models</strong> based on your transformed data</li>
 		</ul>

 		<p>
 			You may also want to <strong>deploy</strong> your preparation script as a new <strong>recipe</strong> in the <strong>Flow</strong>.
 			<br />
 			This creates a new dataset holding your transformed data. You can then use it as input
 			for other transformations
 		</p>

		<p style="margin-bottom: 0">To learn more:</p>
 		<ul>
 			<li>
 				Our <span academy-link page="page/core-concepts">tutorials Basics 102 and 103</span> will guide you through the concepts of deploying recipes to the Flow and using the lab,
 			</li>
 			<li>
 				Our <span academy-link page="page/visual-machine-learning">Machine learning basic courses</span> teach you how to make your first Machine Learning model
 			</li>
 		</ul>
 	</div>

  <div coachmark-footer-regular />
 </div>
