<div class="h100" ng-if="$root.appConfig.webappsIsolationMode == 'SANDBOX'">
    <iframe
        class="webapp-container qa_insights_webapp-view"
        sandbox="allow-forms allow-pointer-lock allow-popups allow-scripts"
        ng-src='{{iFrameUrl}}'
        frameborder="0"
        width="100%"
        height="100%">
    </iframe>
</div>
<div class="h100" ng-if="$root.appConfig.webappsIsolationMode != 'SANDBOX'">
    <iframe
        class="webapp-container qa_insights_webapp-view"
        ng-src='{{iFrameUrl}}'
        frameborder="0"
        width="100%"
        height="100%">
    </iframe>
</div>
