<div class="modal modal3 dku-modal">
    <div dku-modal-header-with-totem modal-title="Change code env" modal-totem="icon-list" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
            <div block-api-error />

            <div class="control-group">
                <div code-env-selection-form="uiState.envSelection" env-lang="envLang"></div>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-click="change()">Change</button>
        </div>
    </form>
</div>
