<div scrollable-to-bottom class="tab-content-whitezone">
    <div ng-if="!valCtx.validationResult.substitutionVariables">
        <div class="smallgrey" style="padding: 10px">
            Validate your code to get the list of substitution variables.
        </div>
    </div>
    <div class="text-right" style="padding: 3px 10px">
        <doclink page="/code_recipes/variables_expansion" title="Help" />
    </div>
    <div ng-if="valCtx.validationResult.substitutionVariables" class="flow-variables">
        <ul style="margin: 0 0 0 10px">
            <li ng-repeat="(k, v) in valCtx.validationResult.substitutionVariables" full-click class="flow-variable">
                <div class="ellipsed" style="font-size: 12px;" title="{{k}}">
                    <a main-click ng-click="hooks.insertVariable(k, v.type)">{{k}}</a>&nbsp;<small>({{v.type|capitalize}})</small>
                </div>
                <div class="value" style="overflow:hidden;font-size: 10px; color: #666" title="{{v.value}}">{{v.value}}</div>
            </li>
        </ul>
    </div>
</div>