<form ng-class="{'dkuform-horizontal' : !isStep}">
    <div class="control-group">
        <label for="" class="control-label">{{selectionLabel || 'Selection behavior'}}</label>
        <div class="controls">
            <select dku-bs-select="{width:250}" class="unconstrained-bs-select" ng-model="envSelection.envMode" ng-options="x[0] as x[1] for x in envModes" ng-class="{'submit-on-blur' : isStep}"/>
        </div>
    </div>
    <div class="control-group" ng-if="envSelection.envMode == 'EXPLICIT_ENV'">
        <label for="" class="control-label">Environment</label>
        <div class="controls">
            <select dku-bs-select ng-model="envSelection.envName" ng-options="env.envName as env.envDesc for env in envNamesWithDescs.envs" watch-model="envNamesWithDescs.envs" ng-class="{'submit-on-blur' : isStep}" data-live-search="true"></select>
        </div>
    </div>
</form>
