<div class="modal modal3 dku-modal">

	<div dku-modal-header-with-totem
            modal-class="noflex"
            modal-totem="icon-warning-sign"
            modal-title="Failed to compute recipe save impact" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
        	<div block-api-error />

			<strong>
				Try to edit your recipe before saving, you should not save recipes in inconsistent states.
			</strong>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
			<button type="button" class="btn btn--text btn--secondary" ng-click="cancelSave()" ng-if="!noCancel">Cancel save</button>
			<button type="button" class="btn btn--text btn--danger" ng-click="saveAnyway()">Save anyway</button>
        </div>
    </form>
</div>
