<div>
    <h2 class="recipe-settings-section2-title">Input: {{consumption.ref}}</h2>
    <span ng-if="computable == null" class="text-warning"><i class="icon-warning-sign"></i>deleted</span>
    <div ng-if="computable != null">
        <div class="control-group" ng-if="canWindow()">
            <label for="windowEnabled" class="control-label">Collect window</label>
            <div class="controls">
                <input id="windowEnabled" type="checkbox" ng-model="consumption.windowEnabled"></input>
                <span class="help-inline">Collect messages in a time-bounded window for each message</span>
            </div>
        </div>
        <div class="control-group" ng-if="canWindow() && consumption.windowEnabled">
            <label for="" class="control-label">Window size</label>
            <div class="controls">
                <input type="number" force-integer min="1" ng-model="consumption.windowSize"></input>
            </div>
        </div>
        <div class="control-group" ng-if="canWindow() && consumption.windowEnabled">
            <label for="" class="control-label">Window unit</label>
            <div class="controls">
                <select dku-bs-select ng-model="consumption.windowUnit">
                    <option value="SECOND">Seconds</option>
                    <option value="MINUTE">Minutes</option>
                    <option value="HOUR">Hours</option>
                    <option value="DAY">Days</option>
                </select>
            </div>
        </div>
    </div>
</div>
