<div class="modal modal3" auto-size="false" >
	<style>
	.filter-options .condition-input, .filter-options .condition-param  {
	    width: 150px;
	}
	</style>

	<div dku-modal-header modal-title="Filter options" modal-class="has-border" />

	<div class="modal-body" style="padding-bottom:0">
	    <filter-editor
	        filter-desc="filter"
	        dataset="dataset"
	        schema="schema"
	        must-run-in-database="recipeStatus && recipeStatus.selectedEngine && (recipeStatus.selectedEngine.type == 'SQL' || recipeStatus.selectedEngine.type == 'HIVE')"
	        filter-update-callback="onFilterUpdate"
	    />
	</div>
	<div class="modal-footer modal-footer-std-buttons">
	    <div class="text-right">
	        <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss();ok()">Close</button>
	    </div>
	</div>
</div>
