<div class="modal modal3 engines-modal dku-modal" global-keydown="{esc: 'dismiss()'}">
    <div dku-modal-header-with-totem modal-class="noflex" modal-title="Change Hive engine" modal-totem="icon-code_hive_recipe" />

    <form class="dkuform-modal-horizontal" name="theForm">
    <div class="modal-body">
        <div block-api-error />

        <div style="margin-bottom: 10px">
            To learn more about Hive engines,
            <a target="_blank" rel="noopener noreferrer"
               href="https://doc.dataiku.com/dss/latest/hadoop/hive.html?highlight=hiveserver2#hive-execution-engines">
                see the documentation</a>
        </div>

        <div info-messages-raw-list-with-alert="messages"/>

        <div class="control-group">
            <label for="executionEngine" class="control-label">
                Use engine
            </label>
            <div class="controls">
                <select dku-bs-select ng-model="options.executionEngine" >
                    <option value="HIVECLI_LOCAL">(Deprecated) Hive CLI (Isolated metastore)</option>
                    <option value="HIVECLI_GLOBAL">(Deprecated) Hive CLI (Global metastore)</option>
                    <option value="HIVESERVER2">HiveServer2</option>
                </select>
            </div>
        </div>
    </div>

    <div class="modal-footer modal-footer-std-buttons">
        <button type="submit" class="btn btn--text btn--primary" ng-disabled="theForm.$invalid" ng-click="ok()">Save</button>
    </div>
    </form>
</div>