<div class="modal modal3 engines-modal dku-modal" global-keydown="{esc: 'dismiss()'}">
    <div dku-modal-header-with-totem modal-class="noflex" modal-title="Change impala write mode" modal-totem="icon-dku-impala" />

    <form class="dkuform-modal-horizontal" name="theForm">
    <div class="modal-body">
        <div block-api-error />

        <div style="margin-bottom: 10px">
            To learn more about Impala write modes,
            <a target="_blank" rel="noopener noreferrer"
               href="https://doc.dataiku.com/dss/latest/hadoop/impala.html#using-impala-to-write-outputs">
                see the documentation</a>
        </div>

        <div info-messages-raw-list-with-alert="messages"/>

        <div class="control-group">
            <label for="stream" class="control-label">
                Activate stream mode
            </label>
            <div class="controls">
                <input type="checkbox" ng-model="options.runInStreamMode" name="stream">
            </div>
        </div>
    </div>

    <div class="modal-footer modal-footer-std-buttons">
        <button type="submit" class="btn btn--text btn--primary" ng-disabled="theForm.$invalid" ng-click="ok()">Save</button>
    </div>
    </form>
</div>