<div class="control-group pipeline-config" disabled-if="!anyPipelineTypeEnabled()" toggle="tooltip"
           title="{{anyPipelineTypeEnabled() ? '': 'Pipelines must be enabled from the project settings'}}" >
	<label class="control-label">Pipelining</label>
	<div class="controls">
		<label>
			<input type="checkbox" ng-model="config.pipelineAllowMerge"/>
			<span class="help-inline">
                Can this recipe be merged in an existing recipes pipeline?
            </span>
		</label>
		<label>
			<input type="checkbox" ng-model="config.pipelineAllowStart"/>
			<span class="help-inline">
                Can this recipe be the target of a recipes pipeline?
            </span>
		</label>
	</div>
</div>