<div ng-if="topNav.tab == 'io'" class="dss-page recipe-io container-fluid main-panel oa">
    <div class="h100 vertical-flex">
        <div block-api-error />
        <div class="flex" style="flex-grow: 0;">
            <div class="h100 row-fluid dkuform-modal-horizontal">
                <div class="half-pane vertical-flex h100">
                    <legend class="settings-section-title noflex">Input</legend>
                    <div class="flex roles-list">
                        <div class="h100">
                            <div recipe-io-inputs roles="recipeDesc.inputRoles" location="edition" class="h100" />
                        </div>
                    </div>
                </div>
                <div class="half-pane vertical-flex h100">
                    <legend class="settings-section-title noflex">Output</legend>
                    <div class="flex roles-list">
                        <div class="h100">
                            <div recipe-io-outputs roles="recipeDesc.outputRoles" location="edition" class="h100" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>