<div class="row-fluid">
    <fieldset class="new-recipe-io">
        <legend>Build</legend>
        <div style="margin-bottom: 1em; margin-top: 1em">
            <div style="display:inline" include-no-scope="/templates/recipes/fragments/recipe-editor-job-partitions.html"></div>
            <span include-no-scope="/templates/recipes/fragments/run-job-buttons.html"></span>
        </div>
        <div include-no-scope="/templates/recipes/fragments/recipe-editor-job-result.html"></div>
    </fieldset>
</div>