<div class="modal modal3 engines-modal dku-modal" global-keydown="{esc: 'dismiss()'}">
    <div dku-modal-header-with-totem modal-class="noflex" modal-title="Change spark config for {{selectedRecipes.length}} recipe{{selectedRecipes.length <= 1 ? '' : 's'}}" modal-totem="icon-code_spark_scala_recipe" />

    <div class="modal-body">
        <div block-api-error />

        <div style="margin-bottom: 10px">
            To learn more about Spark configuations,
            <a target="_blank" rel="noopener noreferrer"
               href="https://doc.dataiku.com/dss/latest/spark/configuration.html">see the documentation</a>
        </div>

        <div info-messages-raw-list-with-alert="messages" />

        <div spark-override-config config="options.sparkConfig" class="recipe-settings-section2" style="margin-top: 20px;" />
    </div>

    <div class="modal-footer modal-footer-std-buttons">
        <button type="submit" class="btn btn--text btn--primary" ng-disabled="!options.sparkConfig" ng-click="ok()">Save</button>
    </div>
</div>