<div class="modal modal3 engines-modal dku-modal" global-keydown="{esc: 'dismiss()'}">
    <div dku-modal-header-with-totem modal-class="noflex" modal-title="Change Spark engine" modal-totem="icon-code_sparksql_recipe" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theForm">
    <div class="modal-body">
        <div block-api-error />

        <div style="margin-bottom: 10px">
            To learn more about Spark engines,
            <a target="_blank" rel="noopener noreferrer"
               href="https://doc.dataiku.com/dss/latest/spark/configuration.html">
                see the documentation</a>
        </div>

        <div info-messages-raw-list-with-alert="messages"/>

        <div class="control-group">
            <label for="executionEngine" class="control-label">
                Use engine
            </label>
            <div class="controls">
                <select dku-bs-select ng-model="options.executionEngine" >
                    <option value="SPARK_SUBMIT">CLI (spark-submit)</option>
                    <option value="LIVY_BATCH" ng-disabled="!appConfig.livyEnabled">Livy</option>
                    <option value="DATABRICKS">Databricks</option>
                </select>
            </div>
        </div>
    </div>

    <div class="modal-footer modal-footer-std-buttons">
        <button type="submit" class="btn btn--text btn--primary" ng-disabled="theForm.$invalid" ng-click="ok()">Save</button>
    </div>
    </form>
</div>