<div class="modal split-modal modal3 dku-modal">
    <div dku-modal-header modal-title="Select Splitting method"/>

    <form class="dkuform-modal-horizontal select-split-form dkuform-modal-wrapper disablable">
        <div class="modal-body" style="width:100%;">
            <div class="split-option__wrapper dib">
                <div class="split-option__big-button-container selectable">
                    <div class="split-option__big-button"
                         ng-click="params.mode = 'VALUES';dismiss();"
                         ng-mouseover="displayedMode = 'VALUES';">
                        <div class="split-option__big-button-title">
                            <i class="icon-dku-split_method"></i> Map values of a single column
                        </div>
                    </div>
                </div>
                <div class="split-option__big-button-container selectable">
                    <div class="split-option__big-button"
                         ng-click="params.mode = 'RANDOM';dismiss();"
                         ng-mouseover="displayedMode = 'RANDOM';">
                        <div class="split-option__big-button-title">
                            <i class="icon-random"></i> Randomly dispatch data
                        </div>
                    </div>
                </div>
                <div class="split-option__big-button-container selectable">
                    <div class="split-option__big-button"
                         ng-click="params.mode = 'FILTERS';dismiss();"
                         ng-mouseover="displayedMode = 'FILTERS';">
                        <div class="split-option__big-button-title">
                            <i class="icon-filter"></i> Define filters
                        </div>
                    </div>
                </div>
                <div class="split-option__big-button-container selectable">
                    <div class="split-option__big-button"
                         ng-click="params.mode = 'CENTILE';dismiss();"
                         ng-mouseover="displayedMode = 'CENTILE';">
                        <div class="split-option__big-button-title">
                            <i class="icon-sort-by-attributes-alt"></i> Dispatch percentiles of sorted data
                        </div>
                    </div>
                </div>
            </div>
            <div class="split-option__explanation dib">
                <div ng-if="displayedMode == 'VALUES'">
                    <p>Map values of a single column to the outputs datasets, either with discrete values or ranges.</p>
                </div>
                <div ng-if="displayedMode == 'RANDOM'">
                    <p>Randomly send each row to an output dataset according to provided ratios.</p>

                    <p>
                        Can choose one of the two available modes:
                        <ul>
                            <li>Randomly splits the dataset according to the provided ratios (exact when using DSS engine, approximate otherwise).</li>
                            <li>Randomly selects a subset of values of one ore more columns and send all rows with these values to an output, in order to obtain approximately the provided ratio for this output. Two outputs cannot contain the same values.</li>
                        </ul>
                    </p>
                </div>
                <div ng-if="displayedMode == 'FILTERS'">
                    <p>Build specific filters to dispatch data in each output dataset.</p>

                    <p>Filters are mutually exclusive, i.e first match takes it all.</p>
                </div>
                <div ng-if="displayedMode == 'CENTILE'">
                    <p>Sort data according to a list of sort criteria. Then define percentile range of the data that is sent to each output dataset.</p>
                </div>
            </div>
        </div>
    </form>
</div>