<div class="horizontal-flex row-fluid object-nav">
    <div class="flex oh object-breadcrumb">
        <a class="item">
            <i class="icon icon-cogs" style="background-color: #427b98; color: white" />
            <span class="title ellipsis">Project security</span>
        </a>
    </div>
</div>

<div class="dss-page">
    <div class="project-settings-page h100 oa row-fluid">
        <div ng-controller="ProjectSettingsSecurityController" class="fh">
            <div block-api-error />
        
            <div class="span2 offset0 nav-list-sidebar sidebar-admin modal-footer-std-buttons" tab-model="uiState.securityPane" tab-model-notify="true">
                <ul>
                    <li sidebar-tab-l1-link ng-show="projectSummary.isProjectAdmin" tab-name="permissions" label="Permissions" />
                    <li sidebar-tab-l1-link ng-show="projectSummary.isProjectAdmin" tab-name="api" label="API keys" />
                    <li sidebar-tab-l1-link ng-show="projectSummary.canManageExposedElements" tab-name="exposed" label="Exposed elements"/>
                    <li sidebar-tab-l1-link ng-show="projectSummary.canManageDashboardAuthorizations" tab-name="dashboard" label="Dashboard authorizations"/>
                    <li sidebar-tab-l1-link ng-show="projectSummary.canManageAdditionalDashboardUsers" tab-name="dashboardUsers" label="Additional dashboard users"/>
                </ul>
            </div>
        
            <div class="span10 h100 offset0 boxed-next-to-sidebar" ng-switch on="uiState.securityPane">
                <div ng-switch-when="permissions" class="h100 oa" style="padding: 15px 0 0 0;" include-no-scope="/templates/projects/settings/security-permissions.html" />
        
                <div ng-switch-when="api" class="h100 oa" style="padding: 15px 0 0 0;" include-no-scope="/templates/projects/settings/security-api.html" />
        
                <div ng-switch-when="exposed" class="h100" style="padding: 15px 0 0 0;" include-no-scope="/templates/projects/settings/security-exposed.html" />
        
                <div ng-switch-when="dashboard" class="h100" style="padding: 15px 0 0 0;" include-no-scope="/templates/projects/settings/security-dashboard.html" />
        
                <div ng-switch-when="dashboardUsers" class="h100" style="padding: 15px 0 0 0;" include-no-scope="/templates/projects/settings/security-dashboard-users.html" />
            </div>
        </div>
    </div>
</div>
