<div class="modal modal3 create-project-folder-modal" auto-size="false">
    <dku-modal-header modal-class="has-border" >
        <dku-modal-title>
            Create Folder
        </dku-modal-title>
    </dku-modal-header>
    <form name="newFolderForm" class="dkuform-modal-horizontal">
        <div class="modal-body">
            <div block-api-error />
                <div>
                    <label for="folderName" class="control-label">Name</label>
                    <div class="controls">
                        <input type="text" id="folderName" name="name" placeholder="New folder name"
                            ng-model="newFolder.name"
                            ng-class="{'ng-invalid' : !isNameValid(newFolderForm.name, true)}"
                            auto-focus="true"/>
                    </div>
                </div>
        </div>
        <div class="modal-footer modal-footer-std-buttons has-border">
            <div class="pull-right">
                <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
                <button type="submit" class="btn btn--text btn--primary" ng-click="confirm()" ng-disabled="!canConfirm()">Create</button>
            </div>
        </div>
    </form>
</div>