<div class="modal modal3 move-item-modal move-to-new-project-folder-modal" auto-size="false">
    <dku-modal-header modal-class="has-border" >
        <dku-modal-title>
            Move {{moveItemCountText()}} to new folder
        </dku-modal-title>
    </dku-modal-header>
    <div class="modal-body vertical-flex">
        <div block-api-error class="noflex"></div>
        <form name="newFolderForm" class="dkuform-modal-horizontal">
            <div class="control-group">
                <label for="folderName" class="control-label">Name</label>
                <div class="controls">
                    <input type="text" id="folderName" name="name" placeholder="New folder name"
                           ng-model="newFolder.name"
                           ng-class="{'ng-invalid' : !isNameValid(newFolderForm.name, parentPath, true)}"
                           auto-focus="true"/>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer modal-footer-std-buttons has-border">
        <div class="pull-right">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-click="confirm()" ng-disabled="!canConfirm()">Create</button>
        </div>
    </div>
</div>