<div class="modal modal3 modal-w800" auto-size="false">
    <dku-modal-header modal-class="has-border" >
        <dku-modal-title>
            Project folder "{{folder.name}}" effective readers
        </dku-modal-title>
    </dku-modal-header>

    <div class="modal-body">
        <div class="horizontal-flex">
            <div class="flex">
                <h5>Groups</h5>
                <div fat-repeat="effectiveReaders.groups" as="group" row-height="20" style="height: 150px;">
                    <div>{{group}}</div>
                </div>
            </div>
            <div class="flex">
                <h5>Users</h5>
                <div fat-repeat="effectiveReaders.users" as="user" row-height="20" style="height: 150px;">
                    <div>{{user}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer modal-footer-std-buttons">
        <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">OK</button>
    </div>
</div>