<div data-extend-template="/templates/recipes/single-output-recipe-creation.html">
   <div data-block="settings">
        <div class="control-group">
            <label for="" class="control-label"></label>
            <div class="controls">
                <div dataset-selector="io.inputDataset" available-datasets="availableInputDatasets" class="qa_recipe_available-datasets-dropdown" ></div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div dataset-selector="io.inputDataset2" available-datasets="availableInputDatasets" class="qa_recipe_available-datasets-dropdown" ></div>
            </div>
        </div>
        <div class="dku-tiny-text-sb text-prompt" ng-if="showAdditionalInputsMessage !== false">
            <i class="icon-info-sign mright4"></i> Additional inputs can be added after the recipe creation.
        </div>
    </div>

    <div data-block="errors" class="padtop16">
        <div class="alert alert-error" ng-if="io.inputDataset && activeSchema && !activeSchema.columns.length">
            First dataset has no schema
        </div>
        <div class="alert alert-error" ng-if="io.inputDataset2 && activeSchema2 && !activeSchema2.columns.length">
            Second dataset has no schema
        </div>
    </div>

    <div
        data-block="requirements"
        ng-if="!(io.inputDataset && io.inputDataset2)"
        class="recipe-modal-io__disabled-explanation">
        This recipe requires two input datasets.
    </div>
</div>
