<div class="modal modal3 code-edit-schema-box" code-recipe-schema-editing
     on-smart-change="setSchemaUserModified()" ng-model="dataset.schema.columns"
     ng-scope="{maxSchemaItems = 20; hideAdd: true}"
        ng-init="hideAdd = true">

    <div dku-modal-header modal-title="Schema &quot;{{dataset.name}}&quot;" modal-class="has-border"/>


    <div class="modal-body">
        <div schema-consistency-status
            current-schema="dataset.schema"
            consistency="consistency"
            overwrite-schema="overwriteSchema"
            clear-managed-dataset="clearDataset"
            check-consistency="checkConsistency"
            discard-consistency-error="discardConsistencyError"
            managed="dataset.managed"
            class="noflex"/>

        <div style="height: 350px; position: relative;">
            <ng-include src="'/templates/datasets/schema-edition.html'"></ng-include>
        </div>
    </div>


    <div class="modal-footer has-border" style="padding-left: 15px;">
        <div class="actions" style="float: left;">
            <button type="submit" class="btn btn--secondary" ng-click="addColumn()">
                <span plus-icon="">+</span>
                Add column
            </button>
        </div>

        <div class="text-right actions  modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-click="saveSchema()">Save</button>
        </div>
    </div>
</div>