<div ng-controller="DummyRecipeController">
    <div class="top-level-tabs objecttype-recipe">
        <div class="row-fluid object-nav">
            <div class="pull-right">
                <a class="tab enabled" ng-click="topNav.tab='summary'"><i class="icon-info" />&nbsp;Summary</a>

                <div class="otherLinks" include-no-scope="/templates/recipes/fragments/recipe-tabs-other-links.html"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid summary-tab" style="margin-top: 10px;">
        <div class="row-fluid">
            <div class="span8">
                <div class="summary" editable-summary editable="canWriteProject()" object="recipe" object-type="RECIPE" get-tags="getTags" tag-color="tagColor"></div>
                <div>
                    Cluster recipes do not have any parameters. Use the model bench to update the model parameters.
                </div>
            </div>

            <div class="span4">
                <div contributors-list tl="recipeTimeline"></div>

                <div scrollable-to-bottom>
                    <div timeline="recipeTimeline" reverse="true" context="object"></div>
                </div>
            </div>
        </div>
    </div>
</div>