<div>
    <tabs class="tabs-with-margin">
        <pane title="Recipe">
            <div style="margin-top: 1em">
            	<form class="form-horizontal">
            		<div class="control-group">
            			<label for="" class="control-label">Input URLs to synchronize (comma-separated)</label>
            			<div class="controls">
            				<input type="text" class="input-xxlarge" ng-model="recipe.params.inputs">
            			</div>
            		</div>
            	</form>
            </div>
        </pane>
        <pane title="Inputs/Outputs">
            <ng-include src="'/templates/recipes/recipe-io.html'"></ng-include>
        </pane>
    </tabs>
</div>
