<form>
    <div class="control-group">
        <label class="control-label">
            Metrics
        </label>
    </div>
    <div class="control-group" ng-if="model.miniTask.backendType === 'PY_MEMORY'">
        <label class="control-label">
            Compute assertions
        </label>
        <div class="controls">
            <label><input type="checkbox" ng-model="desc.computeAssertions"></input></label>
        </div>
    </div>
</form>
<div class="managed-folder-view" style="position:relative">
    <div class="preview-zone droparea-style-v2 h100">
        <ul class="files oa" style="height: 230px; margin-top: 10px">
            <li ng-repeat="metric in metrics track by $index" ng-click="stopEvent($event)">
                <div class="file horizontal-flex" ng-class="{'selected': metric.$selected }">
                    <label class="path flex mx-textellipsis link-std" title="{{metric.name}}">
                        <input type="checkbox" class="noflex" style="margin: 0 10px" ng-model="metric.$selected" ng-change="updateFilteredMetricsSelection()">
                        {{ metric.name }}
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>