<div ng-controller="PigRecipeController" data-extend-template="/templates/layouts/code-based-recipe-editor-layout.html">
    <div class="mainPane code-based-recipe-main-zone vertical-flex h100" data-block="recipeEditor">
        <div block-api-error />

        <code-snippet-editor code="script.data"
            sample-type="'pig'"
            categories="[]"
            save-category="'pig-std'"
            editor-options="editorOptions"
            resolve-code-for-preview-func="resolveCodeForPreviewFunc"
            resolve-code-for-insertion-func = "resolveCodeForInsertionFunc"
            >
        </code-snippet-editor>

        <div include-no-scope="/templates/recipes/fragments/recipe-editor-statusbar.html" class="noflex"/>

        <div class="bottom-bar noflex">
        	<div class="horizontal-flex">
                <span class="noflex" include-no-scope="/templates/recipes/fragments/code-recipe-validate-button.html" />
                <span class="flex" include-no-scope="/templates/recipes/fragments/code-recipe-run-bottom-bar.html" />
        	</div>
        </div>

        <div include-no-scope="/templates/recipes/fragments/recipe-editor-job-result.html" class="noflex recipe-job-result" />
    </div>

    <div data-block="recipeLeftTabs">
        <tabs pane-header-style="width: 33%;">
            <pane title="Datasets">
                <div include-no-scope="/templates/recipes/fragments/code-based-recipe-right-datasets-tab.html" />
            </pane>

            <pane title="Pig">
                <div scrollable-to-bottom>
                <em>Explore the defined Pig relations</em>
                <ul class="pig-explorer">
                    <li ng-repeat="schema in valCtx.validationResult.relationSchemas|orderBy:'name'" >
                        <div ng-include="'/templates/recipes/fragments/pig-schema-item.html'"></div>
                    </li>
                </ul>
                </div>
            </pane>
            <pane title="Variables">
                <div include-no-scope="/templates/recipes/fragments/code-based-recipe-right-variables-tab.html" />
            </pane>
        </tabs>
    </div>

    <a ng-show="valCtx.validationResult" ng-class="{'enabled': rightUIState.activeTab == 'pigrelations'}" ng-click="rightUIState.activeTab = 'pigrelations'" data-block-prepend="recipeRightButtons">
        <i class="icon-pig"></i>
    </a>

    <div data-block="additionalTabsContent">
        <div ng-if="topNav.tab == 'advanced'" class="dss-page oa">
			<div block-api-error />

 			<div class="horizontal-centerer">
				<div class="recipe-settings-section1 w800">
					<h1 class="recipe-settings-section1-title">Dependencies</h1>
					<form class="dkuform-horizontal recipe-settings-section2">
						<div class="control-group">
	                        <label for="" class="control-label">Optional dependencies</label>
	                        <div class="controls">
	                            <input ng-model="recipe.optionalDependencies" type="checkbox" />
	                        </div>
						</div>
					</form>
				</div>
                
                <div include-no-scope="/templates/recipes/fragments/recipe-advanced-common.html" />
				
                <div class="recipe-settings-section1 w800">
					<h1 class="recipe-settings-section1-title">Overrides</h1>
					<form class="dkuform-horizontal recipe-settings-section2">
						<div class="control-group">
                            <label for="" class="control-label">Override variables</label>
                            <div class="controls">
				                <span override-table-link object-to-override="recipe" override-table-parent="recipe" />
                            </div>
						</div>
					</form>
				</div>
			</div>
        </div>
    </div>
</div>