<div class="modal modal3">
	<div dku-modal-header modal-title="Recipe run options" modal-class="has-border" />
	<form class="dkuform-modal-horizontal dkuform-modal-wrapper">
		<div class="modal-body">

			<div partition-selector partitioning="outputPartitioning" build-partitions="testRun.build_partitions"></div>

			<div class="control-group">
				<label for="" class="control-label">Build mode</label>
				<div class="controls">
					<select dku-bs-select id="qa_recipe_run-options-select" ng-model="testRun.runMode" style="height: inherit; margin: 0;" ng-options="x[0] as x[1] for x in buildModes"/>
				</div>
			</div>

			<div block-api-error />
		</div>
		<div class="modal-footer modal-footer-std-buttons">
			<div class="text-right">
				<button type="submit" class="btn btn--text btn--primary" ng-click="dismiss()" id="qa_recipe_run-options-apply">OK</button>
			</div>
		</div>
	</form>
</div>