<div visual-recipe ng-controller="SortRecipeController">
	<!-- Load behaviors -->
	<!-- The read-params-behavior is split from the read-params UI directive because we want the behavior to always execute, not only when we go to advanced tab -->
	<div ng-if="recipeStatus.selectedEngine.type == 'SPARK'">
		<div spark-datasets-read-params-behavior read-params="params.engineParams.sparkSQL.readParams" />
	</div>

	<div class="top-level-tabs objecttype-recipe">
		<div include-no-scope="/templates/recipes/fragments/simple-recipe-top-tabs.html" />
	</div>

	<!-- Generic tabs -->
	<div include-no-scope="/templates/recipes/fragments/recipe-summary-tab.html" />
	<div include-no-scope="/templates/recipes/fragments/recipe-io-tab.html" />
	<div include-no-scope="/templates/recipes/fragments/recipe-git-log.html" />
	<div include-no-scope="/templates/recipes/visual-recipes-fragments/visual-sql-advanced-tab.html" />

	<div include-no-scope="/templates/recipes/sort-recipe-main.html" />
</div>