<div ng-controller="SQLQueryRecipeController" data-extend-template="/templates/layouts/code-based-recipe-editor-layout.html">
    <div class="mainPane code-based-recipe-main-zone vertical-flex h100" data-block="recipeEditor">
        <div block-api-error />

        <div class="alert alert-error noflex" ng-show="valCtx.validationResult.schemaResult.fatalPartitioningError">
            <h4> <i class="icon-dku-error"></i>
                &nbsp;Incompatible schema
            </h4>
            <h5>
                Dataset '{{recipe.outputs['main'].items[0].ref}}' is partitioned, but the query does not respect partitioning.
            </h5>
            <div ng-repeat="column in valCtx.validationResult.schemaResult.fatalPartitioningError.columns">
                <p ng-show="!column.foundInstead">
                    Partitioning column {{column.partitioningColumn}} MUST appear in the query,
                    in {{(column.expectedPosition+1)|ordinalWithNumber}} position.
                </p>
                <p ng-show="column.foundInstead">
                    Partitioning column '{{column.partitioningColumn}}' MUST appear in the query,
                    in {{(column.expectedPosition+1)|ordinalWithNumber}} position, but this column was '{{column.foundInstead}}' instead
                </p>
            </div>
        </div>

        <div class="alert alert-warning noflex" ng-show="valCtx.validationResult.schemaResult.suggestion">
            <h4> <i class="icon-warning-sign"></i>
                &nbsp;Incompatible schema
            </h4>
            <h5>
                The schema of '{{valCtx.validationResult.schemaResult.suggestion.dataset.name}}' doesn't
                match to the output of this SQL recipe.
            </h5>

            <ul ng-if="valCtx.validationResult.schemaResult.suggestion.reasons.length<5" ng-repeat="incompatibility in valCtx.validationResult.schemaResult.suggestion.reasons">
                <li>{{incompatibility}}</li>
            </ul>
            <button ng-if="valCtx.validationResult.schemaResult.suggestion.reasons.length>=5" class="btn btn--success" dku-inline-popover placement="right" container="body">
                <label>
                    More details
                    <span class="icon-question-sign"></span>
                </label>
                <content title="Incompatibilites">
                    <div>
                        <ul ng-repeat="incompatibility in valCtx.validationResult.schemaResult.suggestion.reasons">
                            <li>{{incompatibility}}</li>
                        </ul>
                    </div>
                </content>
            </button>

            <button class="btn btn--danger" ng-click="ignoreSchemaChangeSuggestion()">Cancel</button>
            <button class="btn btn--primary" ng-click="updateSchemaFromSuggestion()" id="qa_recipe_update-schema-button" ng-show="valCtx.validationResult.schemaResult.outputIsManaged">Update schema</button>
        </div>

        <div code-snippet-editor
            code="script.data"
            sample-type="'sql'"
            categories="['sql-query-std']"
            save-category="'sql-query-std'"
            editor-options="editorOptions"
            resolve-code-for-preview-func="resolveCodeForPreviewFunc"
            resolve-code-for-insertion-func = "resolveCodeForInsertionFunc"
            />

		<div future-waiting response="future" dku-if="future && !future.hasResult"></div>

        <div class="noflex" include-no-scope="/templates/recipes/fragments/recipe-editor-statusbar.html" />

        <div class="noflex bottom-bar">
        	<div class="horizontal-flex">
                <span class="noflex">
                    <button class="btn btn--secondary" ng-click="sqlFormat()"><i class="icon-code"/> Format code</button>
                </span>
                <span class="noflex" include-no-scope="/templates/recipes/fragments/code-recipe-validate-query-button.html" />
                <span class="flex" include-no-scope="/templates/recipes/fragments/code-recipe-run-bottom-bar.html" />
            </div>
        </div>
        <div include-no-scope="/templates/recipes/fragments/recipe-editor-job-result.html" class="noflex recipe-job-result" />
    </div>
    <span data-block="additionalTabs">
        <a class="tab" ng-class="{'enabled': topNav.tab == 'advanced'}" ng-click="topNav.tab='advanced'">Advanced</a>
    </span>


    <div data-block="additionalTabsContent">
         <div ng-if="topNav.tab == 'advanced'" class="dss-page oa">
			<div block-api-error />
			<div class="horizontal-centerer">

				<div class="recipe-settings-section1 w800">
					<h1 class="recipe-settings-section1-title">Execution options</h1>
					<form class="dkuform-horizontal recipe-settings-section2">
						<div class="control-group">
                            <label for="" class="control-label">Allow SQL across connections</label>
                            <div class="controls">
						    	<input name="allowMultipleConnections" type="checkbox" ng-model="recipe.params.allowMultipleConnections" id="allowMultipleConnections">
						    	</input>
						    	<label for="allowMultipleConnections" class="help-inline">Inputs and outputs datasets reside on different connections</label>
                            </div>
						</div>
						<div class="control-group" ng-show="recipe.params.allowMultipleConnections">
                            <label for="" class="control-label">Main SQL connection</label>
                            <div class="controls">
								<select name="mainConnectionDataset" ng-model="recipe.params.mainConnectionDataset" ng-options="ds.ref as getInputOrOuputLabel(ds.ref) for ds in sqlDatasets">
								</select>
							    <span class="help-inline">Connection to run the query in</span>
                            </div>
						</div>
						<div class="control-group">
                            <label for="" class="control-label">Display execution plan</label>
                            <div class="controls">
						    	<input name="displayExecutionPlan" type="checkbox" ng-model="recipe.params.displayExecutionPlan" >
						    	</input>
                            </div>
						</div>
						<recipe-pipeline-config config="recipe.params.sqlPipelineParams" any-pipeline-type-enabled="anyPipelineTypeEnabled()"></recipe-pipeline-config>
					</form>
				</div>

				<div class="recipe-settings-section1 w800">
					<h1 class="recipe-settings-section1-title">Overrides</h1>
					<form class="dkuform-horizontal recipe-settings-section2">
						<div class="control-group">
							<label for="" class="control-label">Override variables</label>
							<div class="controls">
								<span override-table-link object-to-override="recipe" override-table-parent="recipe" />
							</div>
						</div>
					</form>
				</div>

                <div class="recipe-settings-section1 w800">
                    <h1 class="recipe-settings-section1-title">Concurrent activities</h1>
                    <form class="dkuform-horizontal recipe-settings-section2">
                        <div class="control-group">
                            <label class="control-label">Recipe limit</label>
                            <div class="controls">
                                <input type="number" ng-model="recipe.maxRunningActivities" />
                                <span class="help-inline">Limit the number of concurrent activities for this recipe (zero for "unlimited").</span>
                            </div>
                        </div>
                    </form>
                </div>
			</div>
		</div>
    </div>
</div>