 <div class="coachmark" ng-controller="CoachmarkController">
   <!-- <div class="arrow arrow-top-middle" /> -->
    <div coachmark-header title="Checks selection"/>
    <div class="content">

        <p>
            Select which <strong>checks</strong> you want to compute, and use the compute button
            to update them.
        </p>

        <p>
            If the list is empty, use the <strong>Edit</strong> tab to create
            some checks!
        </p>
    </div>

    <div coachmark-footer-regular />
 </div>
