<div class="vertical-flex">
    <div class="top-level-tabs">
        <div class="horizontal-flex row-fluid object-nav">
            <div class="flex oh object-breadcrumb">
                <a class="item" ui-sref=".items">
                    <i class="icon icon-book universe-background catalog"></i>
                    <span class="title ellipsis">Catalog</span>
                </a>
            </div>

            <div class="noflex">
                <a class="tab"  ng-class="{'enabled': $state.current.name.includes('catalog.items')}" ui-sref=".items" fw500-width>Search</a>
                <a class="tab"  ng-class="{'enabled': $state.current.name.includes('catalog.connectionexplorer')}"  ui-sref=".connectionexplorer({connectionName:null, schemaName:null})" fw500-width>Connections explorer</a>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>