<div>

    <!-- Image -->
    <div class="app-image row-cell">
        <a href="{{$ctrl.$state.href('apps.app', {appId : $ctrl.app.appId})}}" main-click>
            <totem project-name="$ctrl.app.label"
                   project-key=""
                   object-type="'APP'"
                   object-id="$ctrl.app.appId"
                   object-img-hash = "$ctrl.app.objectImgHash"
                   sizeX="140" sizeY="120"
                   editable="false"
                   img-color="$ctrl.app.imgColor"
                   img-pattern="$ctrl.app.imgPattern"
                   show-initials="$ctrl.app.showInitials"
                   is-project-img="$ctrl.app.isAppImg"
                   default-img-color="$ctrl.app.defaultImgColor"/>
        </a>
    </div>

    <!-- Body -->
    <div class="app-body row-cell">
        <div class="app-title">
            <h3>
                <a href="{{$ctrl.$state.href('apps.app', {appId : $ctrl.app.appId})}}" main-click>
                    <div show-tooltip-on-text-overflow text-tooltip="$ctrl.app.label || $ctrl.app.appId"></div>
                </a>
            </h3>
        </div>
    </div>

</div>