<div class=" dashboard-body row-cell" >
    <div class="h100 vertical-flex auto-width">
        <div class="flex dashboard-image oh" dashboard-miniature dashboard="$ctrl.dashboard" page-idx="0">
        </div>
        <div class="noflex dashboard-title" >
            <h3>
                <a href="{{ $ctrl.viewLink() }}" main-click >
                    <div show-tooltip-on-text-overflow text-tooltip="$ctrl.dashboard.displayName"></div>
                </a>
            </h3>
        </div >
        <div class="noflex dashboard-description" show-tooltip-on-text-overflow text-tooltip="$ctrl.dashboard.projectName"></div>
        <div class="noflex dashboard-size">
            {{$ctrl.dashboard.numPages}} page{{$ctrl.dashboard.numPages==1 ? "" : "s"}}, {{$ctrl.dashboard.numTiles}} tile{{$ctrl.dashboard.numTiles==1 ? "" : "s"}}
        </div>
    </div>
</div>