<div class="horizontal-flex"  >

    <div class="flex item-body row-cell">
        <div class="fh vertical-flex auto-width">
            <div class="flex item-title">
                <div class="horizontal-flex" >
                    <div class="noflex illustration universe-background {{$ctrl.CatalogItemService.itemToColor($ctrl.item.catalogItemType, $ctrl.item)}}" >
                        <i class="icon {{$ctrl.CatalogItemService.itemToIcon($ctrl.item.catalogItemType, $ctrl.item, true)}}"></i>
                    </div>
                    <h3 class="flex">
                        <a class="db h100 items-3l" href="{{$ctrl.CatalogItemService.getLink($ctrl.item.catalogItemType, $ctrl.item)}}" 
                            main-click show-tooltip-on-text-overflow text-tooltip="$ctrl.item.displayName" text-overflow-class="items-3l">
                        </a>
                    </h3>
                </div>
            </div>

            <div class="flex-no-grow item-meta">
                <div class="item-description" show-tooltip-on-text-overflow text-tooltip="$ctrl.item.projectName"></div>
                <div class="item-modified">
                    <span ng-if="$ctrl.item.lastModified">modified {{$ctrl.item.lastModified }}</span>
                </div>
            </div>
        </div>
    </div>

</div>