decorator==4.4.2
ipykernel==4.8.2
ipython_genutils==0.2.0
jupyter_client==5.2.4
jupyter_core==4.4.0
pexpect==4.8.0
pickleshare==0.7.5
ptyprocess==0.7.0
pyzmq==18.0.2
simplegeneric==0.8.1
tornado==5.1.1
traitlets==4.3.3
