<div class="modal modal3">
	<div dku-modal-header modal-title="Go to original analysis model" />

	<div class="modal-body">
		<p>This version of the saved model was retrained using the training recipe.</p>

		<p>You are about to go to a model in analysis.
			The parameters of this analysis model were reused by the training recipe to train this saved model, but be aware that the model itself is different.
		</p>
	</div>
	<div class="modal-footer modal-footer-std-buttons">
		<button class="btn btn--text btn--secondary" type="button" ng-click="dismiss()">Cancel</button>
		<button class="btn btn--text btn--success btn--primary" type="button" ng-click="go()">Go</button>
	</div>
</div>