<div data-extend-template="/templates/recipes/single-output-recipe-creation.html" ng-controller="NewClusteringScoringRecipeModalController">
   <div dku-modal-header-with-totem modal-title="Score a dataset" modal-totem="icon-score_recipe" data-block="header" />

   <div data-block="settings">
        <div class="control-group">
            <label for="" class="control-label">Input dataset</label>
            <div class="controls">
                <div dataset-selector="io.inputDataset" available-datasets="availableInputDatasets" class="qa_recipe_available-datasets-dropdown" ></div>
            </div>
        </div>
        <div class="control-group">
            <label for="newClusteringScoringModel" class="control-label">Clustering Model</label>
            <div class="controls">
                <select id="newClusteringScoringModel" dku-bs-select required
                        ng-options="sm.id as sm.name for sm in savedModels" ng-model="smId"></select>
            </div>
            <div class="controls placeholder-block" ng-if="!savedModels.length">
                No clustering model yet. Create a clustering model in the Lab, then deploy it to the Flow.
            </div>
        </div>
    </div>
</div>