<div class="managed-folder-settings" object-metrics metrics-auto-save="false" model-metrics-main ng-controller="SavedModelStatusPageController" ng-init="isInSavedModel=true;">
	<div class="top-level-tabs" ng-if="metricsCallbacks">
		<div class="row-fluid object-nav">
			<div >
				<a class="tab"  ng-class="{'enabled': $state.includes('projects.project.savedmodels.savedmodel.status.metrics')}" href="{{$state.href('projects.project.savedmodels.savedmodel.status.metrics')}}" >View</a>
				<a class="tab"  ng-class="{'enabled': $state.includes('projects.project.savedmodels.savedmodel.status.checks')}" href="{{$state.href('projects.project.savedmodels.savedmodel.status.checks')}}" >Checks</a>
			</div>
		</div>
		<div include-no-scope="/templates/datasets/fragments/metrics-save.html" />
	</div>

	<div ng-if="metricsCallbacks" class="dss-page" ui-view></div>
</div>