<div class="modal modal3 new-dashboard-modal dku-modal expose-object-modal" auto-size="false">
    <div dku-modal-header-with-totem modal-title="Share &quot;{{objectDisplayName}}&quot;" modal-totem="icon-dku-share" />

    <form name="copyDashboardForm" class="dkuform-modal-vertical dkuform-modal-wrapper">
        <div class="modal-body">
            <div block-api-error />

            <div ng-show="showExpositionInfo" >
                <div class="alert alert-info">
                    Sharing this object makes it available only on dashboards and insights of target projects.
                </div>
                <hr/>
            </div>

            <div class="control-group" ng-show="projectSummary.canManageDashboardAuthorizations && !objectExposition.dashboardAllAuthorized">
                <label class="control-label">Share to dashboard-only users</label>
                <div class="controls">
                    <label>
                        <input type="checkbox" ng-model="dashboardAuthorized" ng-change="onDashboardAuthorize()" />
                        Allow dashboard-only users to read on dashboards
                    </label>
                </div>
            </div>

            <hr ng-show="projectSummary.canManageDashboardAuthorizations && !objectExposition.dashboardAllAuthorized" />
            <div class="control-group" style="margin-bottom: 0;">
                <label class="control-label" style="margin-top: 20px; margin-bottom: 0;">Target projects</label>
            </div>

            <div class="project-select oa full-width dku-border-bottom">
                <ul class="raw-unstyled-ul">
                    <li ng-repeat="rule in objectExposition.rules" class="mx-textellipsis">
                        <i class="icon-dkubird"></i>
                        {{rule.targetProjectDisplayName}}
                        <i class="pull-right cursor-pointer icon-trash" ng-click="removeProject(rule.targetProject)"></i>
                    </li>
                    <li ng-show="!uiState.addingProject">
                        <a class="dku-add-new" ng-click="uiState.addingProject = true">Add Project</a>
                    </li>
                    <li ng-show="uiState.addingProject">
                        <div object-picker="projectKey"
                            no-live-update="true"
                            type="PROJECT"
                            object="newProject"
                            class="dibvam"
                            unusable="projectKeys"
                            available-objects="available.projects"
                            empty-message="Select a project..." />
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons full-width">
            <div ng-if='currentProjectKey' class="pull-left" style="font-size: 14px; margin: 0 10px;">
                <a href="/projects/{{currentProjectKey}}/security/exposed">Go to project exposed elements settings</a>
            </div>
            <button type="button"  class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-click="save()">Share</button>
        </div>

    </form>
</div>
