<div>
    <h2 class="settings-section-title mtop0">Datasets data</h2>
    <label class="checkbox">
        <input type="checkbox" ng-model="exportOptions.exportUploads">Export all 'uploaded' datasets</input>
    </label>
    <label class="checkbox">
        <input type="checkbox" ng-model="exportOptions.exportAllInputDatasets">Export all 'input' datasets</input>
    </label>
    <label class="checkbox">
        <input type="checkbox" ng-model="exportOptions.exportManagedFS">Export all managed FS datasets</input>
    </label>
    <label class="checkbox">
        <input type="checkbox" ng-model="exportOptions.exportInsightsData">Export static insights data</input>
    </label>
    
    <label class="checkbox">
        <input type="checkbox" ng-model="exportOptions.exportAllDatasets">Export all datasets</input>
    </label>
    <div class="smallgrey">
        NB: partitioned datasets are not exported.
    </div>
    
    <h2 class="settings-section-title">Managed folders data</h2>
    <label class="checkbox">
        <input type="checkbox" ng-model="exportOptions.exportAllInputManagedFolders">Export all 'input' managed folders data</input></label>
    <label class="checkbox">
        <input type="checkbox" ng-model="exportOptions.exportManagedFolders">Export all managed folders data</input></label>
    
    <h2 class="settings-section-title">Machine learning data</h2>
    <label class="checkbox">
        <input type="checkbox" ng-model="exportOptions.exportAnalysisModels">Export all analysis models data</input></label>
    <label class="checkbox">
        <input type="checkbox" ng-model="exportOptions.exportSavedModels">Export all saved models data</input></label>
    <label class="checkbox" ng-if="featureFlagEnabled('model_evaluation_stores')">
        <input type="checkbox" ng-model="exportOptions.exportModelEvaluationStores">Export all model evaluation stores data</input></label>
</div>