<div class="h100">
	<div class="top-level-tabs objecttype-project" ng-if="topNav.tabsType == 'DASHBOARD'">
		<div class="row-fluid object-nav">
			<div class="pull-right">
				<div class="otherLinks">
						<button ng-if="dashboardContext.writePermission" style="display: inline-block; vertical-align: top" ui-sref="projects.project.insights.list" class="btn btn--secondary"> <i class="icon-insight"></i>
							&nbsp; Manage insights
						</button>
					<div ng-if="!dashboardContext.readOnly && dashboardContext.writePermission" style="display: inline-block">
						<button ng-click="dashboardContext.onCreateSection()" class="btn if-writable btn-create-section"> <i class="icon-plus"></i>
							&nbsp; Create Section
						</button>
						<button class="btn btn--success"  ng-click="dashboardContext.readOnly=true" style="width:130px;float:right">
							<i class="icon-lock"></i>
							&nbsp; Done editing
						</button>
					</div>

					<div ng-if="dashboardContext.readOnly && dashboardContext.writePermission" style="display: inline-block;  vertical-align: top">
						<button class="btn btn--success" ng-click="dashboardContext.readOnly=false" style="width:130px; float:right">
							<i class='icon-pencil'/>&nbsp; Edit
						</button>
					</div>

				</div>
			</div>
		</div>
    </div>

	<div ui-view class="h100"></div>
</div>