<div>
    <form name="descriptionForm" class="dkuform-horizontal reporter-header horizontal-flex" >
        <span class="flex cursor-pointer type-wrapper" ng-click="integration.$expanded = !integration.$expanded">
            <span class="expand-button">
                <i ng-class="{'icon-chevron-down' : integration.$expanded, 'icon-chevron-right' : !integration.$expanded}"></i>
            </span>
            <span class="type" ng-show="integration.hook.type">{{getIntegrationTypeLabel(integration.hook.type)}}</span>
        </span>
        <span class="noflex active">Active</span>
        <label class="noflex dku-toggle" style="margin-right: 30px;">
            <input type="checkbox" ng-model="integration.active" />
            <span/>
        </label>
        <a class="noflex delete" aria-hidden="true" ng-click="removeIntegration($index)" >&times;</a>    
    </form>

    <form name="descriptionForm" class="dkuform-horizontal reporter-form" ng-if="integration.$expanded && integration.hook.type">
        <div project-integration-params hook="integration.hook" form="descriptionForm" index="$index"/>
    </form>
</div>