<div class="tasks-list h100 oa">
    <div>
    	<button class="btn btn--secondary pull-right" ng-click="refreshList()"> <i class="icon-refresh" />&nbsp;Refresh
    	</button>
        <div class="std-list-search-box" style="display: inline-block;">
            <span class="add-on"> <i class="icon-dku-search"></i>
            </span>
            <input type="search" ng-model="query" style="width: 190px;" placeholder="Filter..."/>
        </div>
    </div>

	<h2 class="settings-section-title" id="long-tasks">Long tasks</h2>
	<div ng-if="running.futures.length == 0" class="nothing">No background task running at the moment</div>
    <div>
        <div ng-repeat="future in running.futures | filter:query" activity-future-display="future" refresh-list="refreshList" in-admin="true" class="item"></div>
    </div>

	<h2 class="settings-section-title" id="notebooks">Notebooks</h2>
	<div ng-if="running.notebooks.length == 0" class="nothing">No notebook running at the moment</div>
    <div>
        <div ng-repeat="notebook in running.notebooks | filter:query" activity-notebook-display="notebook" refresh-list="refreshList" in-admin="true" class="item"></div>
    </div>

	<h2 class="settings-section-title" id="jobs">Jobs</h2>
	<div ng-if="running.jobs.length == 0" class="nothing">No job running at the moment</div>
    <div>
        <div ng-repeat="job in running.jobs | filter:query" activity-job-display="job" refresh-list="refreshList" in-admin="true" class="item"></div>
    </div>

    <h2 class="settings-section-title" id="scenarios">Scenarios</h2>
    <div ng-if="running.scenarios.length == 0" class="nothing">No scenario running at the moment</div>
    <div>
        <div ng-repeat="scenario in running.scenarios | filter:query" activity-scenario-display="scenario" refresh-list="refreshList" in-admin="true" class="item"></div>
    </div>

    <h2 class="settings-section-title" id="hive-scala-validation">Hive &amp; Scala validation</h2>
    <div ng-if="running.clusterKernels.length == 0" class="nothing">No validation kernel running at the moment</div>
    <div>
        <div ng-repeat="clusterKernel in running.clusterKernels | filter:query" activity-cluster-kernel-display="clusterKernel" refresh-list="refreshList" in-admin="true" class="item"></div>
    </div>
</div>