<div class="modal modal3">
	<div dku-modal-header modal-title="Update datasets status" />
	<form class="dkuform-modal-wrapper dkuform-modal-horizontal">
		<div class="modal-body">
			<p>Are you sure you want to update datasets status? This could be a long operation.</p>

			<div class="control-group">
				<label for="" class="control-label">Compute records count</label>
				<div class="controls">
					<label>
						<input type="checkbox" ng-model="settings.computeRecords" />
					</label>
				</div>
			</div>
			<div class="control-group">
				<label for="" class="control-label">Force recompute</label>
				<div class="controls">
					<label>
						<input type="checkbox" ng-model="settings.forceRecompute" />
						<span class="help-inline">Even if the data seems up to date</span>
					</label>
				</div>
			</div>
		</div>
		<div class="modal-footer modal-footer-std-buttons">
			<button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
			<button type="button" class="btn btn--text btn--primary" ng-click="go()">OK</button>

		</div>
	</form>

</div>