<div class="dss-page row-fluid offset0">
    <div block-api-error />
    <div class="span2 offset0 nav-list-sidebar sidebar-admin oa">
        <ul>
            <li class="l1" ng-class="{'active': $state.is('admin.monitoring.summary')}" full-click>
                <a main-click ui-sref="admin.monitoring.summary">Summary</a>
            </li>
            <li class="l1" ng-class="{'active': $state.is('admin.monitoring.connectiondata')}" full-click>
                <a main-click ui-sref="admin.monitoring.connectiondata">Per-connection data</a>
            </li>
            <li class="l1" ng-class="{'active': $state.is('admin.monitoring.clustertasks')}" full-click>
                <a main-click ui-sref="admin.monitoring.clustertasks">Cluster &amp; DB tasks</a>
            </li>

            <li class="l1" ng-class="{'active': $state.is('admin.monitoring.bgtasks')}" full-click>
                <a main-click ui-sref="admin.monitoring.bgtasks">Running background tasks</a>
            </li>

            <li class="l1" ng-class="{'active': $state.is('admin.monitoring.webapps')}" full-click>
                <a main-click ui-sref="admin.monitoring.webapps">Webapp backends</a>
            </li>

            <li class="l1" ng-class="{'active': $state.is('admin.monitoring.integrations')}" full-click>
                <a main-click ui-sref="admin.monitoring.integrations">Integrations</a>
            </li>

        </ul>
    </div>

    <div class="span10 h100 offset0 boxed-next-to-sidebar">
        <div ui-view class="h100" />
    </div>
</div>