<div>
    <div block-api-error />
    <button class="btn btn--success" ng-click="runNow()" ng-disabled="uiState.running">
        <span ng-if="uiState.running == true"><i class="icon-spin icon-spinner"></i>&nbsp;Running</span>
        <span ng-if="uiState.running != true">Run now</span>
    </button>
    <a class="btn btn--contained btn--alt" ng-show="model.lastExportedFrom"
            href="{{ model | savedModelMLTaskHref }}">
        <i class="icon-dku-nav_analysis"/>
        <span>View ML task</span>
    </a>
    <span ng-include="'/templates/apps/fragments/tile-help.html'"></span>
</div>
