 <div class="fh oa" ng-if="!canAPI">
        <div class="locked-feature" ng-if="appConfig.communityEdition && !appConfig.licensing.ceEntrepriseTrial">
            <div class="banner">
                DSS API is not available with your
                <span class="edition">Free Edition</span>
                license
            </div>
            <div include-no-scope="/templates/profile/community-vs-enterprise-try.html"></div>
        </div>
        <div class="container-fluid page-top-padding" ng-if="appConfig.licensingMode == 'SAAS'">
            <div style="margin: 3em auto; width: 500px; text-align: center">
                <h4 class="ce-unavail">
                    DSS API is not available in
                    <br />
                    Data Science Studio Online Trial
                </h4>
            </div>
        </div>
    </div>
