<div class="discussions-widget discussions-widget-popover vertical-flex"
	ng-class="{maximized: uiState.maximized}"
	ng-show="uiState.displayed"
	ui-2-keydown="{'esc': 'closeDiscussionsWidget()'}">
	<div class="discussions-widget-popover-header noflex horizontal-flex" ng-class="{unread: discussionCounts.unread > 0}" ng-click="toggleMaximized()">
		<div class="discussions-widget-popover-header-title flex">
			<i class="icon-comments" />
			{{titleForNumberOfDiscussions()}}
		</div>
		<div class="discussions-widget-popover-header-minmax noflex" ng-style="{'padding-top': uiState.maximized ? '4px' : '-1px'}">
			<a title="{{ uiState.maximized ? 'Minimize' : 'Maximize' }}" style="font-size: 12px;">
				<i ng-class="{'icon-minus': uiState.maximized, 'icon-DKU_expand': !uiState.maximized}" />
			</a>
		</div>
		<div class="discussions-widget-popover-header-close noflex">
			<a ng-click="closeDiscussionsWidget()" title="Close"><i class="icon-remove" /></a>
		</div>
	</div>
	<div class="flex h100" ng-show="uiState.maximized" include-no-scope="/templates/widgets/discussions-widget-content.html" style="overflow: hidden;" />
</div>