<div class="modal modal3 edit-tags-modal" ng-form="editTagsForm">
    <div dku-modal-header-with-totem modal-title="Manage tags" modal-totem="icon-tags" />

    <div class="modal-body modal-no-sizing">
        <div tags-list-editor="tagsDirty"/>
    </div>

    <div class="modal-footer modal-footer-std-buttons has-border">
        <div class="pull-left edit-tags-modal__footer-info" ng-show="hasGlobalTags">
            <i class="icon-info-sign padleftright4"></i>
            Modify global tag categories in Administration.
        </div>
        <button type="button" class="btn btn--text btn--secondary" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn--text btn--primary" ng-disabled="editTagsForm.$invalid" ng-click="save()">Save</button>
    </div>
</div>
