<div class="editable-text-field" ng-class="{ 'editable-text-field--custom': !!fontSize }">
    <div ng-if="!item.$editing" class="horizontal-flex editable-text-field__view" ng-dblclick="startEdit(item)" ng-style="!!fontSize && { 'font-size': fontSize + 'px' }">
        <span class="editable-text-field__text" ng-class="{ 'editable-text-field__text--default': textValue === defaultValue }" show-tooltip-on-text-overflow text-tooltip="textValue"></span>
        <button class="btn btn--icon btn--secondary btn--text btn--faded mleft8 noflex" ng-click="startEdit(item)">
            <i class="icon-pencil"/>
        </a>
    </div>
    <div ng-if="item.$editing">
        <form ng-submit="validateEdit(item)" class="mbot0 dkuform-std-vertical">
            <input type="text" ng-model="item.$textValue" auto-focus="true" ng-blur="validateEdit(item)" placeholder="{{ placeholder }}" class="editable-text-field__input" ng-style="!!fontSize && { 'font-size': fontSize + 'px' }" />
        </form>
    </div>
</div>