<div class="modal modal3 edit-metadata-modal">
    <div class="vertical-flex h100">
        <div dku-modal-header modal-title="Edit metadata for {{object.name}}" modal-class="has-border" class="noflex"/>
        <div class="modal-body modal-no-sizing flex vertical-flex ">
            <div block-api-error />
            <div class="flex horizontal-flex">
                <div class="flex" style="flex-basis:50%; padding-right:10px; ">
                    <div class="h100 vertical-flex" ng-if="state">
                        <label class="horizontal-flex noflex">
                            <i class="icon-info-sign" />
                            <span class="flex">Short description</span>
                            <span class="help-tip noflex">will appear on the flow on hover</span>
                        </label>
                        <div class="flex control-group" autocompletable-textarea>
                            <span class="fh h100 controls" >
                                <textarea msd-elastic class="h100"
                                    ng-model="state.shortDesc"
                                    placeholder=""
                                    ui-codemirror="editorOptions">
                                </textarea>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="flex; " style="flex-basis:50%; padding-left:10px; ">
                    <div class="h100 vertical-flex" ng-if="state">
                        <label class="horizontal-flex noflex">
                            <span class="flex">Long description</span>
                            <span class="help-tip noflex">Markdown supported</span>
                        </label>
                        <div class="flex control-group" autocompletable-textarea options="{autofocus: false}">
                                <span class="fh h100 controls" >
                                    <textarea msd-elastic class="h100"
                                        ng-model="state.description"
                                        placeholder=""
                                        ui-codemirror="editorOptions">
                                    </textarea>
                                </span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer modal-footer-std-buttons has-border noflex">
            <button type="button" class="btn btn--text btn--secondary" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-click="save()">Save</button>
        </div>
    </div>

</div>