<ul class="grel-reference" style="word-wrap: break-word;">
	<li>
		<code>nb_events + 3</code>
		<br />
		<small>
			Evaluates to the value of the <em>nb_events</em>
			cell + 3
		</small>
	</li>
	<li>
		<code>if (x1 > x2, "big", "small")</code>
		<br />
		<small>Returns "big" if x1 > x2, "small" otherwise</small>
	</li>
	<li>
		<code>numval("column with space") * 2</code>
		<br />
		<small>
			For column names with special characters, use
			<em>strval("name")</em>
			or
			<em>numval("name")</em>
		</small>
	</li>
	<li>
		<code>concat(col1, col2, col3)</code>
		<br />
		<small>Concatenate the values in col1, col2 and col3</small>
	</li>
</ul>
