<div ng-if="grelSyntax" class="grel-reference" style="word-wrap: break-word; line-height: 21px;">
	<div class="pull-right" style="padding-right: 10px">
		<small>
			<span class="std-greylink" doc-link="/advanced/formula">Complete doc</span>
		</small>
	</div>
	<div class="std-list-search-box" style="display: inline-block; margin: 0px 0px 10px 1px;">
		<span class="add-on"> <i class="icon-dku-search"></i>
		</span>
		<input type="search" ng-model="editing.grelFilter" style="width: 190px;" placeholder="Search..." />
	</div>
    <ul>
        <li ng-repeat="functionGroup in filteredGrelFunctions">
        	<h5>{{functionGroup.name}}</h5>
            <ul>
                <li ng-repeat="function in functionGroup.functions" class="grel-reference__function">
                    <strong>{{function.name}}</strong>
                    {{!function.isField ? ((function.unrealFunction ? '' : '(') + function.params + (function.unrealFunction ? '' : ')')) : ''}}{{function.returns ? (' - Returns ' + function.returns) : ''}}
                    <br />
                    <em><span ng-bind-html="function.description"></span></em>
                </li>
            </ul>
        </li>
    </ul>
</div>
