<div class="modal modal3 image-upload-modal modal-split-pane" ng-class="{'wide' : insightMode}">
    <form name="formImageUploader">
        <div class="vertical-flex h100" style="box-sizing:border-box">
            <dku-modal-header modal-title="Upload image" modal-close="dismiss" modal-class="noflex has-border" ></dku-modal-header>
            <div class="flex">
                <div class="modal-body h100">
                    <image-uploader
                        project-key="totem.projectKey"
                        object-type="totem.objectType"
                        object-id="totem.id"
                    />
                </div>
            </div>
            <div class="noflex modal-footer modal-footer-std-buttons">
                <div class="pull-right">
                    <button ng-click="close()" class="btn btn--text btn--secondary">Close</button>
                    <button ng-if="empty && !uiState.isUseColor && (uiState.isProjectImg || uiState.isAppImg)" ng-click="removeImage()" class="btn btn--text btn--danger">Remove image</button>
                    <button ng-if="!showColorPicker && !empty" ng-click="clearImageForUpload()" class="btn btn--text btn--danger">Clear image</button>
                    <button ng-if="uiState.isUseColor" ng-click="saveColor()" class="btn btn--text btn--primary" ng-disabled="!formImageUploader.$valid || (uiState.imgColor==imgColor && uiState.imgPattern == imgPattern && uiState.initials == initials)">Save color</button>
                    <button ng-if="!uiState.isUseColor" class="btn btn--text btn--primary actions"
                        ng-click="uploadImage()"
                        ng-disabled="empty">Upload</button>
                </div>
            </div>
        </div>
    </form>
</div>
