<select ng-model="objectType" dku-bs-select="objectTypePicker" ng-disabled="ngDisabled" class="topbar-drawer-popup">
    <option ng-if="allOption"
        value="{{null}}"
        data-content="<i class='icon-asterisk'></i> {{ allOption }}">
    </option>
    <option ng-repeat="type in taggableTypes | filter: typeFilter"
        value="{{type}}"
        data-content="<i class='{{type | typeToIcon}} {{type | typeToColor}} universe-color object-icon'></i> {{type |niceConst}}">
        {{type | niceConst}}
    </option>
</select>