<label>Sort order</label>
<div class="ordering-rules-form" add-remove ng-model="rules">
    <ul>
        <li class="horizontal-flex" ng-repeat="rule in rules">
            <div class="flex">
                <div class="fh">
                    <input type="text" placeholder="Column" ng-model="rule.columnName" style="width: 100%;"/>
                </div>
            </div>
            <div class="noflex">
                <button type="button" class="btn btn--secondary" ng-click="rule.asc = !rule.asc" title="{{ rule.asc ? 'ascending' : 'descending' }}">
                    <i ng-class="rule.asc ? 'icon-sort-by-attributes' : 'icon-sort-by-attributes-alt'"/>
                </button>
            </div>
            <div class="noflex">
                <a ng-click="remove($index)"><i class="icon-trash" /></a>
            </div>
        </li>
    </ul>
    <a ng-click="add({'asc' : true})">Add a sort key</a>
</div>