<div class="stepper-step" ng-class="{ 'stepper-step--current': isCurrentStep, 'stepper-step--completed': isCompletedStep, 'stepper-step--warning': step.getWarning(), 'stepper-step--error': step.getError(), 'stepper-step--disabled': disableStep }" toggle="tooltip-left" title="{{ isCompletedStep ? step.getError() || step.getWarning() : '' }}">
    <div class="stepper-step__number-wrap">
        <div class="stepper-step__number">
            <span ng-if="!isCompletedStep">{{ stepNumber + 1 }}</span>
            <span ng-if="isCompletedStep" ng-class="{
                'stepper-step__error': step.getError(),
                'stepper-step__warning': !step.getError() && step.getWarning(),
                'stepper-step__valid': !step.getError() && !step.getWarning(),
            }"></span>
        </div>
        <div class="stepper-step__divider" ng-if="!isLastStep">
            <div class="stepper-step__divider-line"></div>
        </div>
    </div>
    <div class="stepper-step__content">
        <h4 class="stepper-step__content-header">{{ step.label }}</h4>
        <p class="stepper-step__content-description">{{ step.description || '&nbsp;'}}</p>
    </div>
</div>