<div class="banner check oa">
	<table style="width: 100%; table-layout: auto;">
		<tr class="metric-plot">
			<td class="info" style="left: {{adjustForScroll.left}}px; z-index: 10; width: auto;">
				<div class="tile-wrapper">
					<h4 class="tile-header" title="{{displayedCheck.name}}">
						{{displayedCheck.name}}
					</h4>
					<div class="tile-body" style="overflow: hidden;">
						<div class="date">{{lastValue.time | date:'yyyy-MM-dd HH:mm'}}</div>
						<div class="message">{{lastValue.message}}</div>
						<div class="single-outcome outcome-{{lastValue.outcome.toLowerCase()}}">
							<div class="value">{{lastValue.outcome}}</div>
						</div>
			            <div class="outcome-bar outcome-{{lastValue.outcome.toLowerCase()}}"></div>
					</div>
				</div>
			</td>
	
			<td class="card" ng-if="displayedData" style="width: 100%;">
				<div class="horizontal-list">
					<div ng-repeat="point in displayedData.values | filter:pointInRange track by $index" class="point">
						<h4 class="tile-header"></h4>
						<div class="tile-body">
				            <div class="date">{{point.time | date:'yyyy-MM-dd HH:mm'}}</div>
							<div class="message">{{point.message}}</div>
						 	<div class="single-outcome outcome-{{point.outcome.toLowerCase()}}">
					            <div class="value">{{point.outcome}}</div>
							</div>
				            <div class="outcome-bar outcome-{{point.outcome.toLowerCase()}}"></div>
						</div>
					</div>
				</div>	
			</td>
		</tr>
	</table>
</div>
