<div custom-element-popup class="popover-btn" title="Compute metric..." 
    cep-position="align-right-bottom" close-on-click="true" 
    style="display: inline-block; text-align: center; width: 15px;" full-click>
	<i class="compute-cog icon-caret-down mainzone cursor-pointer" ng-click="togglePopover(); $event.stopPropagation();" main-click></i>
	<ul class="popover custom-element-popup-popover dropdown-menu">
		<li class="nav-header" style="text-transform: none;">
			{{displayedMetric.metric.id}}
		</li>
		<li ng-if="computeMetricForAll">
			<a ng-click="computeMetricForAll(displayedMetric)">Compute metric for all partitions</a>
		</li>
		<li ng-if="computeMetricForSelected">
			<a ng-click="computeMetricForSelected(displayedMetric)">Compute metric for selected partition</a>
		</li>
		<li ng-if="computeMetricForObject">
			<a ng-click="computeMetricForObject(displayedMetric)">Compute metric</a>
		</li>
		<li ng-if="createAndPinInsight">
			<a ng-click="createAndPinInsight(displayedMetric)"><i class="icon-dku-publish" /> Publish</a>
		</li>
	</ul>
</div>