                <ul class="array-value" ng-controller="ListWithCountsController">
                    <li ng-repeat="valueAndCount in listWithCounts track by $index" class="mx-textellipsis">
                        <span class="value">{{MetricsUtils.getNiceValue(displayedData, valueAndCount.value)}}</span>
                        <span class="count">{{valueAndCount.count}}</span>
                    </li>
                    <li ng-repeat="a in maxArray | limitTo: (maxLength - point.value.length) track by $index ">
                        <span class="value">&nbsp;</span>
                    </li>
                </ul>
