                <div class="single-value h100 center-children">
                    <div class="mx-textellipsis {{MetricsUtils.getColoringClass(displayedMetric, point)}}"
                         auto-resize-text min-font-size="20"
                         content="MetricsUtils.getFormattedValue(point.value, displayedMetric, displayedData)"
                         tooltip-placement="bottom"
                         tooltip-container="body"
                         title="{{point.value}}"
                    ></div>
                </div>
