<div class="modal modal3 new-project-modal dku-modal" auto-size="false" ng-controller="AutomationBundleNewProjectModalController">
    <div dku-modal-header-with-totem modal-title="Import new automation project" modal-totem="icon-plus" />
    <form class="dkuform-modal-horizontal" name="newProjectForm">
        <div class="modal-body">
            <div block-api-error />
            <div class="control-group" >
                <label for="newProjectFile" class="control-label">Source bundle</label>
                <div class="controls">
                    <input id="newProjectFile" type="file" style="line-height: 10px; width: 250px;" required valid-file ng-model="newProject.file" accept="application/zip" />
                </div>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-click="create()"
                ng-disabled="newProjectForm.$invalid">Import</button>
        </div>
    </form>
</div>