<div ng-controller="SQLConnectionController" class="h100 vertical-flex">
    <div class="oa vertical-flex">
        <div class="w100 small-lr-padding">
            <div class="generic-white-box">
                <div include-no-scope="/templates/admin/fragments/connection-name.html" />
                <div block-api-error />
                <form name="connectionParamsForm" class="dkuform-horizontal">
                    <div class="row-fluid">
                        <div class="span7">
                            <h2 class="settings-section-title">Basic params</h2>

                            <fieldset ng-if="connection.params.useURL != true">
                                <div form-template-element
                                class="control-group"
                                model="connection.params"
                                field="{name:'host',type:'string', mandatory:true, label:'Host'}" />
                                <div class="alert alert-warning" ng-show="checkForHttpInHostUrl(connection.params.host)">
                                    Host should not contain a http(s):// prefix.
                                </div>

                                <div class="control-group">
                                    <label for="" class="control-label">Default database</label>
                                    <div class="controls">
                                        <input type="text" ng-model="connection.params.defaultDatabase" />
                                        <div class="help-inline">
                                            Unqualified lookups will resolve to it.
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset ng-if="connection.params.useURL == true">
                                <div class="control-group">
                                    <label class="control-label">Connection URL</label>
                                    <div class="controls">
                                        <input type="text" class="input-xxlarge" ng-model="connection.params.url"
                                        ng-required="true"
                                        placeHolder="jdbc:teradata://HOST/USER=USER,PASSWORD=PASSWORD,DATABASE=DB" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Displayed URL</label>
                                    <div class="controls">
                                        <input type="text" class="input-xxlarge" ng-model="connection.params.displayedUrl"
                                        ng-required="false"
                                        placeHolder="jdbc:teradata://HOST/USER=USER,PASSWORD=****,DATABASE=DB" />
                                        <span class="help-inline">Visible URL for the logs</span>
                                    </div>
                                </div>
                            </fieldset>
                            
                            <div class="control-group">
                                <label for="" class="control-label">Login with Kerberos</label>
                                <div class="controls">
                                    <label style="display: inline-block;">
                                        <input type="checkbox" ng-model="connection.params.kerberosLoginEnabled"/>
                                    </label>
                                </div>
                            </div>

                            <fieldset ng-if="connection.params.useURL != true">
                                <fieldset ng-if="connection.credentialsMode == 'GLOBAL' && !connection.params.kerberosLoginEnabled">
                                    <div form-template-element
                                    class="control-group"
                                    model="connection.params"
                                    field="{name:'user', type:'string', mandatory:true, label:'User'}" />

                                    <div class="control-group">
                                        <label for="" class="control-label">Password</label>
                                        <div class="controls">
                                            <input type="password" ng-model="connection.params.password" autocomplete="new-password" />
                                        </div>
                                    </div>
                                </fieldset>
                            </fieldset>


                            <fieldset ng-if="connection.params.kerberosLoginEnabled">
                                <div class="control-group">
                                    <label class="control-label">Principal</label>
                                    <div class="controls">
                                        <input type="text" ng-model="connection.params.dssPrincipal"/>
                                        <span class="help-inline">Principal for the DSS user</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Keytab</label>
                                    <div class="controls">
                                        <input type="text" ng-model="connection.params.dssKeytabPath"/>
                                        <span class="help-inline">Absolute path to the keytab to use for DSS</span>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="control-group">
                                <label class="control-label">Advanced JDBC properties</label>
                                <div class="controls">
                                    <ng2-connection-properties-list [(items)]="connection.params.properties" (on-validity-change)="setAdvancedPropertiesValidity($event)"></ng2-connection-properties-list>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="" class="control-label">Use custom JDBC URL</label>
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" ng-model="connection.params.useURL"/>
                                        <span class="help-inline">Used to customize JDBC connection URL</span>
                                    </label>
                                </div>
                            </div>

                            <h2 class="settings-section-title">Advanced params</h2>
                            <div class="control-group">
                                <label for="" class="control-label">Fetch size</label>
                                <div class="controls">
                                    <input type="text" ng-model="connection.params.fetchSize" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="" class="control-label">Autocommit mode</label>
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" ng-model="connection.params.autocommitMode" />
                                        <span class="help-inline">Enabling autocommit mode is required for various Teradata features like stored procedures</span>
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="" class="control-label">Default Primary Index</label>
                                <div class="controls">
                                    <select dku-bs-select ng-model="connection.params.defaultPrimaryIndexBehavior" ng-options="x[0] as x[1] for x in [['AUTO', 'Auto (use database default)'], ['NOPI', 'No Primary Index']]" />
                                </div>
                            </div>
                            <div include-no-scope="/templates/admin/fragments/connection-post-connect-statements.html" />
                            <div include-no-scope="/templates/admin/fragments/connection-sql-flags.html" />
                            <div include-no-scope="/templates/admin/fragments/connection-credentials-mode.html" />
                        </div>

                        <div class="span5">
                            <div include-no-scope="/templates/admin/fragments/sql-naming-rule.html" />
                            <div include-no-scope="/templates/admin/fragments/connection-flags.html" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="generic-white-box mtop20" ng-if="appConfig.customFieldsMap['CONNECTION'].length > 0">
                <div include-no-scope="/templates/admin/fragments/connection-custom-fields.html" />
            </div>
        </div>
    </div>

    <div class="small-lr-padding page-top-padding vertical-flex connection-page__connection-testing-section">
        <div class="vertical-flex h100">
            <div include-no-scope="/templates/admin/fragments/connection-name-test-save.html"/>
            <div class="vertical-flex oh" include-no-scope="/templates/admin/fragments/sql-connection-test.html"/>
            <div include-no-scope="/templates/admin/fragments/connection-sql-mass-import.html"/>
        </div>
    </div>

</div>