<div ng-controller="WebhookChannelController">
	<form name="descriptionForm" class="dkuform-horizontal">
		<div class="control-group">
			<label for="" class="control-label">Id</label>
			<div class="controls" ng-if="channel.$creation">
                <input type="text" ng-model="channel.id" />
                <span class="help-inline">Must be unique.</span>
            </div>
            <div class="controls" ng-if="!channel.$creation">
                {{channel.id}}
            </div>
		</div>
        <div class="control-group">
            <label class="control-label">Use Proxy</label>
            <div class="controls">
                <input type="checkbox" ng-model="channel.configuration.useProxy"></input>
                <span class="help-inline">Use DSS's proxy settings to connect</span>
            </div>
        </div>
	</form>
</div>