<div block-api-error></div>
<div class="vertical-flex h100 mx-center-children deployer-home">
    <div class="deployer-home__columns mx-center-children">
        <div class="deployer-home__column" ui-sref="projectdeployer.deployments.dashboard">
            <img ng-src="/static/dataiku/images/deployer/project-deployer.png">
            <div class="deployer-home__column-body">
                <h1 class="deployer-home__header">Projects</h1>
                <div class="deployer-home__status">
                    <div ng-if="projectStageCounts">
                        <div ng-repeat="(stage, count) in projectStageCounts" class="simple-columns deployer-home__deployment">
                            <div class="deployer-home__deployment-label mx-textellipsis" show-tooltip-on-text-overflow text-tooltip="stage === '__OTHERS__' ? 'Others' : stage"></div>
                            <div class="deployer-home__deployment-count universe-color project-deployer">{{ count }}</div>
                        </div>
                    </div>
                    <div ng-if="!projectStageCounts">
                        Deploy projects on DSS Automation nodes and run them in production.
                    </div>
                </div>
            </div>
        </div>
        <div class="deployer-home__column" ui-sref="apideployer.deployments.dashboard">
            <img ng-src="/static/dataiku/images/deployer/api-deployer.png">
            <div class="deployer-home__column-body">
                <h1 class="deployer-home__header">API Services</h1>
                <div class="deployer-home__status">
                    <div ng-if="apiStageCounts">
                        <div ng-repeat="(stage, count) in apiStageCounts" class="simple-columns deployer-home__deployment">
                            <div class="deployer-home__deployment-label mx-textellipsis" show-tooltip-on-text-overflow text-tooltip="stage === '__OTHERS__' ? 'Others' : stage"></div>
                            <div class="deployer-home__deployment-count universe-color api-deployer">{{ count }}</div>
                        </div>
                    </div>
                    <div ng-if="!apiStageCounts">
                        Deploy and serve models as REST endpoints on DSS API nodes or clusters.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mtop16 mbot16">
        <p class="deployer-home__description">
            The Deployer is the central place in DSS to manage bundles and API services from development to production.
        </p>
        <p class="deployer-home__description">
            <span doclink-wrapper page="deployment/index">Read the documentation</span> to learn more about operationalization in DSS.
        </p>
    </div>
</div>
