/*
 * We use this separate CSS file to be able to inject it within the SVG when we use CanVG to export the charts.
 *
 * CanVG's CSS parser is extremely brutal. It does not support nested stuff, only top-level classes.
 * That's why we use very raw rules here. Be careful of conflicts ...
 */

.legend-svg-container {
    height: 200px;
    top: 0;
    right: 0;
    position: absolute;
    width: 200px;
}

.legend {
    fill: white;
    font-size: 12px;
}
.legend * {
    pointer-events: none;
}
.legend-items {
    stroke: #666;
}
.hline {
    stroke: #ddd;
}
.zero {
    stroke: #000;
}
path.domain {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis {
    fill: rgba(0,0,0,0.5);
    stroke: #999;
}

text {
    stroke: none;
    font-size: 12px;
    -moz-user-select: initial;
    -khtml-user-select: initial;
    -webkit-user-select: initial;
    user-select: initial;
}

.axis text {
    fill: #333;
}
