.fm-page {
    margin: 0 auto;
    max-width: 1600px;
    overflow: auto;

    .nav-list-sidebar {
        padding-top: 0px;

        .l2 {
            margin-bottom: 8px;
        }
    }
}

.fm-section {
    height: 100%;
    padding: 16px 16px 0px 16px;
}

.fm-section__header {
    .object-nav {
        background: transparent;
    }

    &.fm-section__header--stuck {
        background-color: @white-base;
        border-bottom: 1px solid @border-color;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.2);
        padding: 32px;

        .fm-section__title {
            color: @grey-lighten-1;
            font-weight: @font-weight-normal;
            font-size: 26px;
            height: 30px;
            line-height: 30px;
            max-width: 600px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        + .fm-section__content {
            margin-top: 0;

            &.with-sections {
                padding: 0;
            }

            .section {
                padding: 16px 32px;
                border-bottom: 1px solid @border-color;
                h2 {
                    font-size: 18px;
                    line-height: 35px;
                    font-weight: @font-weight-semi-bold;
                    color: @grey-lighten-1;
                    margin-top: 0;
                }

                h3 {
                    font-size: 16px;
                    font-weight: @font-weight-semi-bold;
                    line-height: 28px;
                    margin-top: 20px;
                    color: @grey-lighten-1;
                }
                h4 {
                    font-size: 15px;
                    font-weight: @font-weight-normal;
                    line-height: 20px;
                    color: @grey-lighten-1;
                }
            }
        }

        &.fm-section__header--stuck-with-nav {
            background-color: @white-base;
            border-left: 5px solid transparent;
            display: flex;
            flex-direction: column;
            padding: 32px 32px 0 32px;

            .object-nav {
                border-bottom: none;
            }

            &.fm-section__header--notapplicable {
                border-left-color: @grey-lighten-6;
            }

            &.fm-section__header--nominal {
                border-left-color: @success-green-base;
            }

            &.fm-section__header--warning {
                border-left-color: @warning-orange-base;
            }

            &.fm-section__header--error {
                border-left-color: @error-red-base;
            }

            &.fm-section__header--unknown {
                border-left-color: @grey-lighten-6;
            }
        }
    }
}

.fm-section__header-top-band {
    display: flex;
}

.fm-section__header-actions {
    margin-left: auto;
    margin-top: 4px;
}

.fm-section__title_and_badge {
    display: flex;
}

.fm-section__title {
    margin: 0;
}

.fm-error-message {
    color: @error-text;
    font-size: 14px
}

.fm-error-message_icon {
    margin-right: 4px;
}

.instance-state-badge() {
    border-radius: 3px;
    font-size: 13px;
    font-weight: @font-weight-normal;
    height: 22px;
    line-height: 22px;
    padding: 2px 8px;
    vertical-align: middle;
    white-space: nowrap;
}

.instance-state-badge {
    .instance-state-badge();
}

.object-nav .fm-section__title {
    line-height: 48px;
}

.fm-section__content {
    margin-top: 16px;
    overflow: auto;
}

.instances-list {
    margin-top: -16px; // Let instances-list content handle the margins
}

.instances-list__header, .instance-row {
    border-bottom: 1px solid @border-color;
    display: grid;
    grid-template-columns: minmax(0, 0.3fr) minmax(0, 0.3fr) minmax(0, 0.65fr) 0.25fr;
    margin: 0 -16px; // margin / padding trick ensures the border-bottom will take the full page width.
    padding: 16px;
}

.instances-list__header-title {
    color: @text-important;
    font-size: 13px;
    font-weight: @font-weight-bold;
}

.instance-row__id, .instance-row__image-label {
    color: @text-weak;
    font-size: 13px;
}

.instance-row__label {
    font-weight: @font-weight-semi-bold;
}

.instance-row__label, .instance-row__link {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tags .tag.instance-row__tag {
    background: @info-background-light;
    color: @text-weak;
    font-size: 11px;
    margin: 0 0.5em 0 0;
}

.instance-row__state-badge {
    .instance-state-badge();
}

.instance-row__state {
    display: flex;
    justify-content: flex-end;

    .dku-ellipsis-vertical--circle-on-hover {
        line-height: 25px;
    }
}

.instance-row__state--notapplicable {
    background-color: @grey-lighten-6;
    color: @white-base;
}

.instance-row__state--nominal {
    background-color: @success-green-base;
    color: @white-base;
}

.instance-row__state--warning {
    background-color: @warning-orange-base;
    color: @white-base;
}

.instance-row__state--error {
    background-color: @error-red-base;
    color: @white-base;
}

.instance-row__state--unknown {
    background-color: @grey-lighten-6;
    color: @white-base;
}

.instance-header__property {
    line-height: 22px;
    vertical-align: middle;
}

.setup-actions_list {
    list-style: none;
    margin: 0;
}

.setup-action {
    background: #f5f7f8;
    margin-bottom: 10px;
    padding: 10px 16px;
}

.setup-action_trash-icon {
    font-size: 14px;
    color: @grey-lighten-1;

    &:hover {
        text-decoration: none;
    }
}

.setup-action_label {
    color: @grey-lighten-1;
    font-family: 'SourceSansPro';
    font-size: 14px;
    font-weight: @font-weight-semi-bold;
    line-height: 22px;
}

.codemirror--font12 {
    .CodeMirror {
        font-size: 12px;
    }
}

.setup-action-help-example {
    white-space: pre;
    word-wrap: normal;
    border-radius: 0;
    line-height: 14px;
    font-size: 12px;
    font-family: 'Lucida Console', monospace;
}

.instance-settings-needing-reprovision {
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
}

.instance-settings-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: @white-base;
    border-top: 1px solid @grey-lighten-5;
}

.instance-settings-cover-message {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 31px;
    line-height: 38px;
    color: @text-weak;
    text-align: center;
    margin-top: 120px;
    font-family: 'SourceSansPro';
}

.instance-tags {
    table-layout:fixed;
    width: 100%;
}

.instance-tag-key {
    padding-right: 8px;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.instance-tag-value {
    padding-left: 8px;
    border-left: 1px solid @grey-lighten-8;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.instance-dashboard-agent-logs {
    width: 100%;
    height: 150px; /* That's the minimum size actually */
    border: 1px solid @grey-lighten-8
}

.instance-dashboard-agent-logs-pre {
    font-size: 10px;
    line-height: 1.2;
    background-color: @white-base;
    background: none;
    border: none;
}

.disk_usage_bar {
    width: 100px;
    height: 10px;
    display: inline-block;
}
.disk_usage_bar_global {
    width: 100%;
    height: 100%;
    background-color: @white-base;
    border: 1px solid @border-color;
}

.disk_usage_bar_used {
    width: 1%;
    height: 100%;
}

.disk_usage_bar_used--ok {
    background-color: @success-green-base;
}

.disk_usage_bar_used--warning {
    background-color: @warning-orange-base;
}

.disk_usage_bar_used--full {
    background-color: @error-red-base;
}

.security-group_trash-icon {
    font-size: 14px;
    color: @grey-lighten-1;
    margin-left: 8px;
    vertical-align: middle;

    &:hover {
        text-decoration: none;
    }
}

.help-dku-toggle {
    position: relative;
    top: -3px;
}

.fm-blueprint-box {
    min-height: 200px;
}