.insight-fullview-page {
    iframe {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 10px auto 0px auto;
        border: 1px solid @border-color;
        overflow-y: scroll;
    }
}

.insight-summary-form-group {
    margin-bottom: 12px;
    label {
        display: inline-block;
        width: 130px;
    }
    select {
        width: 150px;
    }
}

div.preview {
    margin: 10px;
}


.insight-feed-popover {
    position : absolute;
    width : 430px;
    left: 50%;
    top : 30px;
    padding: 0;

    .topwell {
        padding: 5px;
        background: @white-base;
        border-bottom: 1px solid @border-color;
        &:after { clear: both; }
    }

    z-index : 2000;
    background-color: @white-base;
    box-shadow: 3px 3px 3px 3px fade(@grey-base, 30%);
    border-radius: 0 0 3px 3px;
    .content {
        clear: both;
        max-height: 300px;
        overflow: auto;
        padding: 5px;
    }
}

//----------------------------------
// miniature


.pinlet-container {

    div.buttons {
        i {
            cursor: pointer;
        }
    }

    width: 326px;
    height: 162px;
    border: 1px solid @grey-lighten-5;
    padding: 0px;
    position: relative;

    i.miniature-icon {
        margin-top: 10px;
        font-size: 50px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    div.miniature-title {

        i.miniature-icon {
            margin-top: 10px;
            font-size: 50px;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

    }

    div.miniature-description, div.miniature-description_and_picture {
        margin-top: 10px;

        i.miniature-icon {
            margin-top: 10px;
            font-size: 30px;
            text-align: center;
            display: block;
            float: right;
            margin: 10px;
        }
        text-align: justify;
        text-overflow: ellipsis;
        line-height: 20px;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

.miniature {

    &.miniature-chart, &.miniature-chart_full {
        > div {
            height: 100%;
            svg {
                height: 100%;
            }
        }
    }

    &.miniature-ipython {
        margin-top: 10px;
    }

    &.miniature-description {

    overflow: hidden;

    &:after {
        width: ~'calc(100% - 10px)';
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(246,246,246,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
        position: absolute;
        bottom: 0;
        height: 30px;
        left: 0;
        content: '';
    }
    }

    &.miniature-picture {
        .image-sizer-centered {
            position: absolute;
            top: 22px;
            bottom: 0;
            left: 0;
            right: 0;
            .image {
                position: absolute;
                left: ~'calc(50% - 50px)';
                top: ~'calc(50% - 50px)';
            }
        }
        .image-sizer-full {
            position: relative;
            height: 100%;
            .image {
                position: absolute;
                left: 0; top: 0; right: 0; bottom: 0;
            }
        }

    }

    .legend {
        display: none;
    }
    .hlines {
        display: none;
    }
    .meta {
        display: block;
        margin-top: 10px;
        margin-left: 50px;
    }
    .notebook, .datasetName {
        display: block;
        font-size: 20px;
        color: @grey-lighten-2;
    }

    .createdOn, .createdBy {
        display: block;
        font-size: 15px;
        color: @text-weak;
    }
}

// miniatures

.insight-page {
    width: auto;
    margin: 0 30px;
}

.insight-fullview-DATASET-page {
    width: auto !important;
    padding: 0px;
}

.fullview-dataset .container-fluid {
    padding: 0px !important;
    .mainPane {
        padding-right: 10px;
    }
}


div.insight-description {
    max-height: 150px;
    position: relative;
    z-index: 10;
    div.content {
        max-width: 900px;
    }
}

div.insight-right-description {
    padding: 0 15px;
}

.tile-params__json-input {
    width: 100%;
    box-sizing: border-box;
    min-height: 150px;
    resize: none;
}

div.insight-details {
    .modal-header {
        padding-top: 5px !important;
        padding-bottom: 5px !important;

        .count {
            position: absolute;
            top: -8px;
            left: -10px;
            background: @error-text;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            color: @white-base;
        }
    }

    div.modal-body-nomagic > .container-fluid {
        padding-left: 0;
    }
}
div.show-more-ok {
    border-bottom: 1px solid @border-color;
}

div.show-more-more {
    overflow: visible !important;

    div.wrapper {
        box-shadow: @grey-lighten-5 1px 3px 3px;
        div.overflowable {
            max-height: 500px;
            overflow-y: auto;
        }
    }

    button.show-more-btn {
        display: none;
    }
    button.show-less-btn {
        display: block;
        position: relative;
        margin-top: 10px;
    }
}

div.show-more-less {
    border-bottom: 1px solid @border-color;
    button.show-more-btn {
        display: block;
    }
    button.show-less-btn {
        display: none;
    }
}

div.show-more {

    div.wrapper {
        padding: 5px;
        box-sizing: border-box;
        background-color: @white-base;
        padding-left: 15px;
    }
    overflow: hidden;
    position: relative;
    max-height: 150px;
    button {
        display: none;
        position: absolute;
        bottom: 0;
        left: 1px;
        width: ~"calc(100% - 2px)";
        background-color: @error-red-lighten-5;
        height: 30px;
        opacity: 0.8;
        border: 0;
    }
}

.chart-insight-settings-modal {
    .centered-modal(850px);
    width: 850px;

    .modal-body {
        padding: 16px;
    }

    .pannel {
        display: inline-block;

        &.left {
            width: 49%;
        }
        &.right {
            width: 50%;
        }
        &.pinboards-page {
            vertical-align: top;
            text-align: center;
            background-color: transparent;

            .pinboard-container {
                display: inline-block;
                position: relative;
                left: 10px;
            }
        }

        .summary {
            margin-bottom: 30px;

            .description {
                margin-top: 10px;
                p {
                    padding-left: 15px;
                    max-height: 130px;
                    overflow-y: auto;
                }
            }

            form {
                padding-left: 15px;

                .controls select {
                    width: auto;
                }

                textarea {
                    max-height: 130px;
                    resize: none;
                    margin-top: 5px;
                    padding-left: 15px;
                    padding-top: 5px;
                    padding-right: 2px;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                    font-size: 13px;
                    box-shadow: none;
                    overflow-y: scroll;
                    font-family: 'SourceSansPro';
                }
            }

            &.description {
                form {
                    padding: 0;
                    margin-bottom: -15px;
                }
            }
        }
    }

    .summary {
        .mx-object-summary-div;
    }
}

.insight-params-export-delay {
    width: 4em;
}

.eda-edit-insight {
    height: 100%;
}
