<div class="modal modal3 dku-modal codemirror-editor-modal" ng-controller="AddEditorLinkPictureModalController">
    <div dku-modal-header-with-totem modal-title="Add a {{ isPicture ? 'picture' : 'link' }}" modal-totem="icon-plus" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
            <div block-api-error />

            <div class="control-group">
                <label class="control-label">Label</label>
                <div class="controls">
                    <input name="textLabel" ng-model="new.label" type="text" required="required" placeholder="Label" />
                    <span class="help-inline"></span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">URL</label>
                <div class="controls">
                    <input name="url" ng-model="new.url" type="text" placeholder="URL" auto-focus="true" />
                    <span class="help-inline"></span>
                </div>
            </div>

        </div>
        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit"
                class="btn btn--text btn--primary"
                ng-click="add()"
                >
                Add
            </button>
        </div>
    </form>
</div>
