/*
 *  Background in top bar and home page
 */

#root-dom-element {
  background-position: center;
  background-size: cover;
}

.dss-page.home-page,
.dss-home-page.home-page {
  background: transparent;
}


/*
 *  Home page specific style 
 */

.home-page .left-icons i {
  color: white;
}

.home-page .left-bar {
  background-color: rgba(0, 0, 0, 0.15);
  border-right: none;
}

.home-page.hover-active .left-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

.home-page .left-bar a {
  color: white;
}

.home-page .project-tiles .news {
  background: rgba(50, 50, 50, 0.5);
}

.home-page .project-tiles .news, .home-page .project-tiles .tips {
  background: #5e5e64;
  border: none;
}

.dku-carousel .controller i {
    color: rgba(255, 255, 255, 0.8);
}

.dku-carousel .controller:hover i {
    color: rgba(255, 255, 255, 0.9);
}

.dku-carousel .controller:active i {
    color: rgba(255, 255, 255, 1);
}

.project-tiles .tile-carousel.news h1, .project-tiles .tile-carousel.tips .slide-wrapper h1 {
    color: white;
    font-weight: 400;
}

.project-tiles .tile-carousel.news h1 i, .project-tiles .tile-carousel.tips .slide-wrapper h1 i {
    color: white;
}

.project-tiles .tile-carousel .slides-frame .article{
    color: white;
    font-weight: 400;
}

.project-tiles .tile-carousel .slides-frame .article:hover {
    color: white;
}

.project-tiles .tile-carousel .carousel-footer a {
    color: white;
    border-color: white;
    font-weight: 400;
}

.project-tiles .tile-carousel .carousel-footer a:hover {
    color: #5e5e64;
    background-color: white;
}

.home-page .project-tiles .haiku {
  background: #5e5e64;
  border: none;
}

.home-page .project-tiles .haiku p, .home-page .project-tiles .haiku p.signature a {
    color: white;
}

.home-page .clear-filters-btn, .home-page .counters {
    color: black;
}

.home-page .no-project {
    color: white;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(50, 50, 50, 0.5);
    padding: 20px;
}

.home-page .subitems-row {
    background: rgba(50, 50, 50, 0.5);
}

.tile-row .row-title .expand-arrow {
    color: black;
}

.tile-row.my-items .expand-arrow {
    color: white;
}

.master-nav.master-nav__home--tall .std-list-search-box input::placeholder  {
    color: #dddddd;
}

.tile-row.my-items .row-title .empty-state, .tile-set.my-items .empty-list-cta   {
    color: #eeeeee;
}

.tile-set .project-onboarding .portals-panel .project-onboarding__intro p {
    color: #333333;
}

.tile-set .empty-list-cta {
    color: #333333;
}

/*
 *  Master nav style
 */

.master-nav {
  background-color: #5e5e64;
}

.master-nav__tile.master-status a, .master-status__icon {
  color: white;
}

/*
 *  Universe style
 */

.master-universe__icon.master-universe__icon--flow:not(.active):hover {
  color: white;
}

.master-universe__icon.master-universe__icon--datasets:not(.active):hover {
  color: white;
}
.master-universe__icon.master-universe__icon--analyses:not(.active):hover {
  color: white;
}

.master-universe__icon.master-universe__icon--notebooks:not(.active):hover {
  color: white;
}

.master-universe__icon.master-universe__icon--jobs:not(.active):hover {
  color: white;
}

.master-universe__icon.master-universe__icon--dashboard:not(.active):hover {
  color: white;
}

.master-universe__icon.master-universe__icon--wiki:not(.active):hover {
  color: white;
}


.master-universe__icon.master-universe__icon--flow.active {
  color: #28aadd;
  background-color: white;
}

.master-universe__icon.master-universe__icon--flow.recipes.active {
  color: #f9bd38;
  background-color: white;
}

.master-universe__icon.master-universe__icon--datasets.active {
  color: #28aadd;
  background-color: white;
}

.master-universe__icon.master-universe__icon--analyses.active {
  color: #29af5d;
  background-color: white;
}

.master-universe__icon.master-universe__icon--notebooks.active {
  color: #f28c38;
  background-color: white;
}

.master-universe__icon.master-universe__icon--jobs.active {
  color: #8541aa;
  background-color: white;
}

.master-universe__icon.master-universe__icon--dashboard.active {
  color: #f44336;
  background-color: white;
}

.pane-top {
    background-color: transparent;
}

.pane-top .tile-set.my-items {
    background-color: rgba(51, 51, 51, 0.15);
}

.dss-home-page {
    background-color: transparent;
}
.master-universe__icon.master-universe__icon--wiki.active {
  color: #427b98;
  background-color: white;
}

.master-universe__icon.master-universe__icon--wiki:not(.active):hover {
  color: white;
}

.master-universe__icon.master-universe__icon--more:not(.active):hover {
  color: white;
}

.master-nav__menu-trigger:hover .master-universe__icon--flow:not(.active):not(.js-blurred) {
  color: white;
}

.master-nav__menu-trigger:hover .master-universe__icon--analyses:not(.active):not(.js-blurred) {
  color: white;
}

.master-nav__menu-trigger:hover .master-universe__icon--notebooks:not(.active):not(.js-blurred) {
  color: white;
}

.master-nav__menu-trigger:hover .master-universe__icon--jobs:not(.active):not(.js-blurred) {
  color: white;
}

.master-nav__menu-trigger:hover .master-universe__icon--wiki:not(.active):not(.js-blurred) {
  color: white;
}

.master-nav__menu-trigger:hover .master-universe__icon--dashboard:not(.active):not(.js-blurred) {
  color: white;
}

.master-nav__menu-trigger:hover .master-universe__icon--more:not(.active):not(.js-blurred) {
  color: white;
}
