<div class="control-group">
	<label for="" class="control-label">Send on</label>
	<div class="controls">
		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.discussions">
			Discussions messages
		</label>
		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.timelineEditionItems">
			Objects editions
		</label>
		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.timelineItemsExceptEditions">
			Objects creation / deletion / ...
		</label>
		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.watchStar">
			Watch / Star
		</label>
		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.scenarioStarts">
			Scenario beginnings
		</label>
		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.scenarioEnds">
			Scenario ends
		</label>
		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.jobStarts">
			Build jobs beginnings
		</label>
		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.jobEnds">
			Build jobs ends
		</label>

		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.mlStarts">
			Analysis ML training beginnings
		</label>
		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.mlEnds">
			Analysis ML training ends
		</label>
		<label>
			<input type="checkbox" ng-model="hook.configuration.selection.commits">
			Git commits
		</label>
	</div>
</div>