# Don't use Roxygen

export(
	dkuCustomRecipeConfig,
	dkuDSSSettings,
	dkuPluginConfig,
	dkuCustomRecipeResource,
	dkuCustomRecipeInputNamesForRole,
	dkuCustomRecipeOutputNamesForRole,
	dkuHiveExecRecipeFragment,
	dkuHiveQueryToData,
	dkuImpalaExecRecipeFragment,
	dkuImpalaQueryToData,
	dkuReportCall,

	# Managed folders
    dkuManagedFolderPath,
    dkuManagedFolderDirectoryBasedPartitioning,
    dkuManagedFolderPartitionFolder,
    dkuManagedFolderPartitionPaths,
	dkuManagedFolderDownloadPath,
    dkuManagedFolderUploadPath,
    dkuManagedFolderInfo,
    dkuManagedFolderPathDetails,
    dkuManagedFolderDeletePath,

	dkuReadDataset,
	dkuSQLExecRecipeFragment,
	dkuSQLQueryToData,
	dkuWriteDataset,
	dkuWriteDatasetSchema,
	dkuListDatasetPartitions,
	dkuGetDatasetLocationInfo,

	# external_usage.R
	dkuSetRemoteDSS,
	dkuGetCurrentProjectKey,
	dkuSetCurrentProjectKey,

	dkuGetAuthInfo,
	dkuGetAuthInfoFromBrowserHeaders,
	dkuGetAuthInfoFromRookRequest,

	# managed_folders.R
	dkuManagedFolderCopyToLocal,
	dkuManagedFolderCopyFromLocal,

	dkuFlowVariable,
	dkuCustomVariable,
	dkuSetProjectVariables,
	dkuGetProjectVariables,
	dkuSourceLibR,

	dkuGetConnectionInfo,

	dkuSaveInsight,
	dkuSaveHTMLInsight,
	dkuSaveGgplotInsight,
	dkuSaveGgvisInsight,
	dkuSaveGooglevisInsight,

	dkuDisplayGgvis,
	dkuDisplayGooglevis,
	dkuDisplayDygraph,
	dkuInstallGgvisDependenciesOnce,

    dkuWebAppConfig,
    dkuWebAppResource,

	# Deprecated
	read.dataset,
	write.dataset,
	write.dataset_schema,
	write.dataset_with_schema,
	
	# webapps
	dkuImpersonateShinyCalls
)

import(RJSONIO)
import(dplyr)
import(httr)
import(base64enc)
