<!-- Part of a form -->

<div class="control-group">
	<label for="" class="control-label">Forbidden engines</label>
	<div class="controls">
		<input type="text" comma-separated-view ng-model="model.forbiddenEngines" />
		<span class="help-inline">
			Comma-separated list of engine names that will not be considered.
			Depending on the recipe type, engine names may be: DSS, SPARK, HIVE, IMPALA, SQL
		</span>
	</div>
</div>

<div class="control-group">
	<label for="" class="control-label">Preferred engines</label>
	<div class="controls">
		<input type="text" comma-separated-view ng-model="model.enginesPreferenceOrder" />
		<span class="help-inline">
            You should generally prefer forbidding engines on a per-recipe type basis (below).
			Comma-separated list of engine names that will be considered before the default
			order, from the most preferred to the least preferred. The first "valid" preferred
			engine will be auto-selected.
			Depending on the recipe type, engine names may be: DSS, SPARK, HIVE, IMPALA, SQL
		</span>
	</div>
</div>

<div class="control-group">
	<label for="" class="control-label">Forbidden per recipe type</label>
	<div class="controls">
		<textarea json-object-pretty-view ng-model="model.forbiddenByRecipeType" style="width: 100%; box-sizing: border-box; min-height: 200px"/>
		<span class="help-inline">
			Map of recipe type (join, grouping, window, ...) -> list of recipe engine names (see above).
		</span>
	</div>
</div>

<div class="control-group">
	<label for="" class="control-label">Preferenced per recipe type</label>
	<div class="controls">
		<textarea json-object-pretty-view ng-model="model.preferenceByRecipeType" style="width: 100%; box-sizing: border-box; min-height: 200px"/>
		<span class="help-inline">
			Map of recipe type -> list of recipe engine names (see above).
		</span>
	</div>
</div>