/*
 *  Background in top bar and home page
 */

#root-dom-element {
  background-color: #2a2a2a;
}

.dss-page.home-page,
.dss-home-page.home-page {
  background: transparent;
}

/*
 *  Home page specific style 
 */

.home-page .left-icons i {
  color: white;
}

.home-page .left-bar {
  background-color: rgba(0, 0, 0, 0.15);
  border-right: none;
}
.home-page.hover-active .left-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

.home-page .left-bar a {
  color: white;
}

.home-page .left-bar a:hover, .home-page .left-bar a.selected {
    background-color: rgba(255, 255, 255, 0.3)
}

.home-page .subitems-row {
    background: rgba(50, 50, 50, 0.5);
}

/* Filter bar */

body {
    --input-bg-color: #575757;
    --input-color: #C1C1C1;
    --hover-bg-color: #656565;
    --hover-color: #eee;
}

.home-page .std-list-search-box .add-on, .home-page .list-customfilter-box .add-on {
    background-color: var(--input-bg-color);
    border-left: 1px solid var(--input-bg-color);
    border-bottom: 1px solid var(--input-bg-color);
    border-top: 1px solid var(--input-bg-color);
}

.home-page .std-list-search-box .add-on i, .home-page .list-customfilter-box .add-on i {
    color: var(--input-color);
}

.home-page .projects-search input, .home-page .list-customfilter-box .dku-select-button {
    background-color: var(--input-bg-color);
    border-color: var(--input-bg-color);
    color: var(--input-color);
}

.home-page .projects-search input:focus, .home-page .projects-search hover {
    border-color: var(--input-bg-color);
    color: var(--input-color);
}

#home-project-status-list-popover, #home-global-tag-list-popover, #home-contributors-list-popover, #home-sort-project-popover, #home-projects-display-mode-popover, #home-flow-layout-engine-popover {
    background-color: var(--input-bg-color);
    border-color: var(--input-bg-color);
    color: var(--input-color);
    box-shadow: 0px -3px 5px 0px rgba(64, 64, 64, 0.5);
}

#home-project-status-list-popover ul li:hover, #home-global-tag-list-popover ul li:hover, #home-contributors-list-popover ul li:hover, #home-sort-project-popover ul li:hover, #home-projects-display-mode-popover  ul li:hover, #home-flow-layout-engine-popover ul li:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-color);
}

#home-project-status-list-popover ul li .status-title {
    color: var(--input-color);
}

#home-project-status-list-popover ul li:hover .status-title {
    color: var(--hover-color);
}

#home-project-status-list-popover button {
    border-top-color: var(--hover-bg-color);
}

#home-project-status-list-popover button:hover {
    background-color: var(--hover-bg-color);
    color:  var(--hover-color);
}

#home-global-tag-list-popover ul li .tag {
    color: var(--input-color);
}

#home-global-tag-list-popover ul li:hover .tag {
    color: var(--hover-color);
}

#home-contributors-list-popover .search-wrapper input {
    background-color: #777;
    border-color: #777;
    color: #eee;   
    border-radius: 0;
    box-shadow: none;
}

#home-contributors-list-popover .search-wrapper input::placeholder {
    color: #eee;   
}


/**/

.home-page .project-tiles .news, .home-page .project-tiles .tips, .home-page .project-tiles .haiku {
  background: var(--input-bg-color);
  border: none;
}

.dku-carousel .controller i {
    color: rgba(255, 255, 255, 0.8);
}

.dku-carousel .controller:hover i {
    color: rgba(255, 255, 255, 0.9);
}

.dku-carousel .controller:active i {
    color: rgba(255, 255, 255, 1);
}

.project-tiles .tile-carousel.news h1, .project-tiles .tile-carousel.tips .slide-wrapper h1 {
    color: white;
    font-weight: 400;
}

.project-tiles .tile-carousel.news h1 i, .project-tiles .tile-carousel.tips .slide-wrapper h1 i {
    color: white;
}

.project-tiles .tile-carousel .slides-frame .article{
    color: white;
    font-weight: 400;
}

.project-tiles .tile-carousel .slides-frame .article:hover {
    color: white;
}

.project-tiles .tile-carousel .carousel-footer a {
    color: white;
    border-color: white;
    font-weight: 400;
}

.project-tiles .tile-carousel .carousel-footer a:hover {
    color: rgba(50, 50, 50, 0.5);
    background-color: white;
}

.home-page .project-tiles .haiku p, .home-page .project-tiles .haiku p.signature a {
    color: white;
}

.home-page .clear-filters-btn, .home-page .counters {
    color: white;
    font-weight: 400;
}

/**/

.home-page .no-project {
    color: white;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
}

/* Graph display */

.projects-graph .right-pane {
    border-left: none;
    border-top: none;
    box-shadow: -3px 0px 5px 0px rgba(64, 64, 64, 0.5);
}

.projects-graph .main-pane #flow-graph svg g.edge path, .projects-graph .main-pane #flow-graph svg g.edge polygon {
    stroke: #eee;
}

.projects-graph .main-pane #flow-graph svg g.edge polygon {
    fill: #eee;
    stroke: #eee;
}

.projects-graph .main-pane #flow-graph svg g.highlight {
    opacity: 1;
}

.projects-graph .main-pane #flow-graph svg g.edge.highlight path {
    stroke: #fff;
}

.projects-graph .main-pane #flow-graph svg g.edge.highlight polygon {
    fill: #fff;
    stroke: #fff;
}

.projects-graph .main-pane #flow-graph svg g[data-type=PROJECT] .nodelabel-wrapper div {
    border: none;
}

.projects-graph .main-pane #flow-graph svg g[data-type=BUNDLE_EO] .cls-2 {
    fill: #fff;
}

.pane-top {
    background-color: transparent;
}

.pane-top  .tile-set.my-items {
    background-color: rgba(51, 51, 51, 0.15);
}

h2.home-nav-title, .tile-row h2 {
    color: white;
}

.tile-row .row-title .expand-arrow {
    color: #7ac1f9;
}

.dss-home-page {
    background-color: transparent;
}

.tile-row.my-items .row-title .empty-state, .tile-set.my-items .empty-list-cta   {
    color: #c0c0c0;
}

.tile-set .project-onboarding .portals-panel .project-onboarding__intro p {
    color: #c0c0c0;
}

.tile-set .empty-list-cta {
    color: #c0c0c0;
}

