<div class="dss-page" ng-init="hasNoMetricsSettings=true;">
    <div ng-if="topNav.tab == 'status' && projectSummary" class="managed-folder-settings h100 vertical-flex" object-metrics project-metrics-main>
        <div class="top-level-tabs">
            <div class="row-fluid object-nav">
                <div >
                    <a class="tab"  ng-class="{'enabled': $state.includes('projects.project.home.status.metrics')}" href="{{$state.href('projects.project.home.status.metrics')}}" >View</a>
                    <a class="tab"  ng-class="{'enabled': $state.includes('projects.project.home.status.checks')}" href="{{$state.href('projects.project.home.status.checks')}}" >Checks</a>
                </div>
            </div>
        </div>
        
        <div ng-if="metricsCallbacks" class="dss-page" ui-view></div>
    </div>
</div>