
<div class="modal modal3">
	<dku-modal-header-with-totem modal-title="Graphics export is disabled" modal-close="cancel" modal-totem="icon-warning-sign"></dku-modal-header-with-totem>

	<div class="modal-body tight-body">
        Graphics export must be enabled in order to use this feature.<br />
        Your administrator needs to intervene to fix the issue.<br />
        <a ng-show="$root.appConfig.studioAdminContact" ng-click="$root.showAdminContactInfo()">How to contact your administrator?</a>
	</div>
	<div class="modal-footer modal-footer-std-buttons" global-keydown="{'enter':'dismiss();', 'esc': 'dismiss();' }">
        <button ng-click="dismiss()" class="btn btn--text btn--danger">OK</button>
	</div>
</div>