<div class="row-fluid recipe-modal-io">
    <div class="span3">
        <h5>
            Datasets
            <a class="btn btn--secondary pull-right"
               ng-if="availableDatasets.length"
               dataset-selector="addDataset.dataset"
               available-datasets="availableDatasets"
               transclude="true"
               popover-placement="right"
               margin-top="0"
               no-live-update="true">
                <span plus-icon="">+</span> Add
            </a>
        </h5>
        <div ng-if="!availableDatasets.length">
            No includable dataset.
        </div>
        <ul class="chosen" add-remove ng-model="exporterSettings.exportOptions.includedDatasetsData">
            <li ng-repeat="idd in exporterSettings.exportOptions.includedDatasetsData">
                <div class="horizontal-flex">
                    <div class="dataset illustration noflex">
                        <i class="{{idd.type|datasetTypeToIcon}}"></i>
                    </div>
                    <div class="information flex mx-textellipsis">
                        <span>{{idd.name}}</span>
                    </div>
                    <a class="noflex action" ng-click="remove($index); datasetsMap[idd.name].usable = true;"> <i class="icon-trash btn-close"></i></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="span3">
        <h5>
            Managed folders
            <a class="btn btn--secondary pull-right"
               ng-if="availableManagedFolders.length"
               folder-selector="addManagedFolder.folder"
               available-folders="availableManagedFolders"
               transclude="true"
               popover-placement="right"
               margin-top="0"
               no-live-update="true">
                <span plus-icon="">+</span> Add
            </a>
        </h5>
        <div ng-if="!availableManagedFolders.length">
            No includable managed folder.
        </div>
        <ul class="chosen" add-remove ng-model="exporterSettings.exportOptions.includedManagedFolders">
            <li ng-repeat="idd in exporterSettings.exportOptions.includedManagedFolders">
                <div class="horizontal-flex">
                    <div class="folder illustration noflex">
                        <i class="icon-box"></i>
                    </div>
                    <div class="information flex mx-textellipsis">
                        <span>{{foldersMap[idd.id].name}}</span>
                    </div>
                    <a class="noflex action" ng-click="remove($index); foldersMap[idd.id].usable = true"> <i class="icon-trash btn-close"></i></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="span3">
        <h5>
            Saved models
            <a class="btn btn--secondary pull-right"
               ng-if="availableSavedModels.length"
               saved-model-selector="addSavedModel.model"
               available-saved-models="availableSavedModels"
               transclude="true"
               popover-placement="right"
               margin-top="0"
               no-live-update="true">
                <span plus-icon="">+</span> Add
            </a>
        </h5>
        <div ng-if="!availableSavedModels.length">
            No includable saved model.
        </div>
        <ul class="chosen" add-remove ng-model="exporterSettings.exportOptions.includedSavedModels">
            <li ng-repeat="idd in exporterSettings.exportOptions.includedSavedModels">
                <div class="horizontal-flex">
                    <div class="model illustration noflex">
                        <i class="icon-machine_learning_regression"></i>
                    </div>
                    <div class="information flex mx-textellipsis">
                        <span>{{modelsMap[idd.id].name}}</span>
                    </div>
                    <a class="noflex action" ng-click="remove($index); modelsMap[idd.id].usable = true"> <i class="icon-trash btn-close"></i></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="span3" ng-if="featureFlagEnabled('model_evaluation_stores')">
        <h5>
            Model evaluation stores
            <a class="btn btn--secondary pull-right"
               ng-if="availableModelEvaluationStores.length"
               model-evaluation-store-selector="addModelEvaluationStore.store"
               available-model-evaluation-stores="availableModelEvaluationStores"
               transclude="true"
               popover-placement="right"
               margin-top="0"
               no-live-update="true">
                <span plus-icon="">+</span> Add
            </a>
        </h5>
        <div ng-if="!availableModelEvaluationStores.length">
            No includable model evaluation store.
        </div>
        <ul class="chosen" add-remove ng-model="exporterSettings.exportOptions.includedModelEvaluationStores">
            <li ng-repeat="idd in exporterSettings.exportOptions.includedModelEvaluationStores">
                <div class="horizontal-flex">
                    <div class="evaluation-store illustration noflex">
                        <i class="icon-model-evaluation-store"></i>
                    </div>
                    <div class="information flex mx-textellipsis">
                        <span>{{storesMap[idd.id].name}}</span>
                    </div>
                    <a class="noflex action" ng-click="remove($index); storesMap[idd.id].usable = true"> <i class="icon-trash btn-close"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>