<div class="modal modal3 dku-modal bundle-details-modal" tab-model="uiState.activeTab" auto-size="false" ng-controller="DesignBundleDetailsModalController" data-extend-template="/templates/bundles/common/details-modal-common.html" >
    <div data-block="modal-footer-block" class="modal-footer modal-footer-std-buttons has-border">
        <button type="button" class="btn btn--text btn--secondary" ng-class="{'disabled': !appConfig.deployerClientEnabled}" title="{{ !appConfig.deployerClientEnabled ? 'Deployer is not enabled' : '' }}"
        toggle="tooltip-top" ng-click="publishOnDeployer(bundleDetails); dismiss();">Publish on Deployer</button>
        <button type="button" class="btn btn--text btn--secondary" ng-click="downloadBundleArchive(bundleDetails)">Download</button>
        <button type="button" class="btn btn--text btn--primary" ng-click="dismiss()" >Close</button>
    </div>
</div>