<div class="modal modal3 ee-unavailable-feature-modal" auto-size="false">
    <div dku-modal-header modal-title="Feature unavailable" />

    <div class="modal-body">
        <div class="locked-feature" style="text-align: center; white-space: pre-line">{{lockedMessage}}</div>
    </div>
    <div class="modal-footer modal-footer-std-buttons">
        <a type="submit" class="btn btn--text btn--primary" target="_blank"
            href="{{learnMoreURL}}">Learn more</a>
        <button type="button" class="btn btn--text btn--secondary" data-dismiss="modal">Close</button>
    </div>
</div>
