<div custom-element-popup cep-position="align-left-bottom" cep-offset-left="-26" close-on-click="true" class="base-type-editor">
    <div class="mainzone dropdown-toggle qa_recipe_pivot-aggr-store-as" ng-click="togglePopover()" >
        <span>{{schemaColumn.type | lowercase}}</span><b class="caret"></b>
    </div>
    <ul class="popover custom-element-popup-popover dropdown-menu">
        <li ng-repeat="columnType in columnTypes" class="qa_recipe_base-type-selector">
            <a href="" ng-click="select(columnType);">{{columnType.label}}</a>
        </li>
    </ul>
</div>
