<table style="width:100%">
    <tr>
        <td class="dataset-column-selector">
            Column from <span class="dataset-name">{{ getDatasetName(join.table1) }}</span>
        </td>
        <td></td>
        <td class="dataset-column-selector">
            Column from <span class="dataset-name">{{ getDatasetName(join.table2) }}</span>
        </td>
    </tr>
    <tr>
        <td class="column-name">
            <column-select
                    columns="getColumnsWithComputed(getDatasetName(join.table1))"
                    ng-model="current.condition.column1.name"
            />
        </td>
        <td title="{{getConditionString(current.condition)}}" class="matching-type-symbol">
            {{getMatchingTypeSymbol(current.condition)}}
        </td>
        <td class="column-name">
            <column-select
                    columns="getColumnsWithComputed(getDatasetName(join.table2))"
                    ng-model="current.condition.column2.name" />
        </td>
    </tr>
</table>
