<div
    class="recipe-step {{getStepStatusClass(stepName)}} recipe-step-{{stepName |slugify}}"
    ng-class="{clickable: stepLabel, active: stepName == uiState.currentStep}"
    ng-click="stepLabel && changeStep(stepName)"
    visual-recipes-errors-popover
    ng-mouseenter="onenter()"
    ng-mouseleave="onleave()"
    >
    <div class="vertical-line"/>
    <div style="height: 33px">
        <i class="status">
            <div class="popover popover-visual-recipe-errors">
                <div ng-if="errors.length > 0">
                    <h6 class="title">
                        {{errors.length > 1 ? errors.length + ' errors' : 'Error'}}
                    </h6>
                    <div info-messages-list="errors" />
                </div>
                <div ng-if="confirmations.length > 0">
                    <div info-messages-list="confirmations" />
                </div>
                <div ng-if="warnings.length > 0">
                    <h6 class="title">
                        {{warnings.length > 1 ? warnings.length+' warnings':'Warning'}}
                    </h6>
                    <div info-messages-list="warnings" />
                </div>
            </div>
        </i>
    </div>
    <span class="label" ng-if="!!stepLabel">
        {{stepLabel}}
    </span>
</div>