<div ng-if="topNav.tab == 'advanced'" class="small-lr-padding dss-page oa">
	<div block-api-error />

	<div class="horizontal-centerer">

        <div include-no-scope="/templates/recipes/visual-recipes-fragments/visual-sql-engines-settings.html" />

		<div class="recipe-settings-section1 w800" ng-if="recipeStatus.selectedEngine.lowercasesColumnNames">
			<h1 class="recipe-settings-section1-title">Backward compatibility</h1>
			<form class="dkuform-horizontal recipe-settings-section2">
				<div class="control-group">
					<label for="" class="control-label">Lower case output schema</label>
					<div class="controls">
						<input type="checkbox" ng-model="params.engineParams.lowerCaseSchemaIfEngineRequiresIt" />
						<span class="help-inline" style="display: inline">
							The selected engine will not preserve column names case.
							This option should be checked so that {{wl.productLongName}} is kept consistent with the data store.
						</span>
					</div>
				</div>
			</form>
		</div>

		<div include-no-scope="/templates/recipes/fragments/recipe-advanced-common.html" />
	</div>
</div>
