<div ng-if="!inRightColumn()">
    <div data-block="item-header"></div>
</div>

<div class="row-fluid object-right-column-summary">
    <div class="object-details">
        <!-- Details -->
        <div class="accordion accordion--first metadata-details" dku-foldable dku-foldable-right-panel name="details.details" open="true">
            <h4 class="accordion-title accordion-title--first" ng-click="foldableToggle()"><i class="{{foldableChevronClazz}}"></i>
                Details
            </h4>
            <div ng-show="foldableOpen">
                <div class="line">
                    <h4>Recipe</h4>
                    <p><a href="{{$state.href('projects.project.recipes.recipe', {recipeName:data.recipeId})}}">{{data.recipeId}}</a></p>
                </div>
                <div class="line">
                    <h4>Type</h4>
                    <p>{{data.recipeType}}</p>
                </div>
                <div class="line">
                    <h4>State</h4>
                    <p>{{data.desiredState}}</p>
                </div>
                <div class="line" ng-if="data.mainLoopState && data.mainLoopState.futureInfo && data.mainLoopState.futureInfo.startTime">
                    <h4>Last start</h4>
                    <p>{{data.mainLoopState.futureInfo.startTime | friendlyDateTime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
