<div data-extend-template="/templates/object-details/item-template.html" ng-controller="FlowZonesDetailsController">

    <div data-block="right">
        <div dku-foldable dku-foldable-right-panel ng-if="data.inputs | objectSize" open="true" class="accordion" name="actions.zoneInputs">
            <h4 class="accordion-title" ng-click="foldableToggle()">
                <i class="{{foldableChevronClazz}}" />
                Inputs <em>({{data.inputs | objectSize}})</em>
            </h4>
            <ul ng-show="foldableOpen">
                <li ng-repeat="input in data.inputs">
                    <span class="mx-textellipsis">
                        <i class="object-icon universe-color {{getObjectIcon(input)}}"></i>
                        <a href="{{getObjectLink(input)}}">{{input.name}}</a>
                    </span>
                </li>
            </ul>
        </div>
        <div dku-foldable dku-foldable-right-panel ng-if="data.outputs | objectSize" open="true" class="accordion" name="actions.zoneOutputs">
            <h4 class="accordion-title" ng-click="foldableToggle()">
                <i class="{{foldableChevronClazz}}" />
                Outputs <em>({{data.outputs | objectSize}})</em>
            </h4>
            <ul ng-show="foldableOpen">
                <li ng-repeat="output in data.outputs">
                    <span class="mx-textellipsis">
                        <i class="object-icon universe-color {{getObjectIcon(output)}}"></i>
                        <a href="{{getObjectLink(output)}}">{{output.name}}</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>