<div class="fh center-children object-quick-view-wrapper" style="pointer-events: none;" ng-show="objectType">
    <div class="object-quick-view">
        <div ng-if="hasObject === true">
            <object-details
                    object-type="{{objectType}}"
                    object-data="objectData"
                    context="quick-view"
                    editable="canWriteProject()"
            ></object-details>
        </div>

        <div ng-if="hasObject === false">
            <object-details
                    object-type="{{objectType}}"
                    project-key="projectKey"
                    object-id="objectId"
                    context="quick-view"
                    editable="canWriteProject()"
            ></object-details>
        </div>
    </div>
</div>