<!-- Multiple-input multiple-output IO page -->
<div class="recipe-io dss-page oa">
	<div block-api-error />
    <div class="row-fluid dkuform-modal-horizontal h100">
        <div class="half-pane vertical-flex h100">
            <legend class="settings-section-title noflex">Input</legend>
            <div class="flex roles-list">
            	<div class="h100">
					<div recipe-io-inputs roles="recipeDesc.inputRoles" location="edition" class="h100"/>
            	</div>
            </div>
        </div>
		<div class="half-pane vertical-flex h100">
            <legend class="settings-section-title noflex">Output</legend>
            <div class="flex roles-list">
            	<div class="h100">
					<div recipe-io-outputs roles="recipeDesc.outputRoles" location="edition" class="h100"/>
				</div>
			</div>
        </div>
    </div>
</div>