<div class="modal modal3">
    <dku-modal-header modal-class="has-border" >
        <dku-modal-title>
            <span ng-if="taggableItems.length > 1">Clear data in {{taggableItems.length}} {{itemsType | niceTaggableType : taggableItems.length}}</span>
            <span ng-if="taggableItems.length == 1">Clear data</span>
        </dku-modal-title>
    </dku-modal-header>

    <form class="dkuform-modal-wrapper">
        <div class="modal-body">
            <div class="row-fluid">
                <div block-api-error></div>
                <p ng-if="taggableItems.length == 1">Are you sure you want to clear data in <b>{{taggableItems[0].displayName}}</b> ?</p>
                <p ng-if="taggableItems.length > 1">Are you sure you want to clear data in the following {{itemsType | niceTaggableType : taggableItems.length}}?</p>
                <ul ng-if="taggableItems.length > 1">
                    <li ng-repeat="item in taggableItems">
                        <span class="text-error">
                            <i class="icon-remove" />&nbsp;Clear data in {{item.type | niceTaggableType}} <strong>{{item.displayName}}</strong>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <div class="pull-right">
                <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
                <button type="submit" class="btn btn--text btn--danger" ng-click="confirm()">Confirm</button>
            </div>
        </div>
    </form>
</div>
