<form class="dkuform-horizontal custom-fields-form custom-fields-popup" ng-scope="{{errorScope = this}}">
    <div block-api-error />
    <div ng-repeat="map in customFieldsMap track by $index" ng-class="{mtop20: !$first}">
        <div style="font-size: 16px; font-weight: 600;">{{map.meta.label}}</div>
        <autoconfig-form params="map.customFields"
                         ng-if="customFields"
                         model="customFields"
                         plugin-id="map.ref.pluginId"
                         component-id="loadedDesc.id"
                         error-scope="errorScope"
                         qa-selector-prefix="qa_custom-fields_display"
                         view-mode='true'>
        </autoconfig-form>
    </div>
</form>
