<form class="dkuform-horizontal custom-fields-form" ng-scope="{{errorScope = this}}">
    <div block-api-error />
    <div ng-repeat="map in customFieldsMap" class="w100" ng-class="{mtop20: !$first}">
        <div style="font-size: 16px; font-weight: 600;" ng-if="!(componentIndex >= 0)">{{map.meta.label}}</div>
        <autoconfig-form params="map.customFields"
                         model="customFields"
                         plugin-id="map.ref.pluginId"
                         component-id="map.ref.componentId"
                         error-scope="errorScope"
                         qa-selector-prefix="qa_custom-fields-edition_input">
        </autoconfig-form>
    </div>
</form>
