<div class="modal modal3">
    <div dku-modal-header modal-title="Save current filter" modal-class="has-border"/>
    <div class="modal-body">
        <form class="dkuform-modal-wrapper dkuform-modal-horizontal" ng-submit="filter.name && (dismiss() || save(filter))">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                        <input type="text" ng-model="filter.name"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Make filter public</label>
                    <div class="controls">
                        <input type="checkbox" ng-model="filter.scope"   ng-true-value="'SHARED'" ng-false-value="'PRIVATE'" ng-checked="filtering.activeFilter.scope === 'SHARED'" style="width: auto"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer modal-footer-std-buttons">
        <button ng-click="dismiss()" class="btn btn--text btn--secondary">Close</button>
        <button ng-click="dismiss(); save(filter, isSaveAs)" ng-disabled="!filter.name" class="btn btn--text btn--primary">Save</button>
    </div>
</div>
