@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rauwz4');
  src:  url('fonts/icomoon.eot?rauwz4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rauwz4') format('truetype'),
    url('fonts/icomoon.woff?rauwz4') format('woff'),
    url('fonts/icomoon.svg?rauwz4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-FLOW_recipe_visual_fuzzy_join:before {
  content: "\e97c";
}
.icon-FLOW_dataset_adobe_analytics:before {
  content: "\e900";
}
.icon-FLOW_dataset_amazon_redshift:before {
  content: "\e901";
}
.icon-FLOW_dataset_amazon_s3:before {
  content: "\e902";
}
.icon-FLOW_dataset_cassandra:before {
  content: "\e903";
}
.icon-FLOW_dataset_editable_dataset:before {
  content: "\e904";
}
.icon-FLOW_dataset_elastic:before {
  content: "\e905";
}
.icon-FLOW_dataset_emc_greenplum:before {
  content: "\e906";
}
.icon-FLOW_dataset_exadata:before {
  content: "\e907";
}
.icon-FLOW_dataset_folder:before {
  content: "\e908";
}
.icon-FLOW_dataset_ftp_http_ssh:before {
  content: "\e909";
}
.icon-FLOW_dataset_google_big_query:before {
  content: "\e90a";
}
.icon-FLOW_dataset_google_cloud_storage:before {
  content: "\e90b";
}
.icon-FLOW_dataset_hbase:before {
  content: "\e90c";
}
.icon-FLOW_dataset_hdfs:before {
  content: "\e90d";
}
.icon-FLOW_dataset_hp_vertica:before {
  content: "\e90e";
}
.icon-FLOW_dataset_hubspot:before {
  content: "\e90f";
}
.icon-FLOW_dataset_marketo:before {
  content: "\e910";
}
.icon-FLOW_dataset_mircosoft_sql_server:before {
  content: "\e911";
}
.icon-FLOW_dataset_mongo_db:before {
  content: "\e912";
}
.icon-FLOW_dataset_ms_azure_storage:before {
  content: "\e913";
}
.icon-FLOW_dataset_mysql:before {
  content: "\e914";
}
.icon-FLOW_dataset_neo_4j:before {
  content: "\e915";
}
.icon-FLOW_dataset_netezza:before {
  content: "\e916";
}
.icon-FLOW_dataset_oracle:before {
  content: "\e917";
}
.icon-FLOW_dataset_other_sql:before {
  content: "\e918";
}
.icon-FLOW_dataset_postgresql:before {
  content: "\e919";
}
.icon-FLOW_dataset_salesforce:before {
  content: "\e91a";
}
.icon-FLOW_dataset_sap_hana:before {
  content: "\e91b";
}
.icon-FLOW_dataset_server_filesystem:before {
  content: "\e91c";
}
.icon-FLOW_dataset_ssh:before {
  content: "\e91d";
}
.icon-FLOW_dataset_teradata:before {
  content: "\e91e";
}
.icon-FLOW_dataset_twitter:before {
  content: "\e91f";
}
.icon-FLOW_dataset_uncached_ftp:before {
  content: "\e920";
}
.icon-FLOW_dataset_upload:before {
  content: "\e921";
}
.icon-FLOW_model_ml_clustering:before {
  content: "\e922";
}
.icon-FLOW_model_ml_regression:before {
  content: "\e923";
}
.icon-FLOW_other_h2o:before {
  content: "\e924";
}
.icon-FLOW_other_mllib:before {
  content: "\e925";
}
.icon-FLOW_other_ms_power_bi:before {
  content: "\e926";
}
.icon-FLOW_other_qlikview:before {
  content: "\e927";
}
.icon-FLOW_other_spark_scala:before {
  content: "\e928";
}
.icon-FLOW_other_tableau:before {
  content: "\e929";
}
.icon-FLOW_other_tensorflow:before {
  content: "\e92a";
}
.icon-FLOW_recipe_code_hive:before {
  content: "\e92b";
}
.icon-FLOW_recipe_code_impala:before {
  content: "\e92c";
}
.icon-FLOW_recipe_code_pig:before {
  content: "\e92d";
}
.icon-FLOW_recipe_code_pySpark:before {
  content: "\e92e";
}
.icon-FLOW_recipe_code_python_recipe:before {
  content: "\e92f";
}
.icon-FLOW_recipe_code_r_spark:before {
  content: "\e930";
}
.icon-FLOW_recipe_code_R:before {
  content: "\e931";
}
.icon-FLOW_recipe_code_scala_spark:before {
  content: "\e932";
}
.icon-FLOW_recipe_code_shell:before {
  content: "\e933";
}
.icon-FLOW_recipe_code_spark_sql:before {
  content: "\e934";
}
.icon-FLOW_recipe_code_sql:before {
  content: "\e935";
}
.icon-FLOW_recipe_visual_apache_beam:before {
  content: "\e936";
}
.icon-FLOW_recipe_visual_distinct:before {
  content: "\e937";
}
.icon-FLOW_recipe_visual_empty:before {
  content: "\e938";
}
.icon-FLOW_recipe_visual_export:before {
  content: "\e939";
}
.icon-FLOW_recipe_visual_filter_sample:before {
  content: "\e93a";
}
.icon-FLOW_recipe_visual_group:before {
  content: "\e93c";
}
.icon-FLOW_recipe_visual_join:before {
  content: "\e93d";
}
.icon-FLOW_recipe_visual_ml_clustering:before {
  content: "\e93e";
}
.icon-FLOW_recipe_visual_prepare:before {
  content: "\e93f";
}
.icon-FLOW_recipe_visual_push_to_editable:before {
  content: "\e940";
}
.icon-FLOW_recipe_visual_score:before {
  content: "\e941";
}
.icon-FLOW_recipe_visual_sort:before {
  content: "\e942";
}
.icon-FLOW_recipe_visual_split:before {
  content: "\e943";
}
.icon-FLOW_recipe_visual_stack:before {
  content: "\e944";
}
.icon-FLOW_recipe_visual_sync:before {
  content: "\e945";
}
.icon-FLOW_recipe_visual_train:before {
  content: "\e946";
}
.icon-FLOW_recipe_visual_window:before {
  content: "\e947";
}
.icon-FLOW_evaluation_recipe:before {
  content: "\e948";
}
.icon-FLOW_top_n:before {
  content: "\e949";
}
.icon-FLOW_evaluation_recipe_distinct:before {
  content: "\e94a";
}
.icon-FLOW_download_recipe:before {
  content: "\e94b";
}
.icon-FLOW_rmd_recipe:before {
  content: "\e94c";
}
.icon-FLOW_pivot_recipe:before {
  content: "\e94d";
}
.icon-FLOW_other_keras:before {
  content: "\e94e";
}
.icon-FLOW_dataset_snowflake:before {
  content: "\e94f";
}
.icon-FLOW_recipe_julia:before {
  content: "\e950";
}
.icon-FLOW_recipe_merge_folder:before {
  content: "\e951";
}
