<div class="modal modal3 dku-modal new-article-modal" tab-model="modalNav.tab" ng-controller="AddArticleAttachmentsModalController">
    <div dku-modal-header-with-totem modal-class="has-border" modal-title="Add reference" modal-totem="icon-plus">

        <dku-modal-tabs>
            <li class="tab" tab-active="DSS_OBJECT"><a tab-set="DSS_OBJECT">DSS object</a></li>
            <li class="tab" tab-active="FILE"><a tab-set="FILE">File</a></li>
        </dku-modal-tabs>
    </div>
    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body modal-no-sizing" style="padding-top: 30px;">

            <div block-api-error />

            <div ng-if="modalNav.tab == 'DSS_OBJECT'">
                <div class="control-group">
                    <label class="control-label">Project</label>
                    <div class="controls">
                        <div project-key-picker project-key="newAttachment.projectKey" id="projectKeyInput"></div>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Type</label>
                    <div class="controls" ng-switch="taggableTypesWithNoItems">
                        <span ng-switch-default>
                            <div object-type-picker
                                object-type="newAttachment.taggableType"
                                id="objectTypeInput"
                                exclude="taggableTypesWithNoItems"></div>
                            <span class="help-inline"></span>
                        </span>
                    </div>
                </div>

                <div class="control-group" ng-if="newAttachment.taggableType != 'PROJECT' && newAttachment.taggableType && newAttachment.projectKey">
                    <label class="control-label">Object</label>
                    <div class="controls">
                        <div ng-switch on="newAttachment.projectKey" ng-if="newAttachment.taggableType && newAttachment.projectKey">
                            <div object-picker="newAttachment.id"
                                type="{{newAttachment.taggableType}}"
                                project-key="newAttachment.projectKey"
                                error-scope="$parent.$parent"
                                ng-switch-default
                                >
                            </div>
                        </div>
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>


            <div ng-if="modalNav.tab == 'FILE'">
                <droparea drop="drop(files)" class="droparea-style-v2" multiple>
                    <ul class="files" style="min-height: 150px; margin-bottom: 50px; max-height: 300px;">
                        <li ng-repeat="file in uiState.fileProperties track by $index">
                            <div class="file">
                                <i class="icon-file"></i>
                                <span class="path" title="{{ file.path }}">{{ file.path }}</span>
                                <a href="#" class="close" ng-click="deleteFile($index, $event)"><i class="icon-trash"></i></a>
                                <span class="size">{{ file.length|filesize }}</span>
                            </div>
                        </li>
                    </ul>
                    <div class="h100" ng-if="!uiState.fileProperties.length">
                        <div class="preview-cta" >
                            No file yet
                        </div>
                    </div>
                    <div class="upload-hook" ng-class="{'centered-upload-hook':uiState.fileProperties.length ==0}">
                        Drag and drop your files here or
                        <button class="btn btn--contained upload-button">Add a file</button>
                    </div>
                </droparea>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" id="qa_wiki_cancel-reference-button" ng-click="dismiss()">Cancel</button>
            <button type="submit"
                class="btn btn--text btn--primary"
                id="qa_wiki_confirm-attachment-button"
                ng-disabled="(modalNav.tab == 'DSS_OBJECT' && (!newAttachment.taggableType || !newAttachment.projectKey || (newAttachment.taggableType != 'PROJECT' && !newAttachment.id))) || (modalNav.tab == 'FILE' && !uiState.fileProperties.length)"
                ng-click="modalNav.tab == 'DSS_OBJECT' ? addAttachment(newAttachment) : uploadFilesAfterDigest()"
                >
                Add
            </button>
        </div>
    </form>
</div>
