<div class="modal modal3 dku-modal new-article-modal" ng-controller="RenameArticleModalController">
    <div dku-modal-header-with-totem modal-title="Rename article: {{ articleMapping[modifiedArticle.id] }}" modal-totem="icon-file-text" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
            <div block-api-error />


            <div class="control-group">
                <label class="control-label">New name</label>
                <div class="controls">
                    <input name="newName" ng-model="modifiedArticle.name" type="text" required="required" check-unique exclude="alreadyExistingArticleNames" />
                    <span class="help-inline">Must be unique in the project.</span>
                </div>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-disabled="theform.$invalid" ng-click="ok()">Rename</button>
        </div>
    </form>
</div>
