<div ng-if="(!wiki || emptyWiki) && !articleNotFound" class="empty-list-cta">
    <div block-api-error />

    <div ng-if="wiki">
        <h1>
            Empty wiki
        </h1>
        <p>
            Use wikis to document your projects and link contents
        </p>
        <p class="small">
            <span doclink-wrapper page="collaboration/wiki">Read the documentation</span> to learn more
        </p>
        <div>
            <a disabled-if-ro="" class="btn btn--contained btn--large btn--wiki" ng-click="newArticle()">
                <span plus-icon />
                &nbsp;Create your first article
            </a>
        </div>
    </div>
</div>

<div class="horizontal-flex" ng-if="wiki && (!emptyWiki || articleNotFound)" ng-class="{'fh': !isFullScreen()}">
    <div class="wiki-taxonomy noflex"  ng-if="!isFullScreen()" include-no-scope="/templates/wikis/taxonomy.html" />
    <div class="wiki-article flex" ui-view />
</div>
