<div class="dss-page row-fluid offset0">
	<div block-api-error />

	<div class="span2 offset0 nav-list-sidebar sidebar-admin modal-footer-std-buttons" tab-model="uiState.settingsPane">
		<ul>
			<li ng-class="{'l1': true, 'active': $state.includes('admin.security.users')}" full-click>
                <a ui-sref="admin.security.users.list" main-click>Users</a>
            </li>
            <li ng-class="{'l1': true, 'active': $state.includes('admin.security.groups')}" full-click>
                <a ui-sref="admin.security.groups.list" main-click>Groups</a>
            </li>
            <li ng-class="{'l1': true, 'active': $state.includes('admin.security.globalapi')}" full-click>
                <a ui-sref="admin.security.globalapi.list" main-click>Global API keys</a>
            </li>
            <li ng-class="{'l1': true, 'active': $state.includes('admin.security.personalapi')}" full-click>
                <a ui-sref="admin.security.personalapi" main-click>Personal API keys</a>
            </li>
            <li ng-class="{'l1': true, 'active': $state.includes('admin.security.authorizationmatrix')}" full-click>
                <a ui-sref="admin.security.authorizationmatrix" main-click>Authorization Matrix</a>
            </li>
            <li ng-class="{'l1': true, 'active': $state.includes('admin.security.auditbuffer')}" full-click>
                <a ui-sref="admin.security.auditbuffer" main-click>Audit trail</a>
            </li>
		</ul>
	</div>

	 <div class="span10 h100 offset0 boxed-next-to-sidebar no-padding">
	 	<div class="h100 oa" ui-view />
    </div>
</div>
