<div class="standard-container standard-container--full deployment-status padleftright24">
    <div block-api-error />
    <div class="horizontal-flex">
        <div class="standard-container__side mright16 vertical-flex" ng-if="lightStatus && !lightStatus.neverEverDeployed">
            <div project-deployment-card
                 light-status="lightStatus"
                 heavy-status="heavyStatus"
                 class="standard-container__wrap">
            </div>
        </div>
        <div class="m0a" ng-if="lightStatus && lightStatus.neverEverDeployed" ng-if="lightStatus && lightStatus.neverEverDeployed">
            <div class="w800 mx-elevated-box">
                <div class="pad24 tac">
                    <h4 class="font-weight-normal">Ready to deploy and activate</h4>
    
                    <button class="btn btn--primary btn--large" ng-click="updateOnly()">
                        Deploy and Activate
                    </button>
                </div>
            </div>
        </div>
        <div ng-if="lightStatus && !lightStatus.neverEverDeployed" style="flex: 1">
            <div class="mx-elevated-box mbot24" ng-if="heavyStatus && heavyStatus.healthMessages.messages.length">
                <div class="standard-container__section standard-container__section--end">
                    <div info-messages-raw-list-with-alert="heavyStatus.healthMessages" show-reduce-action="true" />
                </div>
            </div>
            <div class="mx-elevated-box">
                <div include-no-scope="/templates/project-deployer/fragments/deployment-scenario-runs.html" />
            </div>
        </div>
    </div>
</div>
