<div class="paned-settings-page-pane">
	<h1>Hadoop</h1>

	<div class="section" ng-if="!appConfig.hadoopEnabled">
        <div class="alert alert-info">
            Hadoop is not enabled. To enable Hadoop, please see <doclink page="/hadoop/index" title="the documentation" />
        </div>
    </div>

    <div ng-if="appConfig.hadoopEnabled">


        <div hadoop-cluster-settings-block settings="generalSettings.hadoopSettings" impersonation-enabled="generalSettings.impersonation.enabled"/>

        <div class="section">
            <h2 id="default-cluster">Default cluster</h2>
             <form class="dkuform-horizontal">
	            <div class="control-group">
	                <label class="control-label">Cluster</label>
	                <div class="controls">
	                    <select dku-bs-select type="text" ng-model="generalSettings.defaultClusterId" ng-options="c.id as c.name for c in clusters"/>
	                    <span class="help-inline">Default cluster to use in projects without a specified cluster. By default, no cluster is set in projects, so they use the globally-defined settings. Useful if you don't have a "global" cluster</span>
	                </div>
	            </div>
        	</form>
        </div>
    </div>
</div>
