<div class="paned-settings-page-pane">
	<h1>Impala</h1>

    <div class="section" ng-if="!appConfig.hadoopEnabled">
        <div class="alert alert-info">
            Hadoop is not enabled. To enable Hadoop, please see <doclink page="/hadoop/index" title="the documentation" />
        </div>
    </div>
    <div ng-if="appConfig.hadoopEnabled">
        <div impala-cluster-settings-block settings="generalSettings.impalaSettings" impersonation-enabled="generalSettings.impersonation.enabled"/>
    </div>
</div>
