<form name="adminGeneralIndexForm" class="row-fluid offset0 dss-page dkuform-horizontal" style="overflow:auto"  global-keydown="{'ctrl-s meta-s':'save()'}" >

        <div block-api-error />

        <div class="span2 offset0 nav-list-sidebar sidebar-admin modal-footer-std-buttons">
            <ul>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.themes'), 'active': $state.is('admin.general.themes')}" full-click>
                    <a main-click ui-sref="admin.general.themes">Themes &amp; Customization</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.globaltags'), 'active': $state.is('admin.general.globaltags')}" full-click>
                    <a main-click ui-sref="admin.general.globaltags">Global tag categories</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.notifications'), 'active': $state.is('admin.general.notifications')}" full-click>
                    <a main-click ui-sref="admin.general.notifications">Notifications &amp; Integrations</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.engines'), 'active': $state.is('admin.general.engines')}" full-click>
                    <a main-click ui-sref="admin.general.engines">Engines &amp; connections</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.flowbuild'), 'active': $state.is('admin.general.flowbuild')}" full-click>
                    <a main-click ui-sref="admin.general.flowbuild">Flow build</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.variables'), 'active': $state.is('admin.general.variables')}" full-click>
                    <a main-click ui-sref="admin.general.variables">Variables</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.hadoop'), 'active': $state.is('admin.general.hadoop')}" full-click>
                    <a main-click ui-sref="admin.general.hadoop">Hadoop</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.hive'), 'active': $state.is('admin.general.hive')}" full-click>
                    <a main-click ui-sref="admin.general.hive">Hive</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.impala'), 'active': $state.is('admin.general.impala')}" full-click>
                    <a main-click ui-sref="admin.general.impala">Impala</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.spark'), 'active': $state.is('admin.general.spark')}" full-click>
                    <a main-click ui-sref="admin.general.spark">Spark</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.metastores'), 'active': $state.is('admin.general.metastores')}" full-click>
                    <a main-click ui-sref="admin.general.metastores">Metastore catalogs</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.containers'), 'active': $state.is('admin.general.containers')}" full-click>
                    <a main-click ui-sref="admin.general.containers">Containerized execution</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.security'), 'active': $state.is('admin.general.security')}" full-click>
                    <a main-click ui-sref="admin.general.security">Login (LDAP, SSO) &amp; Security</a>
                </li>
                <li class="l1" ng-class="{'active': $state.is('admin.general.limits')}" full-click>
                    <a main-click ui-sref="admin.general.limits">Resources control</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.git'), 'active': $state.is('admin.general.git')}" full-click>
                    <a main-click ui-sref="admin.general.git">Git</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.deployer'), 'active': $state.is('admin.general.deployer')}" full-click>
                    <a main-click ui-sref="admin.general.deployer">Deployer</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.eventserver'), 'active': $state.is('admin.general.eventserver')}" full-click ng-if="appConfig.eventServerEnabled" >
                    <a main-click ui-sref="admin.general.eventserver">Event Server</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.audit'), 'active': $state.is('admin.general.audit')}" full-click>
                    <a main-click ui-sref="admin.general.audit">Auditing</a>
                </li>
                <li class="l1" ng-class="{'invalid': invalidTabs.has('admin.general.misc'), 'active': $state.is('admin.general.misc')}" full-click>
                    <a main-click ui-sref="admin.general.misc">Misc.</a>
                </li>
            </ul>
            <button type="button" class="pull-right btn btn--outline btn--primary" style="margin: 10px" ng-disabled="isAdminGeneralIndexFormInvalid() || !dirtySettings()" ng-click="save()">
                <i class="icon-save">&nbsp;</i> Save<span ng-show="!dirtySettings()">d</span>
            </button>
        </div>

        <div class="span10 offset0 boxed-next-to-sidebar no-padding">
            <div ui-view />
        </div>

    </form>
