<div class="modal modal3">
	<div dku-modal-header-with-totem modal-title="Partitioning" modal-totem="icon-question-sign" />
<div class="modal-body" >
	<div ng-if="appConfig.communityEdition" class="ce-unavail" style="margin-bottom: 15px;"> <strong>This feature is not available in DSS Free Edition</strong> 
		<!-- TODO @community CTA -->
	</div>
	<div style="font-size: 0.85em;">
		<p>
			Partitioning is the ability to split a dataset along meaningful dimensions. Each partition contains a subset of the dataset.
		</p>
		<p>
			For example:
		</p>
		<ul>
			<li>
				A database of customers can be partitioned by country.
			</li>
			<li>
				Web logs can be partitioned by day and by the server which generated the log line
			</li>
		</ul>
		<p>Partitions can be used for:</p>
		<ul>
			<li> <strong>Incrementality</strong>
				: When a dataset is partitioned, you don't need to build the full dataset, but instead partition by partition. Only out-of-date partitions need to be rebuilt
			</li>
			<li>
				<strong>Advanced dependencies</strong>
				: Partitioning a dataset allows you to have partition-level dependencies management. Instead of just having the recipe specify that an output dataset depends from an input dataset, you can define what partitions of the input are required to compute a given partition of the output.
		</ul>
		<p>
			More info is available in
			<a href="{{$root.versionDocRoot}}/concepts/">the Concepts page</a>
		</p>
	</div>
</div>
<div class="modal-footer modal-footer-std-buttons">
	<button ng-click="dismiss()" class="btn btn--text btn--secondary">Close</button>
</div>
</div>
