<div class="modal modal3 dku-modal">
    <div dku-modal-header-with-totem modal-title="Secret tools" modal-totem="icon-caret-up" />

    <div class="modal-body">
		<button ng-click="killBackend()" class="btn btn--danger">Kill backend</button>
		<button ng-click="getBackendStacks()" class="btn btn--success">Print backend stacks</button>

		<button ng-click="restartAllHTMLBackends()" class="btn btn--danger margin-td-10">Restart webapps backends</button>
		<button ng-click="runScenarioTriggers()" class="btn btn--success">Run scenario triggers</button>
		<button ng-click="$state.go('blackhole')" class="btn btn--secondary">Go to blackhole</button>

        <br />
        <button ng-click="failAllBackendCalls(true)" class="btn btn--danger">Start fail all backend calls</button>
        <button ng-click="failAllBackendCalls(false)" class="btn btn--success">Stop fail all backend calls</button>
        <br />

        <button class="btn btn--success margin-td-10" ng-click="sendOfflineQueues()">Send user offline queues emails</button>
        <button class="btn btn--success" ng-click="sendDigests()">Send daily digest emails</button>
        <button class="btn btn--success" ng-click="buildUsageSummaryReports()">Build usage summary reports</button>
        <button class="btn btn--success" ng-click="getTriggerQueueingInfo()">Get trigger queueuing info</button>
        <button class="btn btn--success" ng-click="resyncProjectFolders()">Resync Project Folders</button>

        <button ng-click="clearScenarioReportsCaches()" class="btn btn--success">Clear scenario reports cache</button>

        <br />
        Fake activity: <select dku-bs-select ng-change="insertFakeFuture()" ng-model="uiState.fakeFutureType" ng-options="f as f.name for f in fakeFutureTypes"></select>

		<pre class="debug" style="max-width: none; margin-top: 20px">{{retdata}}</pre>
    </div>
</div>