<div class="modal modal3 dku-modal">
    <div dku-modal-header-with-totem modal-title="Mandatory kitty" modal-totem="icon-sun" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <div class="modal-body">
            <img src="/static/dataiku/images/cat.jpg" width="640" height="400" />
        </div>
        <div class="modal-footer modal-footer-std-buttons">
            <button type="submit" class="btn btn--text btn--primary" ng-click="dismiss()">Done</button>
        </div>
    </form>

</div>
