<div class="modal modal3 dku-modal">
    <div dku-modal-header-with-totem modal-title="Surprise endless rocket GIF!" modal-totem="icon-rocket" />

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="theform">
        <video autoplay loop muted playsinline class="w100 mbot16" poster="/static/dataiku/images/deployer/rocket-still.jpg">
            <source src="/static/dataiku/images/deployer/rocket.webm" type="video/webm">
            <img src="/static/dataiku/images/deployer/rocket-still.jpg">
        </video>
        <div class="modal-footer modal-footer-std-buttons">
            <button type="submit" class="btn btn--text" ng-class="{'btn--primary': !leaveMessage.error, 'btn--danger': leaveMessage.error}" ng-click="dismiss()">{{ leaveMessage.msg }}</button>
        </div>
    </form>

</div>
