<div class="horizontal-flex row-fluid object-nav">
	<div class="flex oh object-breadcrumb">
		<a class="item">
			<i class="icon icon-cogs" style="background-color: #427b98; color: white" />
			<span class="title ellipsis">Project variables</span>
		</a>
	</div>
</div>

<div class="dss-page">
	<div class="project-settings-page h100 oa row-fluid">
		<div class="h100 vertical-flex" ng-controller="ProjectSettingsVariablesController" global-keydown="{'ctrl-s meta-s':'saveVariables()'}">
			<div class="fh">
				<div block-api-error></div>
				<div class="vars h100 oa project-settings-page page-top-padding small-lr-padding">
					<div class="text-right">
						<button class="btn btn--outline btn--primary" ng-show="dirtyVariables()" ng-click="saveVariables()">
							<i class="icon-save" />&nbsp;Save
						</button>
						<button class="btn btn--outline btn--primary" disabled ng-show="!dirtyVariables()">
							<i class="icon-save" />&nbsp;Saved
						</button>
					</div>
		
					<fieldset>
						<legend>Global variables</legend>
						<div class="codemirror" style="border: 1px solid #ccc;">
							<textarea ng-model="projectVariables.standardAsJSON"
								ui-codemirror="codeMirrorSettingService.get('application/json')">
							</textarea>
		
						</div>
					</fieldset>
		
					<fieldset>
						<legend>Local variables</legend>
						<p>
							Not exported when bundling the project. Used for overrides
						</p>
						<div class="codemirror" style="border: 1px solid #ccc;">
							<textarea ng-model="projectVariables.localAsJSON"
								ui-codemirror="codeMirrorSettingService.get('application/json')">
							</textarea>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>
