<div class="modal modal3">
    <div dku-modal-header modal-class="has-border" modal-title="Commit and push {{ 'Notebook' | plurify: notebookConflictStatus.nonConflictingNotebooks.length + notebookConflictStatus.conflictingNotebooks.length + notebookConflictStatus.noLongerOnRemoteNotebooks.length}} to git"></div>
    <form name="notebookPushConflict" class="dkuform-modal-wrapper dkuform">
        <div class="modal-body">
            <div block-api-error></div>
            <div ng-show="notebookConflictStatus.nonConflictingNotebooks.length > 0">
                <div class="list-page-4 flex list-page--flat-design">
                    <div class="main-list-zone">

                        <h5 class="dku-small-title-sb mtop0">Ready to be pushed</h5>

                        <ul ng-repeat="notebook in notebookConflictStatus.nonConflictingNotebooks" class="list-items">
                            <li class="list-item no-last-border no-hover">
                                <div class="h100" notebook-conflict-hit no-selection="true" notebook="notebook">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr style="margin-left: -16px; margin-right: -16px;" class="no-margin mbot16" ng-show="notebookConflictStatus.nonConflictingNotebooks.length > 0 && notebookConflictStatus.conflictingNotebooks.length > 0"/>

            <div ng-show="notebookConflictStatus.noLongerOnRemoteNotebooks.length > 0">
                <h5 class="dku-small-title-sb mtop0">Some Notebooks do not appear on the remote git</h5>
                <div class="alert alert-warning horizontal-flex mbot16">
                    <p class="mbot0">Select local Notebooks to create them on their associated remote git.<br />
                        Unselected Notebook won't be pushed to the remote repository.</p>
                </div>
                <div class="list-page-4 flex list-page--flat-design">
                    <div class="main-list-zone">

                        <ul ng-repeat="notebook in notebookConflictStatus.noLongerOnRemoteNotebooks" class="list-items">
                            <li class="list-item no-last-border" full-click>
                                <div class="h100">
                                    <label disable-main-click>
                                        <input main-click type="checkbox" ng-model="notebook.selected"/>
                                    </label>
                                    <div notebook-conflict-hit notebook="notebook" class="h100"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr style="margin-left: -16px; margin-right: -16px;" class="no-margin mbot16" ng-show="notebookConflictStatus.nonConflictingNotebooks.length > 0 && notebookConflictStatus.noLongerOnRemoteNotebooks.length > 0"/>

            <div ng-show="notebookConflictStatus.conflictingNotebooks.length > 0">
                <h5 class="dku-small-title-sb mtop0">Some Notebooks need to be overridden</h5>
                <div class="alert alert-warning horizontal-flex mbot16">
                    <p class="mbot0">Some Notebooks have been modified both in local and in remote.<br />
                        Select local Notebooks that will override their remote counterpart.<br />
                        Unselected Notebooks won't be pushed to the remote repository.</p>
                </div>
                <div class="list-page-4 flex list-page--flat-design">
                    <div class="main-list-zone">

                        <ul ng-repeat="notebook in notebookConflictStatus.conflictingNotebooks" class="list-items">
                            <li class="list-item no-last-border" full-click>
                                <div class="h100">
                                    <label disable-main-click>
                                        <input main-click type="checkbox" ng-model="notebook.selected"/>
                                    </label>
                                    <div notebook-conflict-hit notebook="notebook" class="h100"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mtop8">
                <span style="vertical-align: text-bottom;">Customize commit message</span>
                <label class="dku-toggle">
                    <input type="checkbox" ng-model="customCommitMessage"/>
                    <span></span>
                </label>
                <div ng-if="customCommitMessage" class="mtop16">
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" placeholder="{{getDefaultCommmitMessage()}}" class="w100" ng-model="commitMessage.title"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <textarea class="w100" style="min-height: 60px;" ng-model="commitMessage.content" placeholder="Add an optional extended description…"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <button type="button" class="btn btn--text btn--secondary" ng-click="dismiss()">Cancel</button>
            <button type="submit" class="btn btn--text btn--primary" ng-disabled="hasNoNotebooksSelectedForPush()" ng-click="forcePushNotebooks()">Push {{'Notebook' | plurify: notebookConflictStatus.nonConflictingNotebooks.length + notebookConflictStatus.conflictingNotebooks.length + notebookConflictStatus.noLongerOnRemoteNotebooks.length }}</button>
        </div>
    </form>
</div>
