<div class="getting-started-panel vertical-flex fh h100 w100 " >
    <div class="noflex getting-started-tablist-container">
        <getting-started-tablist tab-item-list="tabItemList" selected-tab-idx="$ctrl.selectedTabIdx"></getting-started-tablist>
    </div>
    <div class="flex oh onboarding-container">
        <div ng-if="$ctrl.selectedTabIdx==0" include-no-scope="/templates/personal-home/getting-started/learn-tab.html"/>

        <div ng-if="$ctrl.selectedTabIdx==1 && wikiOnboarding" class="empty-list-cta">
            <p class="impact-intro">Use wikis to share knowledge</p>
            <p ng-if="!$ctrl.isAdmin()">Create a wiki in a project and then ask your administrator to pin it here.</p>
            <p ng-if="$ctrl.isAdmin()">Share a wiki via <a href="/admin/general/"> Administration / Settings / Themes and Customization</a></p>
        </div>
        <div ng-if="$ctrl.selectedTabIdx!=0 && !wikiOnboarding" class="portal-container fh h100 oh">
            <getting-started-wiki-article is-visible="$ctrl.isVisible" article-id="homeArticles[$ctrl.selectedTabIdx-1].id" project-key="homeArticles[$ctrl.selectedTabIdx-1].projectKey"></getting-started-wiki-article>
        </div>
    </div>
</div>