<div class="coachmark" ng-controller="CoachmarkController">
 <div coachmark-header title="Project navigation"/>
 <div class="content">
   <p>
     Use this menu to explore your project:
   </p>
   <p class="text-center">
     <img style="height: 25px" src="/static/dataiku/images/coachmarks/nav_menu.png"/>
   </p>

   <p>
      You can start by heading to the flow by clicking on the first icon here,
      or on the "go to flow" button on this page.
   </p>

   <p>
      <span learn-link page="portals/concepts-overview"> Learn more about the concepts of DSS.</span>
   </p>

 </div>
 <div coachmark-footer-regular />
 
</div>
