 <div class="coachmark" ng-controller="CoachmarkController">
 	<div class="arrow arrow-left-title" />
 	<div coachmark-header title="Step preview"/>
 	<div class="content">
 		<p>You are currently seeing a <strong>preview</strong> of the impact of your step.</p>

 		<p>DSS shows how much your step modifies your data, and every change made is highlighted:</p>

 		<ul>
			<li>Modified data appears in blue</li>
			<li>Deleted rows appear in strike-through</li>
			<li>...</li>
 		</ul>
 		<p>
 			If you are satisfied with your changes, you can disable preview.
 		</p>

 		<p class="text-center">
 			<img src="/static/dataiku/images/coachmarks/step-preview.png" />
 		</p>
 		<p>
 			At any time, you can click the <strong>eye icon</strong> of a step to view the impact of this step. Subsequent steps will be temporarily disabled.
 		</p>
 		<p>
 			<small>Disabling preview is not mandatory, you can keep adding steps, and DSS will always show the impact
 			of the last one</small>
 		</p>
 	</div>

  <div coachmark-footer-regular />
 </div>
