<li class="detailed-dropdown-menu__item" ng-click="showCreateCodeWebAppModal()">
    <i class="detailed-dropdown-menu__item-icon icon-code universe-color recipe-code" />
    <div class="detailed-dropdown-menu__item-info">
        <div class="detailed-dropdown-menu__item-title">Code Webapp</div>
        <div class="detailed-dropdown-menu__item-description">Write a fully custom visualization or interactive app.</div>
    </div>
</li>
<li class="detailed-dropdown-menu__item" 
        ng-click="hasVisualWebapps && showCreateVisualWebAppModal()"
        toggle="tooltip"
        data-placement="bottom"
        title="{{hasVisualWebapps === false ? 'No visual webapp has been installed yet. They are provided by plugins. You can install them from the Dataiku store or create your own.' : ''}}" 
        ng-class="{'disabled': hasVisualWebapps === false}">
    <i class="detailed-dropdown-menu__item-icon icon-eye universe-color recipe-visual" />
    <div class="detailed-dropdown-menu__item-info">
        <div class="detailed-dropdown-menu__item-title">Visual Webapp</div>
        <div class="detailed-dropdown-menu__item-description">Reuse a parametrized visualization or app, without code.</div>
    </div>
</li>
