<div class="modal modal3 modal-wide webapp-creation-modal visual-webapp-creation-modal" ng-controller="NewWebAppModalController" auto-size="false">
    <div dku-modal-header modal-title="{{loadedWebApp ? 'New webapp ' + app.name : 'New Visual Webapp' }}"/>

    <form class="dkuform-modal-horizontal dkuform-modal-wrapper" name="appForm">
        <div class="modal-body webapp-creation-modal__body" ng-class="{ 'webapp-creation-modal__body--with-faded-bottom': visualWebApps.length > 5, 'modal-no-sizing': !loadedWebApp }">
            <div block-api-error />

            <div class="modal__step-header webapp-creation-modal__step-header" ng-show="!loadedWebApp">
                <div class="webapp-creation-modal__search-box">
                    <span class="add-on"><i class="icon-dku-search"></i></span>
                    <input type="search" ng-model="searchFilter" placeholder="Search webapps…">
                </div>
            </div>
            <div class="webapp-creation-modal-step webapp-creation-modal-step--with-header" ng-show="!loadedWebApp">
                <ul class="selectable-items-list">
                    <li ng-repeat="desc in visualWebApps"
                        class="selectable-item selectable visual-webapp-type"
                        ng-click="chooseType(desc.id)"
                        ng-show="searchFilter.length === 0 || (searchFilter.length > 0 && (desc.meta.description.toLowerCase().includes(searchFilter.toLowerCase()) || desc.meta.label.toLowerCase().includes(searchFilter.toLowerCase())))"
                        ng-class="{ selected: app.type == desc.id }">
                        <i class="universe-color flow {{desc.meta.icon}} visual-webapp-type__icon"></i>
                        <div class="visual-webapp-type-meta">
                            <span class="selectable-item__title">{{desc.meta.label}}</span>
                            <div ng-bind-html="desc.meta.description" class="selectable-item__description"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- If we are previewing the creation of pre-selected webapp -->
            <div class="webapp-creation-modal-step webapp-creation-modal-step--with-header webapp-creation-modal-step--loaded-webapp" ng-show="loadedWebApp">
                <ul class="selectable-items-list">
                    <li class="selectable-items-list selectable visual-webapp-type" ng-click="chooseType(desc.id)">
                        <i class="universe-color flow {{loadedWebApp.desc.meta.icon}} visual-webapp-type__icon"></i>
                        <div class="visual-webapp-type-meta">
                            <span class="selectable-item__title">{{loadedWebApp.desc.meta.label}}</span>
                            <div ng-bind-html="loadedWebApp.desc.meta.description" class="selectable-item__description"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal-footer modal-footer-std-buttons">
            <div class="pull-right">
                <button class="btn btn--text btn--primary" ng-disabled="appForm.$invalid || isCreating" ng-click="create()">
                    Create
                </button>
            </div>
            <div class="webapp-creation-modal__name pull-right">
                <div class="control-group">
                    <label class="control-label" for="webapp-name">Webapp name</label>
                    <div class="controls">
                        <input type="text" id="webapp-name" ng-model="app.name" required/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
