<div class="container-fluid summary-tab" style="margin-top: 10px;">
    <div block-api-error />
    <div class="row-fluid" ng-if="app && app.id">
        <div class="span8" scrollable-to-bottom>
            <div class="summary"
                 editable-summary
                 editable="canWriteProject()"
                 object="app"
                 object-type="WEB_APP"
                 get-tags="getTags"
                 object-interest="interest"
                 tag-color="tagColor">
            </div>
        </div>
        <div class="span4">
            <div object-timeline-with-post
                 object-type="'WEB_APP'"
                 project-key="$stateParams.projectKey"
                 object-id="$stateParams.webAppId"
                 initial-timeline="timeline" />
        </div>
    </div>
</div>