<div ng-if="$containerInfo && $containerInfo.type == 'KUBERNETES'" ng-scope="{{errorScope = this}}">
    <div class="control-group">
        <label class="control-label">Pod enhancer</label>
        <div class="controls">
            <select dku-bs-select ng-model="uiState.runnableType" ng-options="s.runnableType as s.desc.meta.label for s in uiState.runnableTypes"></select>
        </div>
    </div>
    <autoconfig-form params="$yamlModifier.desc.params"
                     model="yamlModifier.config"
                     plugin-id="$yamlModifier.ownerPluginId"
                     component-id="$yamlModifier.id"
                     error-scope="errorScope">
    </autoconfig-form>
</div>