<div class="models-filter-box" style="padding: 5px 15px 0 5px;">
    <form class="dkuform-horizontal">
        <div class="control-group">
            <label class="control-label" for="doneOnly">
                Successfully trained only
            </label>
            <div class="controls">
                <input type="checkbox"
                    id="doneOnly"
                    ng-model="selection.filterQuery.trainInfo.state"
                    ng-true-value="'DONE'"
                    ng-false-value=""/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="starredOnly">
                Starred only
            </label>
            <div class="controls">
                <input type="checkbox"
                    id="starredOnly"
                    ng-model="selection.filterQuery.userMeta.starred"
                    ng-true-value="true"
                    ng-false-value=""
                    />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="notStarred">
                Not Starred only
            </label>
            <div class="controls">
                <input id="notStarred"
                    type="checkbox"
                    ng-model="selection.filterQuery.userMeta.starred"
                    ng-true-value="false"
                    ng-false-value=""
                />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="filterAlgorithms">Filter by algorithm</label>
            <div class="controls">
                <input type="checkbox" id="filterAlgorithms" ng-model="uiState.filterAlgorithms" ng-change="!uiState.filterAlgorithms&&resetCategories()"/>
            </div>
        </div>
        <div class="control-group" ng-if="uiState.filterAlgorithms" ng-init="selection.customFilter=algorithmsFilter">
            <label class="control-label">Select algorithms</label>
            <div class="controls">
                <label ng-repeat="category in algorithmCategoriesWithOthers" ng-init="selection.filterCategory[category]=false">
                    <input type="checkbox"
                        ng-model="selection.filterCategory[category]"
                           ng-true-value="false"
                           ng-false-value="true"/>
                    {{category}}
                </label>
            </div>
        </div>
    </form>
</div>
<!--
        <div class="{{userMode.mode=='ALL'?'span5':'ng-hide'}} sessionFilters">
            <fieldset ng-class="{'active-filter':filterUI.sessionFilter}">
                <legend>Session</legend>
            </fieldset>
            <div class="sessionList">
                <div
                    ng-repeat="session in sessions | orderBy:'-createdOn'"
                    ng-click="session.filtered=!session.filtered"
                    class="sessionItem {{session.filtered?'selected':''}}">
                    <span class="{{session.filtered?'icon-check':'icon-unchecked'}}">&nbsp;&nbsp;</span>
                    <span> {{session.createdOn | date:'yyyy-MM-dd HH:mm:ss'}} </span>
                    &nbsp;&nbsp;
                </div>
            </div>
        </div>

    </div>
</div>-->
