<div class="{{getClassName()}}" ng-click="setFocus($event)" ng-class="{focus: hasFocus()}">
    <div class="tag" ng-class="{active: tagIndex == $index}" ng-click="selectTag($event, $index)" ng-repeat="tag in tags track by $index">{{ tag }}
        <i class="icon-remove" ng-click="deleteTag($event, $index)"></i></div>
    <div ng-model="newTag" suggestions="suggestGS({q:q})" suggestion-blur="inputBlur" callback="addSuggestion(value, event)" placeholder="{{ placeholder }}" no-scroll-to-me="true"></div>
    <input type="text" class="fake" style="position:absolute; left:-1000px; right:-1000px; z-index: -1" />
</div>