<span ng-show="key == 'NEVER_EXECUTED'">because they were <strong>never executed</strong></span>
<span ng-show="key == 'HAS_REQUIRED_DEPS'">because they <strong>depend on other</strong></span>
<span ng-show="key == 'NON_RECURSIVE_FORCED_BUILD'">because you selected a <strong>forced build</strong></span>
<span ng-show="key == 'FORCED_RECURSIVE_BUILD'">because you selected a <strong>forced build</strong></span>
<span ng-show="key == 'TARGET_DATASET_SETTINGS_HAVE_CHANGED'">because the settings of a <strong>target dataset</strong> changed</span>
<span ng-show="key == 'RECIPE_HAS_CHANGED'">because the <strong>recipe has changed</strong></span>
<span ng-show="key == 'SOURCE_DATASET_HAS_CHANGED'">because a <strong>source dataset</strong> has changed</span>
<span ng-show="key == 'SOURCE_DATA_OUT_OF_DATE'">because <strong>source data</strong> has changed</span>
