<div class="modal modal3" style="width: 700px;">
    <div dku-modal-header-with-totem modal-title="Update streaming endpoint" modal-totem="icon-play" />

	<form class="dkuform-modal-horizontal build-dataset-form dkuform-modal-wrapper disablable" ng-disabled="isBuildingDataset">

		<div class="modal-body" style="width:100%;">
			<div class="buildDataset" style="margin: 10px 0 0 110px;">
				<div class="control-group">
					<label for="" class="control-label">Handling of dependencies</label>
					<div class="controls">
						<select dku-bs-select ng-model="compute.mode" style="height: inherit; margin: 0;" ng-options="x[0] as x[1] for x in buildModes"/>
					</div>
				</div>
				<div block-api-error />
			</div>
		</div>
		<div class="modal-footer modal-footer-std-buttons">
			<div class="pull-right">
				<button type="button" class="btn btn-default" ng-click="startJobPreview()">
					<i class="icon-dku-search"></i>
					Preview
				</button>
				<button type="submit" class="btn-primary btn" ng-click="startJob()">
					Build streaming endpoint
				</button>
			</div>
		</div>

	</form>

</div>