@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x92fse');
  src:  url('fonts/icomoon.eot?x92fse#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x92fse') format('truetype'),
    url('fonts/icomoon.woff?x92fse') format('woff'),
    url('fonts/icomoon.svg?x92fse#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-dku-charts_text_type:before {
  content: "\e600";
}
.icon-DKU_filter_text_view:before {
  content: "\e601";
}
.icon-DKU_close:before {
  content: "\e602";
}
.icon-DKU_edit:before {
  content: "\e603";
}
.icon-DKU_hexa_view:before {
  content: "\e604";
}
.icon-DKU_move_to:before {
  content: "\e605";
}
.icon-DKU_publish:before {
  content: "\e606";
}
.icon-DKU_schedule_jobs:before {
  content: "\e607";
}
.icon-DKU_search:before {
  content: "\e608";
}
.icon-DKU_upload_dataset:before {
  content: "\e609";
}
.icon-DKU_user_profile:before {
  content: "\e60a";
}
.icon-DKU_nav_analysis:before {
  content: "\e60b";
}
.icon-DKU_nav_dashboard:before {
  content: "\e60c";
}
.icon-DKU_nav_dataset:before {
  content: "\e60d";
}
.icon-DKU_nav_flow:before {
  content: "\e914";
}
.icon-DKU_jobs:before {
  content: "\e60f";
}
.icon-DKU_nav_notebook:before {
  content: "\e610";
}
.icon-DKU_color_picker_1:before {
  content: "\e611";
}
.icon-DKU_quick_go_input-output:before {
  content: "\e612";
}
.icon-DKU_quick_go_input:before {
  content: "\e613";
}
.icon-DKU_quick_go_output:before {
  content: "\e614";
}
.icon-DKU_recipe_code_sample:before {
  content: "\e615";
}
.icon-DKU_script_drag_group:before {
  content: "\e616";
}
.icon-DKU_script_drag_step:before {
  content: "\e617";
}
.icon-DKU_union_recipe_download:before {
  content: "\e618";
}
.icon-DKU_color_picker_2:before {
  content: "\e620";
}
.icon-DKU_documentation:before {
  content: "\e61a";
}
.icon-DKU_faq:before {
  content: "\e61b";
}
.icon-DKU_import_project:before {
  content: "\e61c";
}
.icon-DKU_update:before {
  content: "\e61d";
}
.icon-DKU_tutorial:before {
  content: "\e61e";
}
.icon-DKU_new_project:before {
  content: "\e61f";
}
.icon-DKU_sample_project:before {
  content: "\e619";
}
.icon-DKU_prepare:before {
  content: "\e900";
}
.icon-DKU_modelize:before {
  content: "\e901";
}
.icon-DKU_hive:before {
  content: "\e902";
}
.icon-DKU_explore:before {
  content: "\e903";
}
.icon-DKU_sql:before {
  content: "\e904";
}
.icon-DKU_python:before {
  content: "\e905";
}
.icon-DKU_r:before {
  content: "\e906";
}
.icon-DKU_lab:before {
  content: "\e907";
}
.icon-DKU_impala:before {
  content: "\e908";
}
.icon-DKU_download:before {
  content: "\e909";
}
.icon-DKU_spark_scala:before {
  content: "\e90e";
}
.icon-DKU_dashboard:before {
  content: "\e90a";
}
.icon-DKU_promote:before {
  content: "\e90b";
}
.icon-DKU_promote_empty:before {
  content: "\e90f";
}
.icon-DKU_fullscreen:before {
  content: "\e90c";
}
.icon-DKU_quite_fullscreen:before {
  content: "\e90d";
}
.icon-DKU_web_app:before {
  content: "\e910";
}
.icon-DKU_activity:before {
  content: "\e911";
}
.icon-DKU_conflict:before {
  content: "\e912";
}
.icon-DKU_macro:before {
  content: "\e913";
}
.icon-DKU_share:before {
  content: "\e915";
}
.icon-DKU_add_to_dashboard:before {
  content: "\e916";
}
.icon-DKU_bokeh:before {
  content: "\e917";
}
.icon-DKU_case_sensitive:before {
  content: "\e918";
}
.icon-DKU_split_method:before {
  content: "\e919";
}
.icon-DKU_file_zip:before {
  content: "\e91a";
}
.icon-DKU_file_image:before {
  content: "\e91b";
}
.icon-DKU_save_as:before {
  content: "\e91c";
}
.icon-DKU_multi_select:before {
  content: "\e91d";
}
.icon-DKU_select_checked:before {
  content: "\e91e";
}
.icon-DKU_partitioned:before {
  content: "\e91f";
}
.icon-DKU_rmd:before {
  content: "\e920";
}
.icon-DKU_expand:before {
  content: "\e921";
}
.icon-DKU_resolve:before {
  content: "\e922";
}
.icon-DKU_wiki:before {
  content: "\e923";
}
.icon-DKU_weight:before {
  content: "\e924";
}
.icon-DKU_gpu_card:before {
  content: "\e925";
}
.icon-DKU_handle:before {
  content: "\e926";
}
.icon-DKU_code:before {
  content: "\e927";
}
.icon-DKU_more:before {
  content: "\e928";
}
.icon-DKU_apps:before {
  content: "\e929";
}
.icon-DKU_help:before {
  content: "\e92a";
}
.icon-DKU_reveal:before {
  content: "\e92b";
}
.icon-DKU_projects:before {
  content: "\e92c";
}
.icon-DKU_plugins:before {
  content: "\e92d";
}
.icon-DKU_meanings:before {
  content: "\e92e";
}
.icon-DKU_previous:before {
  content: "\e92f";
}
.icon-DKU_project:before {
  content: "\e930";
}
.icon-DKU_queued:before {
  content: "\e931";
}
.icon-DKU_loader:before {
  content: "\e932";
}
.icon-DKU_pause:before {
  content: "\e933";
}
.icon-DKU_error:before {
  content: "\e934";
}
.icon-DKU_warning:before {
  content: "\e935";
}
.icon-DKU_success:before {
  content: "\e936";
}
.icon-DKU_fields:before {
  content: "\e937";
}
.icon-DKU_skip:before {
  content: "\e938";
}
.icon-DKU_select_downstream:before {
  content: "\e939";
}
.icon-DKU_select_upstream:before {
  content: "\e93a";
}
.icon-DKU_collapse_downstream:before {
  content: "\e93b";
}
.icon-DKU_collapse_upstream:before {
  content: "\e93c";
}
.icon-DKU_Discussions:before {
  content: "\e93d";
}
.icon-DKU_GDPR:before {
  content: "\e93e";
}
.icon-DKU_Expand-all:before {
  content: "\e940";
}
.icon-DKU_collapse-all:before {
  content: "\e93f";
}
.icon-DKU_github:before {
  content: "\e941";
}
.icon-DKU_git-folder:before {
  content: "\e942";
}
.icon-DKU_git-file:before {
  content: "\e943";
}
.icon-DKU_clone:before {
  content: "\e944";
}
.icon-DKU_copy:before {
  content: "\e945";
}
.icon-DKU_paste:before {
  content: "\e946";
}
.icon-DKU_julia:before {
  content: "\e947";
}
.icon-DKU_julia-recipe:before {
  content: "\e948";
}
.icon-DKU_dynamoDB:before {
  content: "\e949";
}
.icon-DKU_rightpanel_info:before {
  content: "\e94a";
}
.icon-DKU_rightpanel_actions:before {
  content: "\e94b";
}
.icon-DKU_rightpanel_discussions:before {
  content: "\e94c";
}
.icon-DKU_rightpanel_schema:before {
  content: "\e94d";
}
.icon-DKU_rightpanel_preview:before {
  content: "\e94e";
}
.icon-DKU_timeries_segmenting:before {
  content: "\e94f";
}
.icon-DKU_timeseries_window:before {
  content: "\e950";
}
.icon-DKU_timeseries_resample:before {
  content: "\e951";
}
.icon-DKU_timeseries_extremum-extraction:before {
  content: "\e952";
}
.icon-DKU_athena:before {
  content: "\e953";
}
.icon-dku-statistics:before {
  content: "\e954";
}
.icon-dku-supported:before {
  content: "\e955";
}
.icon-dku-half-supported:before {
  content: "\e956";
}
.icon-recipe_stack_folder:before {
  content: "\e957";
}
.icon-zone-arrow:before {
  content: "\e958";
}
.icon-unshare_to_zone:before {
  content: "\e959";
}
.icon-move_to_zone:before {
  content: "\e95a";
}
.icon-add_zone:before {
  content: "\e95d";
}
.icon-share_to_zone:before {
  content: "\e95e";
}
.icon-go_to_original:before {
  content: "\e95f";
}
.icon-go_to_usage:before {
  content: "\e960";
}
.icon-zone:before {
  content: "\e961";
}
.icon-distinct:before {
  content: "\e962";
}
.icon-range:before {
  content: "\e963";
}
.icon-log-distribution:before {
  content: "\e964";
}
.icon-uniform-distribution:before {
  content: "\e965";
}
.icon-amazon-comprehend:before {
  content: "\e966";
}
.icon-amazon-elastic-kubernetes:before {
  content: "\e967";
}
.icon-amazon-emr:before {
  content: "\e968";
}
.icon-amazon-rekognition:before {
  content: "\e969";
}
.icon-amazon-sagemaker:before {
  content: "\e96a";
}
.icon-amazon-translate:before {
  content: "\e96b";
}
.icon-aws:before {
  content: "\e96c";
}
.icon-azure:before {
  content: "\e96d";
}
.icon-azure-ml:before {
  content: "\e96e";
}
.icon-azure-cognitive-services:before {
  content: "\e96f";
}
.icon-azure-kubernetes-services:before {
  content: "\e970";
}
.icon-gcp-cloud-automl:before {
  content: "\e971";
}
.icon-gcp-cloud-dataproc:before {
  content: "\e972";
}
.icon-gcp-cloud-vision-api:before {
  content: "\e973";
}
.icon-gcp-kubernetes-engine:before {
  content: "\e974";
}
.icon-gcp-natural-language-api:before {
  content: "\e975";
}
.icon-gcp-translation-api:before {
  content: "\e976";
}
.icon-gcp:before {
  content: "\e977";
}
.icon-automl-clustering:before {
  content: "\e978";
}
.icon-automl-prediction:before {
  content: "\e979";
}
.icon-deeplearning-prediction:before {
  content: "\e97a";
}
.icon-dku-rightpanel-lab:before {
  content: "\e97b";
}
.icon-spark:before {
  content: "\e95b";
}
.icon-kafka:before {
  content: "\e95c";
}
.icon-dku-app:before {
  content: "\e97c";
}
.icon-alibaba-cloud:before {
  content: "\e97d";
}
.icon-apsaradb:before {
  content: "\e97e";
}
.icon-oss:before {
  content: "\e97f";
}
.icon-dku-ksldb:before {
  content: "\e980";
}
.icon-dku-server:before {
  content: "\e981";
}
.icon-dku-sqs:before {
  content: "\e982";
}
.icon-dku-infinity:before {
  content: "\e983";
}
.icon-dku-ksldb-recipe:before {
  content: "\e984";
}
.icon-dku-application-as-recipe:before {
  content: "\e985";
}
.icon-dku-ksldb-recipe-2:before {
  content: "\e986";
}
.icon-infra:before {
  content: "\e987";
}
.icon-api-service:before {
  content: "\e988";
}
.icon-bundle:before {
  content: "\e989";
}
.icon-push-api-services:before {
  content: "\e98a";
}
.icon-push-bundle:before {
  content: "\e98b";
}
.icon-pushed-api-service:before {
  content: "\e98c";
}
.icon-pushed-bundle:before {
  content: "\e98d";
}
.icon-deploy-api-service:before {
  content: "\e98e";
}
.icon-deploy-bundle:before {
  content: "\e98f";
}
.icon-deployed-api-service:before {
  content: "\e990";
}
.icon-deployed-bundle:before {
  content: "\e991";
}
.icon-array:before {
  content: "\e992";
}
.icon-function:before {
  content: "\e993";
}
.icon-map:before {
  content: "\e994";
}
.icon-object:before {
  content: "\e995";
}
.icon-string:before {
  content: "\e996";
}
.icon-true-false:before {
  content: "\e997";
}
.icon-variable:before {
  content: "\e998";
}
.icon-dku-plotly:before {
  content: "\e999";
}
.icon-dku-fuzzy-recipe:before {
  content: "\e99a";
}
.icon-SER:before {
  content: "\e99b";
}
.icon-icon-MES:before {
  content: "\e99c";
}
.icon-dku-out-of-sync:before {
  content: "\e99d";
}
.icon-git-edit:before {
  content: "\e99e";
}
.icon-git-add:before {
  content: "\e99f";
}
.icon-azure-synapse:before {
  content: "\e9a0";
}
.icon-git-unlink:before {
  content: "\e9a1";
}
.icon-icon-column:before {
  content: "\e9a2";
}
.icon-dku-rightpanel-timeline:before {
  content: "\e9a3";
}
.icon-git-import:before {
  content: "\e9a4";
}
.icon-api-version:before {
  content: "\e9a5";
}
.icon-dku-timeseries-decomposition:before {
  content: "\e9a6";
}
