<div class="modal modal3 modal-wide">
    <div dku-modal-header modal-title="New SQL recipe" modal-class="has-border" />
<div class="modal-body" ng-init="preselectLeft = true;">
    <div class="row-fluid">
        <p style="margin-bottom: 15px;">
            DSS has "SQL query" and "SQL script" recipes.
            For more information, please <doclink page="/code_recipes/sql" title="see the documentation" />
        </p>
    </div>
    <div class="row-fluid tiles-select-one-of" >
        <div class="span6 tile-select-one-of" full-click ng-class="{'preselected': preselectLeft}" style="height: 300px;  padding: 0.5 em; position:relative">
            <h4 class="text-center">SQL query</h4>

            <h5 style="color: #2AB1AC; text-align: center">Recommended for most use cases</h5>

            <ul style="margin-top: 20px; font-size: 13px">

                <li>Can write output to any kind of dataset</li>
                <li style="margin-bottom: 15px">Runs 100% in-database when output is in database</li>

                <li>DSS handles table creation/drop</li>
                <li style="margin-bottom: 15px">Automatic code validation</li>

                <li>Supports most SQL constructs</li>
                <li>Does not support CTE ("WITH") expressions</li>
            </ul>
            <div class="text-center modal-footer modal-footer-std-buttons" style="margin: 1em; position: absolute; bottom: 0; text-align: center; width: 100%;">
                <button main-click class="btn btn--text btn--success" ng-click="dismiss(); showCreateCodeBasedModal('sql_query', preselectedInputDataset, zone)">Create</button>
            </div>
        </div>
        <div class="span6 tile-select-one-of" full-click style="height: 300px; padding: 0.5 em; position: relative" ng-mouseenter="preselectLeft=false">
            <h4 class="text-center">SQL script</h4>
            <h5 style="color: #2AB1AC; text-align: center">&nbsp;</h5>


            <ul style="margin-top: 20px; font-size: 13px">
                <li>Can only write to the database</li>
                <li style="margin-bottom: 15px">Always runs 100% in-database</li>

                <li>You have to handle table creation/drop</li>
                <li style="margin-bottom: 15px">No code validation</li>

                <li>Supports arbitrarily complex SQL scripts</li>
                <li>Use for cases not covered by SQL query</li>
            </ul>
            <div class="text-center modal-footer modal-footer-std-buttons" style="margin: 1em; position: absolute; bottom: 0; text-align: center; width: 100%;">
                <button main-click class="btn btn--text btn--success" ng-click="dismiss(); showCreateCodeBasedModal('sql_script', preselectedInputDataset, zone)">Create</button>
        </div>
        </div>
    </div>
</div>
</div>