<li>
	<a href="{{ $state.href('projects.project.recipes.recipe', {recipeName: object.name }); }}#">
	<i class="icon-fixed-width icon-edit"></i>
		Open
	</a>
</li>
<li>
	<a ng-click="deleteFlowItem()">
		<span class="text-error"> <i class="icon-fixed-width icon-trash"></i>
			Delete
		</span>
	</a>
</li>

<li ng-if="object.predecessors.length || object.successors.length || hasPredecessorsInOtherZone(object) || hasSuccessorsInOtherZone(object)" class="divider"></li>
<li ng-if="object.predecessors.length || hasPredecessorsInOtherZone(object)">
	<a ng-click="selectPredecessors(object)"  ng-mouseover="previewSelectPredecessors(object)" ng-mouseleave="endPreviewBranch()">
		<i class="icon-fixed-width icon-DKU_select_upstream" />
		Select all upstream
	</a>
</li>

<li ng-if="object.successors.length || hasSuccessorsInOtherZone(object)" ng-mouseover="previewSelectSuccessors(object)" ng-mouseleave="endPreviewBranch()">
	<a ng-click="selectSuccessors(object)">
		<i class="icon-fixed-width icon-DKU_select_downstream" />
		Select all downstream
	</a>
</li>

<li ng-if="object.predecessors.length || object.successors.length" class="divider"></li>
<li ng-if="object.predecessors.length">
	<a ng-click="foldPredecessors(object)" ng-mouseover="previewFoldPredecessors()" ng-mouseleave="endPreviewBranch()">
		<i class="icon-fixed-width icon-DKU_collapse_upstream" />
		Hide all upstream
	</a>
</li>

<li ng-if="object.successors.length">
	<a ng-click="foldSuccessors(object)" ng-mouseover="previewFoldSuccessors()" ng-mouseleave="endPreviewBranch()">
		<i class="icon-fixed-width icon-DKU_collapse_downstream" />
		Hide all downstream
	</a>
</li>

<li ng-if="!tool.type" class="divider"></li>
<li ng-if="!tool.type">
	<a ng-click="propagateSchema()">
		<i class="icon-fixed-width icon-list" />
		Update output schema(s) of this recipe
	</a>
</li>

<li ng-if="tool.type == 'CHECK_CONSISTENCY'">
	<a ng-click="propagateSchema()">
		<i class="icon-fixed-width icon-list" />
		Update output schema(s) of this recipe
	</a>
</li>
<li disabled-if-ro ng-if="tool.type != 'PROPAGATE_SCHEMA' && object.predecessors.length == 1 && object.predecessors[0].indexOf('dataset_') ==0" >
	<a ng-click="startPropagateToolFromRecipe(object)">
		<i class="icon-fixed-width icon-list" />
		Propagate schema across Flow from here
	</a>
</li>

<!-- Tools specific -->
<li ng-if="tool.type == 'TAGS' && tool.user.getFocusedAsList().length" class="divider" />
<li class="horizontal-flex" disabled-if-ro ng-if="tool.type == 'TAGS' && tool.user.getFocusedAsList().length == 1" >
	<a class="oh mx-textellipsis" ng-click="tool.actions.setTags(tool.user.getFocusedAsList(), [object], 'TOGGLE');">
		<i class="icon-fixed-width icon-tag"/>
		Toggle tag <strong>{{tool.user.getSingleFocused()}}</strong>
	</a>
</li>
<li disabled-if-ro ng-if="tool.type == 'TAGS' && tool.user.getFocusedAsList().length > 1" >
	<a class="oh" ng-click="tool.actions.setTags(tool.user.getFocusedAsList(), [object], 'ADD');">
		<i class="icon-fixed-width icon-tag"/>

		<span ng-if="tool.user.getFocusedAsList().length == 1">
			Add tag <strong>{{tool.user.getFocusedAsList()[0]}}</strong>
		</span>
		<span ng-if="tool.user.getFocusedAsList().length > 1">
			Add <strong>{{tool.user.getFocusedAsList().length}} tags</strong>
		</span>
	</a>
</li>
<li class="oh" disabled-if-ro ng-if="tool.type == 'TAGS' && tool.user.getFocusedAsList().length > 1" >
	<a ng-click="tool.actions.setTags(tool.user.getFocusedAsList(), [object], 'REMOVE');">
		<i class="icon-fixed-width icon-tag"/>

		<span ng-if="tool.user.getFocusedAsList().length == 1">
			Remove tag <strong>{{tool.user.getFocusedAsList()[0]}}</strong>
		</span>
		<span ng-if="tool.user.getFocusedAsList().length > 1">
			Remove <strong>{{tool.user.getFocusedAsList().length}} tags</strong>
		</span>
	</a>
</li>


<li ng-if="tool.type == 'RECIPES_ENGINES' && isMultiEngine(object)" class="divider"></li>
<li disabled-if-ro ng-if="tool.type == 'RECIPES_ENGINES' && isMultiEngine(object)" >
	<a ng-click="changeSelectedRecipesEngines()">
		<i class="icon-cogs"/>
		Change engine
	</a>
</li>


<li ng-if="tool.type == 'SPARK_CONFIG' && canSpark(object)" class="divider"></li>
<li disabled-if-ro ng-if="tool.type == 'SPARK_CONFIG' && canSpark(object)" >
	<a ng-click="changeSelectedSparkConfig()">
		<i class="icon-code_spark_scala_recipe"/>
		Change Spark config
	</a>
</li>


<li ng-if="tool.type == 'SPARK_PIPELINES' && canSpark(object)" class="divider"></li>
<li disabled-if-ro ng-if="tool.type == 'SPARK_PIPELINES' && canSpark(object)" >
	<a ng-click="changeSelectedSparkPipelineability()">
		<i class="icon-forward"/>
		Set pipelineability
	</a>
</li>

<li ng-if="tool.type == 'SQL_PIPELINES'" class="divider"></li>
<li disabled-if-ro ng-if="tool.type == 'SQL_PIPELINES'" >
	<a ng-click="changeSelectedSqlPipelineability()">
		<i class="icon-forward"/>
		Set pipelineability
	</a>
</li>


<li ng-if="!tool.type">
	<a ng-click="buildFromRecipe(object.name)">
		<i class="icon-fixed-width icon-play" />
		Build Flow outputs reachable from here
	</a>
</li>


<li ng-if="tool.type == 'PROPAGATE_SCHEMA' && tool.user.canMarkRecipeAsOK(object.name)"  class="divider"></li>

<li ng-if="tool.type == 'PROPAGATE_SCHEMA' && tool.user.canMarkRecipeAsOK(object.name)">
	<a ng-click="tool.user.markRecipeAsOK(object.name)">
		<i class="icon-cog" />
		Mark as OK
	</a>
</li>

<li ng-if="tool.type == 'CHECK_CONSISTENCY'" class="divider"></li>

<li ng-if="tool.type == 'CHECK_CONSISTENCY'">
	<a ng-click="tool.user.markAsOK([object])">
		<i class="icon-cog" />
		Mark as OK
	</a>
</li>
<li ng-if="tool.type == 'CHECK_CONSISTENCY' && tool.user.canRecheck([object])">
	<a ng-click="tool.user.recheck([object])">
		<i class="icon-refresh" />
		Recheck
	</a>
</li>

