<li disabled-if-ro>
	<a ng-click="editZone()" id="qa_context_menu_edit_zone">
		<i class="icon-fixed-width icon-pencil" />
		Edit
	</a>
</li>
<li>
	<a ng-click="openZone(getSelectedTaggableObjectRefs())">
		<i class="icon-fixed-width icon-DKU_expand" />
		Open
	</a>
</li>
<li>
	<a ng-click="toggleZoneCollapse(getSelectedTaggableObjectRefs())">
		<i class="icon-fixed-width {{object.customData.isCollapsed ? 'icon-resize-full' : 'icon-resize-small'}}"/>
		{{object.customData.isCollapsed ? 'Expand' : 'Collapse'}}
	</a>
</li>
<li ng-if="object.name !== 'default'">
	<a disabled-if-ro class="text-error" ng-click="deleteFlowItem()" id="qa_context_menu_delete_zone">
		<i class="icon-fixed-width icon-trash" />
		Delete
	</a>
</li>
<li class="divider"></li>
<li>
    <a ng-click="collapseAllZones()">
        <i class="icon-fixed-width icon-resize-small" />
        Collapse all
    </a>
</li>
<li>
    <a ng-click="expandAllZones()">
        <i class="icon-fixed-width icon-resize-full" />
        Expand all
    </a>
</li>